/*
Theme Name: Ignis Child
Theme URI: https://athemes.com/theme/ignis/
Template: ignis
Author: aThemes.com
Author URI: https://athemes.com
Description: Ignis is a modern portfolio theme that features a custom home page template for displaying your projects, color and font options, multiple blog layouts and much more. In order to use the portfolio feature in Ignis, you need to have Jetpack installed.
Tags: portfolio,blog,two-columns,right-sidebar,custom-colors,full-width-template,custom-background,custom-header,custom-menu,custom-logo,featured-images,sticky-post,theme-options,threaded-comments,translation-ready
Version: 1.0.6.1581090521
Updated: 2020-02-07 16:48:41

*/

.post-thumbnail {
    display:none;
}

.imgDiv {
    background-color: #fff;
    color: #000;
}
.imgDiv p {
    padding: 1em 2em;
}
#vocale {
    width: 100%;
}
#video {
    text-align: center;
}
.vocaleTesto {
    padding-top: 30px;
    width: 100%;
    height: auto;
    background-color: #fff;
}
.vocale {
    background-color: #fff;
}
nav.navigation,.post-navigation {
    display:none;
}