/* ==========================================================================
   Search Post Type widget style - begin
   ========================================================================== */
.widget.mkdf-search-post-type-widget {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  line-height: 0;
}

.widget.mkdf-search-post-type-widget .mkdf-search-post-type {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.widget.mkdf-search-post-type-widget .mkdf-post-type-search-results {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: auto;
  display: none;
  background-color: #fff;
  z-index: 99;
}

.widget.mkdf-search-post-type-widget .mkdf-post-type-search-results ul {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 10px 20px;
  line-height: 0;
  box-sizing: border-box;
}

.widget.mkdf-search-post-type-widget .mkdf-post-type-search-results ul li {
  display: block;
  width: 100%;
}

.widget.mkdf-search-post-type-widget .mkdf-search-icon,
.widget.mkdf-search-post-type-widget .mkdf-search-loading {
  position: absolute;
  right: 20px;
  top: calc(50% - 9px);
  font-size: 18px;
  color: #000000;
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.widget.mkdf-search-post-type-widget .mkdf-search-icon.mkdf-hidden,
.widget.mkdf-search-post-type-widget .mkdf-search-loading.mkdf-hidden {
  opacity: 0;
}

/* ==========================================================================
   Search Post Type widget style - end
   ========================================================================== */

/*# sourceMappingURL=search-post-type-widget-map.css.map */
