.site-header {
    border: 1px solid rgb(0, 0, 0);
    position: absolute;
}

.post-location {
    background-color: #00C1CF!important;
    float: left!important;
    width: 11em;
}

.Ironia {
    background-image: url(/wp-content/uploads/2020/01/ironia.svg)!important;
    background-size: contain!important;
    background-repeat: no-repeat!important;
    background-position: left!important;
    background-color: #E5BB0A!important;
}

.Musica {
    background-image: url(/wp-content/uploads/2020/01/musica.svg)!important;
    background-size: contain!important;
    background-repeat: no-repeat!important;
    background-position: left!important;
    background-color: #1dd63c!important;
}

.Arte {
    background-image: url(/wp-content/uploads/2020/01/arte.svg)!important;
    background-size: contain!important;
    background-repeat: no-repeat!important;
    background-position: left!important;
    background-color: #fb9700!important;
}

.Benessere {
    background-image: url(/wp-content/uploads/2020/01/benessere.svg)!important;
    background-size: contain!important;
    background-repeat: no-repeat!important;
    background-position: left!important;
    background-color: #ef0e0e!important;
}

.Tecnologia {
    background-image: url(/wp-content/uploads/2020/01/robot.svg)!important;
    background-size: contain!important;
    background-repeat: no-repeat!important;
    background-position: left!important;
    background-color: #0037ff!important;
}

.Sport {
    background-image: url(/wp-content/uploads/2020/01/sport.svg)!important;
    background-size: contain!important;
    background-repeat: no-repeat!important;
    background-position: left!important;
    background-color: #01adc8!important;
}

#button2 {
    float: left;
    background-color: transparent;
}

#button3 {
    float: right;
    background-color: transparent;
}

#primary-menu li a {
    font-size: 18px;
    margin-top: 10px;
}

#primary-menu li a img {
    margin: 0px auto -1rem;
    max-width: 50px;
}


/*#primary-menu > li:first-child {
   background-image: url(/wp-content/uploads/2020/01/home-solid.svg);
    background-position: top;
    background-size: 50%;
    background-repeat: no-repeat;
    
}

#primary-menu > li:nth-child(2) {
   background-image: url(/wp-content/uploads/2020/01/noun_Blog_344220-2.svg);
    background-position: top;
    background-size: 60%;
    background-repeat: no-repeat;
    
}

#primary-menu > li:nth-child(3) {
   background-image: url(/wp-content/uploads/2020/01/noun_write_1863500-1.svg);
    background-position: top;
    background-size: 20%;
    background-repeat: no-repeat;
    
}

#primary-menu > li:nth-child(4) {
   background-image: url(/wp-content/uploads/2020/01/capsules-solid.svg);
    background-position: top;
    background-size: 35%;
    background-repeat: no-repeat;
    
}
*/

#primary-menu li a:hover {
    color: #000;
    font-weight: 800;
    text-decoration: none;
}

.ignis-hero-area {
    background-color: #ffffff;
}

.header-text {
    padding: 0px;
}

.post-post {
    border-radius: 20px 20px 0px 0px;
}

.post-category>div {
    width: 70%;
    float: right;
}

.post-text {
    background-color: #ffffff!important;
    border-radius: 0px 0px 20px 20px;
    border: 1px solid;
}

#ProgettiHome3 {
    display: none;
}

#ProgettiHome2 {
    display: block;
}

#recenti3 {
    display: none;
}

#recenti2 {
    display: block;
}

#ProgettiHome2>div>ul>li {
    width: 30%;
    margin-bottom: 2%;
    margin-right: 1.5%;
    margin-left: 1.5%;
}

#ProgettiHome2>div>ul>li:first-child {
    width: 30%;
    margin-left: 35%!important;
    margin-right: 35%;
}

#ProgettiHome3>div>ul>li:nth-child(2):hover {
    background-image: url('/wp-content/uploads/2020/01/arte.svg');
    background-size: 20%;
    background-color: #fb9700;
    background-repeat: no-repeat;
    background-position: 20px;
}

#ProgettiHome3>div>ul>li:nth-child(3):hover {
    background-image: url('/wp-content/uploads/2020/01/benessere.svg');
    background-size: contain;
    background-color: #ef0e0e;
    background-repeat: no-repeat;
    background-position: 10px;
}

#ProgettiHome3>div>ul>li:nth-child(4):hover {
    background-image: url('/wp-content/uploads/2020/01/ironia.svg');
    background-size: contain;
    background-color: #E5BB0A;
    background-repeat: no-repeat;
    background-position: 10px;
}

#ProgettiHome3>div>ul>li:nth-child(5):hover {
    background-image: url('/wp-content/uploads/2020/01/musica.svg');
    background-size: contain;
    background-color: #1dd63c;
    background-repeat: no-repeat;
    background-position: 10px;
}

#ProgettiHome3>div>ul>li:nth-child(6):hover {
    background-image: url('/wp-content/uploads/2020/01/sport.svg');
    background-size: contain;
    background-color: #01adc8;
    background-repeat: no-repeat;
    background-position: 10px;
}

#ProgettiHome3>div>ul>li:last-child:hover {
    background-image: url('/wp-content/uploads/2020/01/robot.svg');
    background-size: contain;
    background-color: #0f07ff;
    background-repeat: no-repeat;
    background-position: 10px;
}

#ProgettiHome3 ul:last-child {
    position: absolute;
    top: -83px;
    left: 47%;
}

#ProgettiHome3>div>ul>li {
    width: 30%;
    margin-bottom: 2%;
    margin-right: 1.5%;
    margin-left: 1.5%;
}

#ProgettiHome3>div>ul>li:first-child {
    width: 30%;
    margin-left: 35%!important;
    margin-right: 35%;
}

#ProgettiHome3>div>ul>li:nth-child(2):hover {
    background-image: url('/wp-content/uploads/2020/01/arte.svg');
    background-size: 20%;
    background-color: #fb9700;
    background-repeat: no-repeat;
    background-position: 20px;
}

#ProgettiHome3>div>ul>li:nth-child(3):hover {
    background-image: url('/wp-content/uploads/2020/01/benessere.svg');
    background-size: contain;
    background-color: #ef0e0e;
    background-repeat: no-repeat;
    background-position: 10px;
}

#ProgettiHome3>div>ul>li:nth-child(4):hover {
    background-image: url('/wp-content/uploads/2020/01/ironia.svg');
    background-size: contain;
    background-color: #E5BB0A;
    background-repeat: no-repeat;
    background-position: 10px;
}

#ProgettiHome3>div>ul>li:nth-child(5):hover {
    background-image: url('/wp-content/uploads/2020/01/musica.svg');
    background-size: contain;
    background-color: #1dd63c;
    background-repeat: no-repeat;
    background-position: 10px;
}

#ProgettiHome3>div>ul>li:nth-child(6):hover {
    background-image: url('/wp-content/uploads/2020/01/sport.svg');
    background-size: contain;
    background-color: #01adc8;
    background-repeat: no-repeat;
    background-position: 10px;
}

#ProgettiHome3>div>ul>li:last-child:hover {
    background-image: url('/wp-content/uploads/2020/01/robot.svg');
    background-size: contain;
    background-color: #0f07ff;
    background-repeat: no-repeat;
    background-position: 10px;
}

#ProgettiHome3 ul:last-child {
    position: absolute;
    top: -83px;
    left: 47%;
}

#VicinoAMe>button {
    width: 60%;
    font-size: 17px;
    font-style: normal;
}

#VicinoAMe>button>i {
    font-size: 20px;
}

.typed-cursor {
    display: none;
}

#ProgettiHome .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner {
    height: 1.5rem;
}

.home-cerca {
    float: right;
    color: #9b9798;
}

.home-cerca div {
    background-color: #f0f1f6!important;
}

div.home-cerca input[type=submit] {
    display: none;
}

div.home-cerca input[type=search] {
    border-radius: 25px;
    background-image: url(/wp-content/uploads/2020/01/search-solid.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 170px;
}

footer {
    background-color: #000000;
    padding-bottom: 20px!important;
}

footer h4 {
    color: #ffffff!important;
}

footer a {
    margin: 0 auto;
    display: block;
}

.footer-facebook {
    position: relative;
}

.footer-facebook:before {
    content: "\f082";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    /*--adjust as necessary--*/
    color: #4267B2;
    font-size: 18px;
}

.footer-twitter {
    position: relative;
}

.footer-twitter:before {
    content: "\f081";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    /*--adjust as necessary--*/
    color: #1DA1F2;
    font-size: 18px;
}

.footer-instagram {
    position: relative;
}

.footer-instagram:before {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
    content: "\f16d";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    /*--adjust as necessary--*/
    font-size: 18px;
}

footer hr {
    border: 1px solid;
}

.entry-footer {
    display: none;
}

.gmw-single-location-wrapper>h3 {
    display: none
}

.gmw-single-location-wrapper>div {
    width: 100%!important;
}

.gmw-sl-directions-link-wrapper {
    display: none
}

.gmw-iw-wrapper>h3 {
    display: none;
}

div .gmw-info-window.standard.sl {
    min-width: 100px;
    min-height: 50px;
}

div .gmw-sl-address.gmw-sl-element {
    text-align: center;
}

@media (max-width: 1200px) {
    #primary-menu li a {
        opacity: 0;
    }
    #primary-menu>li:first-child {
        background-image: url(/wp-content/uploads/2020/01/home-solid.svg);
        background-position: top;
        background-size: 8%;
        background-repeat: no-repeat;
    }
    #primary-menu>li:nth-child(2) {
        background-image: url(/wp-content/uploads/2020/01/noun_Blog_344220-2.svg);
        background-position: top;
        background-size: 8%;
        background-repeat: no-repeat;
    }
    #primary-menu>li:nth-child(3) {
        background-image: url(/wp-content/uploads/2020/01/noun_write_1863500-1.svg);
        background-position: top;
        background-size: 8%;
        background-repeat: no-repeat;
    }
    #primary-menu>li:nth-child(4) {
        background-image: url(/wp-content/uploads/2020/01/capsules-solid.svg);
        background-position: top;
        background-size: 8%;
        background-repeat: no-repeat;
    }
    .post-category>div {
        width: 90%;
    }
}


/*tablet*/

@media (max-width: 768px) {
    .site-header {
    border: 0px solid rgb(0, 0, 0);
    position: absolute;
}
    .btn-menu {
        text-align: right;
    }
    .vc_responsive .vc_grid-filter {
    width: 60%;
    float: right;
    display: block !important;
    }
    .left {
        float: left!important;
    }
    .post-category>div {
        width: 100%;
    }
    div.home-cerca input[type=search] {
    background-position: 150px;
}
.display-none {
    display:none!important;
}
}