/* ==========================================================================
   Header styles - begin
   ========================================================================== */
/* ==========================================================================
   Header styles - begin
   ========================================================================== */
.mkdf-page-header {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  z-index: 110;
  box-sizing: border-box;
  /* ==========================================================================
    #General header layout - start
    ========================================================================== */
  /* ==========================================================================
    #General header layout - end
    ========================================================================== */
  /* ==========================================================================
    #Logo area styles - start
    ========================================================================== */
  /* ==========================================================================
    #Logo area styles - end
    ========================================================================== */
  /* ==========================================================================
    #Menu area styles - start
    ========================================================================== */
  /* ==========================================================================
    #Menu area styles - end
    ========================================================================== */
  /* ==========================================================================
    #Specific styles - start
    ========================================================================== */
  /* ==========================================================================
    #Specific styles - end
    ========================================================================== */
}

.mkdf-page-header a img {
  display: block;
}

.mkdf-page-header p {
  margin: 0;
}

.mkdf-page-header .mkdf-vertical-align-containers {
  padding: 0 40px;
}

.mkdf-paspartu-enabled .mkdf-page-header .mkdf-vertical-align-containers {
  padding: 0;
}

.mkdf-page-header .mkdf-grid {
  height: 100%;
}

.mkdf-page-header .mkdf-grid .mkdf-vertical-align-containers {
  padding: 0;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.mkdf-page-header .mkdf-logo-area {
  position: relative;
  height: 100px;
  overflow: hidden;
  background-color: #fff;
}

.mkdf-page-header .mkdf-logo-area .mkdf-logo-wrapper a {
  max-height: 100px;
}

.mkdf-page-header .mkdf-menu-area {
  position: relative;
  height: 100px;
  background-color: #fff;
  box-sizing: border-box;
}

.mkdf-boxed .mkdf-page-header .mkdf-menu-area {
  padding: 0;
}

.mkdf-page-header .mkdf-menu-area .mkdf-logo-wrapper a {
  max-height: 100px;
}

.mkdf-page-header .mkdf-menu-area .widget {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.mkdf-logo-area-border-disable .mkdf-page-header .mkdf-logo-area {
  border: none;
}

.mkdf-logo-area-in-grid-border-disable .mkdf-page-header .mkdf-logo-area .mkdf-grid .mkdf-vertical-align-containers {
  border: none;
}

.mkdf-header-logo-area-in-grid-padding .mkdf-page-header .mkdf-logo-area .mkdf-vertical-align-containers {
  padding: 0 25px;
}

.mkdf-menu-area-shadow-disable .mkdf-page-header .mkdf-menu-area {
  box-shadow: none;
}

.mkdf-menu-area-shadow-disable .mkdf-page-header .mkdf-menu-area .mkdf-grid .mkdf-vertical-align-containers {
  box-shadow: none;
}

.mkdf-menu-area-border-disable .mkdf-page-header .mkdf-menu-area {
  border: none;
}

.mkdf-menu-area-in-grid-border-disable .mkdf-page-header .mkdf-menu-area .mkdf-grid .mkdf-vertical-align-containers {
  border: none;
}

.mkdf-header-logo-area-in-grid-padding .mkdf-page-header .mkdf-menu-area .mkdf-vertical-align-containers {
  padding: 0 25px;
}

/* ==========================================================================
#Light header - begin
========================================================================== */
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-logo-wrapper .mkdf-light-logo {
  opacity: 1;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-logo-wrapper .mkdf-normal-logo,
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-logo-wrapper .mkdf-dark-logo {
  opacity: 0;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area {
  color: #fff !important;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget {
  color: #fff !important;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget p,
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget a,
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget span,
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget i,
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget .widgettitle {
  color: #fff !important;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget a:hover {
  color: rgba(255, 255, 255, 0.7) !important;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area {
  color: #fff !important;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget {
  color: #fff !important;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget p,
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget a,
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget span,
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget i,
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget .widgettitle {
  color: #fff !important;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget a:hover {
  color: rgba(255, 255, 255, 0.7) !important;
}

/* ==========================================================================
#Light header - end
========================================================================== */
/* ==========================================================================
#Dark header - begin
========================================================================== */
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-logo-wrapper .mkdf-dark-logo {
  opacity: 1;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-logo-wrapper .mkdf-normal-logo,
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-logo-wrapper .mkdf-light-logo {
  opacity: 0;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area {
  color: #000000 !important;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget {
  color: #000000 !important;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget p,
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget a,
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget span,
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget i,
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget .widgettitle {
  color: #000000 !important;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget a:hover {
  color: rgba(0, 0, 0, 0.7) !important;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area {
  color: #000000 !important;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget {
  color: #000000 !important;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget p,
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget a,
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget span,
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget i,
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget .widgettitle {
  color: #000000 !important;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget a:hover {
  color: rgba(0, 0, 0, 0.7) !important;
}

/* ==========================================================================
#Dark header - end
========================================================================== */
/* ==========================================================================
   Header end - end
   ========================================================================== */
/* ==========================================================================
   Header logo styles - begin
   ========================================================================== */
.mkdf-logo-wrapper {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}

.mkdf-logo-wrapper a {
  position: relative;
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
}

.mkdf-logo-wrapper a img {
  height: 100%;
  width: auto;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.mkdf-logo-wrapper a img.mkdf-normal-logo {
  opacity: 1;
}

.mkdf-logo-wrapper a img.mkdf-dark-logo {
  opacity: 0;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%);
}

.mkdf-logo-wrapper a img.mkdf-light-logo {
  opacity: 0;
  -webkit-transform: translateY(-200%);
  -moz-transform: translateY(-200%);
  transform: translateY(-200%);
}

/* ==========================================================================
   Header logo styles - end
   ========================================================================== */
/* ==========================================================================
   Header main menu style - begin
   ========================================================================== */
.mkdf-main-menu {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 100%;
  width: auto;
}

.mkdf-main-menu ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.mkdf-main-menu ul li {
  position: relative;
  display: inline-block;
  float: left;
  padding: 0;
  margin: 0;
}

.mkdf-main-menu ul li a {
  font-size: 15px;
  line-height: 24px;
  color: #575757;
  letter-spacing: .33em;
  font-family: "Lora", serif;
}

.mkdf-main-menu ul li a:hover {
  color: #aaaaaa;
}

.mkdf-main-menu ul li a i:before {
  margin: 0 7px 0 0;
}

.mkdf-main-menu ul li a .menu_icon_wrapper {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.mkdf-main-menu ul li a .mkdf-menu-featured-icon {
  position: absolute;
  top: 0;
  right: -10px;
  color: #f7775e;
  font-size: 10px;
  margin: 0;
}

.mkdf-main-menu ul li a .mkdf-menu-featured-icon.icon_star {
  font-family: ElegantIcons;
}

.mkdf-main-menu ul li a .mkdf-menu-featured-icon:before {
  margin: 0;
}

.mkdf-main-menu ul li ul li a .mkdf-menu-featured-icon {
  position: relative;
  top: -6px;
  right: 0;
}

.mkdf-main-menu > ul {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 100%;
}

.mkdf-main-menu > ul > li {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.mkdf-main-menu > ul > li > a {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: top;
  padding: 0 14px;
  color: #000000;
  font-size: 10px;
  font-weight: 500;
  line-height: 23px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.mkdf-main-menu > ul > li > a:hover {
  color: #aaaaaa;
}

.mkdf-main-menu > ul > li > a > span.item_outer {
  position: relative;
  display: block;
}

.mkdf-main-menu > ul > li > a > span.item_outer .item_text {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.mkdf-main-menu > ul > li.mkdf-active-item > a {
  color: #aaaaaa;
}

.mkdf-main-menu > ul > li.has_sub > a .mkdf-menu-arrow {
  display: none;
}

.mkdf-light-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) {
  box-sizing: border-box;
}

.mkdf-light-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-main-menu > ul > li > a {
  color: #fff;
}

.mkdf-light-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-main-menu > ul > li > a:hover {
  color: rgba(255, 255, 255, 0.7);
}

.mkdf-light-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-main-menu > ul > li.mkdf-active-item > a {
  color: rgba(255, 255, 255, 0.7);
}

.mkdf-dark-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-main-menu > ul > li > a {
  color: #000000;
}

.mkdf-dark-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-main-menu > ul > li > a:hover {
  color: rgba(0, 0, 0, 0.7);
}

.mkdf-dark-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-main-menu > ul > li.mkdf-active-item > a {
  color: rgba(0, 0, 0, 0.7);
}

/* Narrow drop down styles
   ========================================================================== */
.mkdf-drop-down .second {
  position: absolute;
  display: block;
  left: -10px;
  top: 100%;
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
  z-index: 10;
  -webkit-transition: top 0.15s ease-out;
  -moz-transition: top 0.15s ease-out;
  transition: top 0.15s ease-out;
}

.mkdf-drop-down .second.mkdf-drop-down-start {
  visibility: visible;
  overflow: visible;
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.mkdf-drop-down .second.right {
  right: -5px;
  left: auto;
}

.mkdf-drop-down .second .inner {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
  z-index: 997;
  border: 1px solid #f3f3f3;
}

.mkdf-drop-down .second .inner ul li {
  display: block;
  float: none;
  height: auto;
}

.mkdf-drop-down .second .inner ul li .widget {
  width: 100%;
  margin: 0 !important;
}

.mkdf-drop-down .second .inner ul li a {
  display: block;
  float: none;
  margin: 0;
  padding: 5px 21px 5px 22px;
  font-size: 15px;
  text-transform: capitalize;
  letter-spacing: .02em;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.mkdf-drop-down .second .inner ul li a .item_outer {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0 30px 0 0;
  box-sizing: border-box;
  -webkit-transition: padding 0.2s ease-in-out;
  -moz-transition: padding 0.2s ease-in-out;
  transition: padding 0.2s ease-in-out;
}

.mkdf-drop-down .second .inner ul li a:before {
  content: '\25CF';
  color: #f7775e;
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: absolute;
  left: 15px;
}

.mkdf-drop-down .second .inner ul li a:hover {
  position: relative;
  padding-left: 35px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.mkdf-drop-down .second .inner ul li a:hover:before {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  left: 20px;
}

.mkdf-drop-down .second .inner ul li.current-menu-ancestor > a,
.mkdf-drop-down .second .inner ul li.current-menu-item > a {
  color: #f7775e;
}

.mkdf-drop-down .second .inner ul li.current-menu-ancestor > a:before,
.mkdf-drop-down .second .inner ul li.current-menu-item > a:before {
  display: none;
}

.mkdf-drop-down .second .inner ul li.current-menu-ancestor > a:hover,
.mkdf-drop-down .second .inner ul li.current-menu-item > a:hover {
  padding-left: 22px;
}

.mkdf-drop-down .second .inner ul li.current-menu-ancestor > a .item_outer,
.mkdf-drop-down .second .inner ul li.current-menu-item > a .item_outer {
  padding: 0 10px 0 0;
}

.mkdf-drop-down .second .inner ul li.current-menu-ancestor > a .item_outer:before,
.mkdf-drop-down .second .inner ul li.current-menu-item > a .item_outer:before {
  left: 0;
}

.mkdf-drop-down .second .inner ul li.sub > a .item_outer:after {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  top: -1px;
  right: 0;
  content: '\f3d3';
  font-family: 'Ionicons';
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mkdf-drop-down .second .inner ul.right li a:before {
  right: 5px;
  left: auto;
}

.mkdf-drop-down .second .inner ul.right li a .item_outer {
  padding: 0 0 0 30px;
}

.mkdf-drop-down .second .inner ul.right li a .item_outer:before {
  content: '';
}

.mkdf-drop-down .second .inner ul.right li a:hover {
  padding-left: 22px;
}

.mkdf-drop-down .second .inner ul.right li a:hover:before {
  right: 25px;
  left: auto;
}

.mkdf-drop-down .second .inner ul.right li a:hover .item_outer {
  padding: 0 20px 0 10px;
}

.mkdf-drop-down .second .inner ul.right li a:hover .item_outer:before {
  left: auto;
  right: 0;
}

.mkdf-drop-down .second .inner ul.right li.current-menu-ancestor > a:hover:before,
.mkdf-drop-down .second .inner ul.right li.current-menu-item > a:hover:before {
  display: none;
}

.mkdf-drop-down .second .inner ul.right li.current-menu-ancestor > a .item_outer,
.mkdf-drop-down .second .inner ul.right li.current-menu-item > a .item_outer {
  padding: 0 0 0 10px;
}

.mkdf-drop-down .second .inner ul.right li.current-menu-ancestor > a .item_outer:before,
.mkdf-drop-down .second .inner ul.right li.current-menu-item > a .item_outer:before {
  left: auto;
  right: 0;
}

.mkdf-drop-down .second .inner ul.right li.sub > a .item_outer:after {
  right: auto;
  left: 0;
  content: "\f3d2";
}

.mkdf-drop-down .second .inner ul.right li a {
  text-align: right;
}

.mkdf-drop-down .second .inner ul.right li ul {
  left: -100%;
}

.mkdf-drop-down li.left_position .second {
  left: 0;
}

.mkdf-drop-down li.right_position .second {
  left: auto;
  right: 0;
}

.mkdf-drop-down > ul > li:hover > .second {
  z-index: 20;
}

.mkdf-drop-down .narrow .second .inner ul {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background-color: #fff;
  padding: 14px 0 18px;
}

.mkdf-drop-down .narrow .second .inner ul li {
  width: 210px;
}

.mkdf-drop-down .narrow .second .inner ul li ul {
  position: absolute;
  left: 100%;
  top: -14px;
  height: auto;
  opacity: 0;
  overflow: hidden;
  z-index: 10;
  -webkit-transform: translateZ(0);
  -webkit-transition: opacity 0.4s ease-out;
  -moz-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
  border: 1px solid #f3f3f3;
  padding: 14px 0 18px;
}

.mkdf-drop-down .narrow .second .inner ul li:hover ul {
  z-index: 20;
  opacity: 1;
}

.mkdf-drop-down .narrow .second .inner ul.right li ul {
  left: -100%;
}

/* Wide drop down styles
   ========================================================================== */
.mkdf-drop-down .wide .second .inner {
  background-color: #fff;
  text-align: center;
}

.mkdf-drop-down .wide .second .inner ul li a {
  padding: 5px 0;
}

.mkdf-drop-down .wide .second .inner ul li a:before {
  left: -10px;
}

.mkdf-drop-down .wide .second .inner ul li a:hover {
  padding-left: 15px;
}

.mkdf-drop-down .wide .second .inner ul li a:hover:before {
  left: 0;
}

.mkdf-drop-down .wide .second .inner ul li.current-menu-item a:before {
  display: none;
}

.mkdf-drop-down .wide .second .inner ul li.current-menu-item a:hover {
  padding-left: 0;
}

.mkdf-drop-down .wide .second .inner ul li ul {
  position: relative;
  display: block;
  top: 0;
  left: 0;
  visibility: visible;
}

.mkdf-drop-down .wide .second .inner ul li ul li:last-child a {
  padding-bottom: 0;
}

.mkdf-drop-down .wide .second .inner > ul {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 45px 0;
  box-sizing: border-box;
  width: 100%;
}

.mkdf-wide-dropdown-menu-content-in-grid .mkdf-drop-down .wide .second .inner > ul {
  width: 1100px;
}

@media only screen and (min-width: 1400px) {
  .mkdf-grid-1300.mkdf-wide-dropdown-menu-content-in-grid .mkdf-drop-down .wide .second .inner > ul {
    width: 1300px;
  }
}

@media only screen and (min-width: 1367px) {
  .mkdf-grid-1200.mkdf-wide-dropdown-menu-content-in-grid .mkdf-drop-down .wide .second .inner > ul {
    width: 1200px;
  }
}

@media only screen and (min-width: 1200px) {
  .mkdf-grid-1000.mkdf-wide-dropdown-menu-content-in-grid .mkdf-drop-down .wide .second .inner > ul {
    width: 1000px;
  }
}

@media only screen and (min-width: 1024px) {
  .mkdf-grid-800.mkdf-wide-dropdown-menu-content-in-grid .mkdf-drop-down .wide .second .inner > ul {
    width: 800px;
  }
}

.mkdf-drop-down .wide .second .inner > ul > li {
  float: left;
  width: 25%;
  margin: 0;
  padding: 0 35px;
  box-sizing: border-box;
}

.mkdf-drop-down .wide .second .inner > ul > li:nth-child(4n+1) {
  clear: both;
  border-left: 0;
}

.mkdf-drop-down .wide .second .inner > ul > li > a {
  padding: 0 0 13px;
  color: #000000;
  font-size: 14px;
  line-height: 1.1em;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.mkdf-drop-down .wide .second .inner > ul > li > a:hover {
  padding-left: 0;
}

.mkdf-drop-down .wide .second .inner > ul > li > a:before {
  content: '';
}

.mkdf-drop-down .wide .second .inner > ul > li > a.no_link {
  cursor: default;
}

.mkdf-drop-down .wide .second .inner > ul > li > a .item_outer {
  padding: 0;
  overflow: inherit;
}

.mkdf-drop-down .wide .second .inner > ul > li > a .item_outer:before, .mkdf-drop-down .wide .second .inner > ul > li > a .item_outer:after {
  display: none;
}

.mkdf-drop-down .wide.left_position .second .inner > ul, .mkdf-drop-down .wide.right_position .second .inner > ul {
  width: auto;
  white-space: nowrap;
}

.mkdf-drop-down .wide.left_position .second .inner > ul > li, .mkdf-drop-down .wide.right_position .second .inner > ul > li {
  float: none;
  display: inline-block;
  vertical-align: top;
}

.mkdf-drop-down .wide.left_position .second .inner > ul > li:nth-child(4n+1), .mkdf-drop-down .wide.right_position .second .inner > ul > li:nth-child(4n+1) {
  border-left: none;
}

.mkdf-drop-down .wide.left_position .second ul li, .mkdf-drop-down .wide.right_position .second ul li {
  width: 220px;
  overflow: hidden;
}

/* ==========================================================================
   Header main menu style - end
   ========================================================================== */
/* ==========================================================================
   Fixed header style - begin
   ========================================================================== */
.mkdf-page-header .mkdf-fixed-wrapper.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
  z-index: 120;
}

.admin-bar .mkdf-page-header .mkdf-fixed-wrapper.fixed {
  top: 32px;
}

.mkdf-page-header .mkdf-fixed-wrapper.fixed .mkdf-menu-area {
  background-color: #fff;
  border-bottom: 1px solid #f3f3f3;
}

/* ==========================================================================
   Fixed header style - end
   ========================================================================== */
/* ==========================================================================
   Header Bottom style - begin
   ========================================================================== */
.mkdf-header-bottom .mkdf-page-header .mkdf-bottom-menu-right-widget-holder {
  display: inline-block;
}

.mkdf-header-bottom .mkdf-position-left-inner {
  height: 100%;
}

@media only screen and (min-width: 1025px) {
  .mkdf-header-bottom .mkdf-slider-fixed {
    position: fixed;
    display: inline-block;
    width: 100%;
    height: 100%;
    z-index: 99;
    top: 42px;
    left: 0;
  }
  .mkdf-header-bottom .mkdf-top-bar {
    position: fixed;
    top: 0;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s;
  }
  .mkdf-header-bottom .mkdf-content-inner > .mkdf-full-width,
  .mkdf-header-bottom .mkdf-content-inner > .mkdf-default-page-template {
    background-color: #fff;
  }
  .mkdf-header-bottom:not(.mkdf-fixed-header-appear) .mkdf-top-bar {
    z-index: 200;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
  }
}

.mkdf-header-bottom .mkdf-logo-wrapper {
  padding-right: 23px;
}

.mkdf-header-bottom .mkdf-vertical-menu-area {
  position: fixed;
  width: 414px;
  top: 0;
  right: 0;
  background-color: transparent;
  height: 100%;
  z-index: 111;
  -webkit-backface-visibility: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  -webkit-transform: translate3d(414px, 0, 0);
  -moz-transform: translate3d(414px, 0, 0);
  transform: translate3d(414px, 0, 0);
  -webkit-transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.mkdf-header-bottom .mkdf-vertical-menu-area .mkdf-vertical-menu-area-inner {
  position: relative;
  height: 100%;
}

.mkdf-header-bottom.admin-bar .mkdf-vertical-menu-area {
  top: 33px;
}

.mkdf-header-bottom .mkdf-content {
  -webkit-transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.mkdf-header-bottom .mkdf-vertical-menu-area.opened {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.mkdf-header-bottom.mkdf-header-bottom-opened .mkdf-content {
  -webkit-transform: translate3d(-414px, 0, 0);
  -moz-transform: translate3d(-414px, 0, 0);
  transform: translate3d(-414px, 0, 0);
}

/* ==========================================================================
   Header Vertical - Sliding navigation style - begin
   ========================================================================== */
.mkdf-header-bottom .mkdf-vertical-menu-nav-holder-outer {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: 1;
  background-color: #fff;
  padding: 0 80px;
  box-sizing: border-box;
}

.mkdf-header-bottom .mkdf-vertical-menu-nav-holder-outer .mkdf-vertical-menu-nav-holder {
  display: table;
  height: 100%;
  width: 100%;
}

.mkdf-header-bottom .mkdf-vertical-menu-nav-holder-outer .mkdf-vertical-menu-nav-holder .mkdf-vertical-menu-holder-nav-inner {
  display: table-cell;
  vertical-align: middle;
}

.mkdf-header-bottom .mkdf-vertical-alignment-top .mkdf-vertical-menu-nav-holder-outer .mkdf-vertical-menu-nav-holder .mkdf-vertical-menu-holder-nav-inner {
  vertical-align: top;
}

.mkdf-header-bottom .mkdf-header-bottom-menu {
  position: relative;
  z-index: 101;
  text-align: left;
}

.mkdf-header-bottom .mkdf-header-bottom-menu ul {
  position: relative;
  list-style-type: none;
}

.mkdf-header-bottom .mkdf-header-bottom-menu > ul > li {
  position: relative;
  text-align: left;
}

.mkdf-header-bottom .mkdf-header-bottom-menu > ul > li.mkdf-active-item > a {
  color: #000;
}

.mkdf-header-bottom .mkdf-header-bottom-menu ul li a:hover {
  color: #000;
}

.mkdf-header-bottom .mkdf-header-bottom-menu > ul > li > a {
  position: relative;
  display: block;
  font-size: 30px;
  line-height: 42px;
  font-weight: 600;
  color: #000;
  padding: 3px 0;
  text-decoration: none;
  text-transform: capitalize;
  margin: 0;
  cursor: pointer;
  overflow: hidden;
}

.mkdf-header-bottom .mkdf-header-bottom-menu > ul > li > a span:before, .mkdf-header-bottom .mkdf-header-bottom-menu > ul > li > a span:after {
  content: '';
  position: absolute;
  top: calc(50% - 2px);
  width: 100%;
  height: 2px;
  background-color: rgba(247, 119, 94, 0.7);
  opacity: 0;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  transform: scaleX(0);
}

.mkdf-header-bottom .mkdf-header-bottom-menu > ul > li > a span:before {
  opacity: 1;
  left: 0;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}

.mkdf-header-bottom .mkdf-header-bottom-menu > ul > li > a span:after {
  right: 0;
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition: -webkit-transform .2s, opacity .0s .2s;
  transition: transform .2s, opacity .0s .2s;
}

.mkdf-header-bottom .mkdf-header-bottom-menu .sub_menu {
  display: none;
  padding: 7px 0 10px;
}

.mkdf-header-bottom .mkdf-header-bottom-menu .sub_menu li {
  text-align: left;
  margin: 3px 0 3px 4px;
}

.mkdf-header-bottom .mkdf-header-bottom-menu .sub_menu li a {
  color: #949494;
  font-size: 15px;
  line-height: 20px;
}

.mkdf-header-bottom .mkdf-header-bottom-menu .sub_menu li a span:before {
  border: none;
}

/* ==========================================================================
   Header Vertical - Sliding navigation style - end
   ========================================================================== */
.mkdf-header-bottom .mkdf-header-bottom-opener-outer {
  display: table;
  height: 100%;
}

.mkdf-header-bottom .mkdf-header-bottom-opener-inner {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
}

.mkdf-header-bottom .mkdf-header-bottom-menu-opener {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.mkdf-header-bottom .mkdf-header-bottom-menu-opener .mkdf-hb-lines {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 10px;
}

.mkdf-header-bottom .mkdf-header-bottom-menu-opener .mkdf-hb-lines .mkdf-hb-line {
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: currentColor;
  border-radius: 12px;
  -webkit-transition: -webkit-transform 0.3s ease, top 0.2s ease-out, background-color 0.2s ease-out;
  -moz-transition: -moz-transform 0.3s ease, top 0.2s ease-out, background-color 0.2s ease-out;
  transition: transform 0.3s ease, top 0.2s ease-out, background-color 0.2s ease-out;
}

.mkdf-header-bottom .mkdf-header-bottom-menu-opener .mkdf-hb-lines .mkdf-hb-line.mkdf-line-1 {
  top: 0;
  outline: transparent solid 1px;
}

.mkdf-header-bottom .mkdf-header-bottom-menu-opener .mkdf-hb-lines .mkdf-hb-line.mkdf-line-2 {
  top: calc(50% - 2px);
  outline: transparent solid 1px;
}

.mkdf-header-bottom .mkdf-header-bottom-menu-opener .mkdf-hb-lines .mkdf-hb-line.mkdf-line-3 {
  top: calc(100% - 4px);
  outline: transparent solid 1px;
}

.mkdf-header-bottom .mkdf-header-bottom-menu-opener:hover .mkdf-hb-lines .mkdf-hb-line.mkdf-line-1, .mkdf-header-bottom .mkdf-header-bottom-menu-opener:hover .mkdf-hb-lines .mkdf-hb-line.mkdf-line-3 {
  top: calc(50% - 2px);
}

.mkdf-header-bottom .mkdf-header-bottom-menu-opener:hover .mkdf-hb-lines .mkdf-hb-line.mkdf-line-2 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
}

.mkdf-header-bottom .mkdf-header-bottom-menu-opener.active {
  color: #f7775e;
}

.mkdf-header-bottom .mkdf-header-bottom-menu-opener.active .mkdf-hb-lines .mkdf-hb-line.mkdf-line-1 {
  display: none;
}

.mkdf-header-bottom .mkdf-header-bottom-menu-opener.active .mkdf-hb-lines .mkdf-hb-line.mkdf-line-2 {
  top: 50%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mkdf-header-bottom .mkdf-header-bottom-menu-opener.active .mkdf-hb-lines .mkdf-hb-line.mkdf-line-3 {
  top: 50%;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* ==========================================================================
   Header Vertical - Sliding widget style - begin
   ========================================================================== */
.mkdf-header-bottom .mkdf-vertical-area-widget-holder {
  width: 100%;
  z-index: 100;
  position: absolute;
  bottom: 80px;
  left: 80px;
}

.mkdf-header-bottom .mkdf-vertical-area-widget-holder .mkdf-vertical-header-widget {
  text-align: center;
  padding: 5px 0;
}

.mkdf-header-bottom .mkdf-vertical-area-widget-holder .mkdf-vertical-header-widget > div,
.mkdf-header-bottom .mkdf-vertical-area-widget-holder .mkdf-vertical-header-widget > a,
.mkdf-header-bottom .mkdf-vertical-area-widget-holder .mkdf-vertical-header-widget > span {
  position: relative;
  display: inline-block;
  padding: 0;
}

.mkdf-header-bottom .mkdf-vertical-area-widget-holder .mkdf-social-icon-widget-holder {
  display: block;
  text-align: center;
  padding: 5px 0;
}

.mkdf-header-bottom .mkdf-vertical-area-widget-holder .mkdf-social-icon-widget-holder:hover {
  color: #000 !important;
}

.mkdf-header-bottom .mkdf-vertical-menu-area.opened .mkdf-social-icon-widget-holder:hover {
  color: #fff !important;
}

/* ==========================================================================
   Header Vertical - Sliding widget style - end
   ========================================================================== */
/* ==========================================================================
   Header Bottom style - end
   ========================================================================== */
/* ==========================================================================
   Header Centered style - begin
   ========================================================================== */
.mkdf-header-centered-logo-down .mkdf-page-header .mkdf-chld-bottom-wrapper {
  text-align: center;
}

.mkdf-header-centered-logo-down .mkdf-page-header .mkdf-chld-bottom-wrapper .mkdf-chld-position-left,
.mkdf-header-centered-logo-down .mkdf-page-header .mkdf-chld-bottom-wrapper .mkdf-chld-position-right,
.mkdf-header-centered-logo-down .mkdf-page-header .mkdf-chld-bottom-wrapper .mkdf-position-center {
  display: inline-block;
  width: auto;
  position: relative;
  vertical-align: middle;
}

.mkdf-header-centered-logo-down .mkdf-page-header .mkdf-chld-bottom-wrapper .mkdf-chld-position-left .widget,
.mkdf-header-centered-logo-down .mkdf-page-header .mkdf-chld-bottom-wrapper .mkdf-chld-position-left .widget_text,
.mkdf-header-centered-logo-down .mkdf-page-header .mkdf-chld-bottom-wrapper .mkdf-chld-position-right .widget,
.mkdf-header-centered-logo-down .mkdf-page-header .mkdf-chld-bottom-wrapper .mkdf-chld-position-right .widget_text,
.mkdf-header-centered-logo-down .mkdf-page-header .mkdf-chld-bottom-wrapper .mkdf-position-center .widget,
.mkdf-header-centered-logo-down .mkdf-page-header .mkdf-chld-bottom-wrapper .mkdf-position-center .widget_text {
  display: inline-block;
  width: auto;
  margin: 0 35px;
}

.mkdf-header-centered-logo-down .mkdf-page-header .mkdf-chld-bottom-wrapper .mkdf-position-center .mkdf-logo-wrapper {
  margin: 0 85px;
}

.mkdf-header-centered-logo-down .mkdf-page-header .mkdf-chld-bottom-wrapper .mkdf-chld-position-left .widget:first-of-type,
.mkdf-header-centered-logo-down .mkdf-page-header .mkdf-chld-bottom-wrapper .mkdf-chld-position-left .widget_text:first-of-type {
  margin-left: 0;
}

.mkdf-header-centered-logo-down .mkdf-page-header .mkdf-chld-bottom-wrapper .mkdf-chld-position-right .widget:last-of-type,
.mkdf-header-centered-logo-down .mkdf-page-header .mkdf-chld-bottom-wrapper .mkdf-chld-position-right .widget_text:last-of-type {
  margin-right: 0;
}

.mkdf-header-centered-logo-down .mkdf-page-header .mkdf-logo-area {
  height: 280px;
  overflow: visible;
  z-index: 2;
  box-sizing: border-box;
}

.mkdf-header-centered-logo-down .mkdf-page-header .mkdf-logo-area .mkdf-logo-wrapper a {
  max-height: 280px;
}

.mkdf-header-centered-logo-down .mkdf-page-header .mkdf-menu-area {
  height: 74px;
  z-index: 4;
}

.mkdf-header-centered-logo-down .mkdf-page-header .mkdf-menu-area .mkdf-main-menu > ul > li > a {
  font-size: 11px;
}

.mkdf-header-centered-logo-down .mkdf-page-header .mkdf-menu-area .mkdf-vertical-align-containers .mkdf-position-center-inner,
.mkdf-header-centered-logo-down .mkdf-page-header .mkdf-menu-area .mkdf-vertical-align-containers .mkdf-position-left-inner,
.mkdf-header-centered-logo-down .mkdf-page-header .mkdf-menu-area .mkdf-vertical-align-containers .mkdf-position-right-inner {
  height: 100%;
}

.mkdf-header-centered-logo-down .mkdf-page-header .mkdf-menu-area .mkdf-vertical-align-containers .mkdf-position-right:before {
  display: none;
}

.mkdf-header-centered-logo-down .mkdf-page-header .mkdf-menu-area .mkdf-vertical-align-containers .mkdf-position-right-inner {
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: flex;
  align-items: center;
  height: 100%;
}

.mkdf-header-centered-logo-down .mkdf-page-header .mkdf-sticky-header .mkdf-position-left-inner {
  height: auto;
}

.mkdf-header-centered-logo-down .mkdf-page-header .mkdf-sticky-header .mkdf-position-right-inner {
  height: 100%;
}

.mkdf-header-centered-logo-down .mkdf-page-header .mkdf-chld-bottom-wrapper .mkdf-iwt {
  width: auto;
  margin: 25px;
}

.mkdf-header-centered-logo-down .mkdf-page-header .mkdf-chld-position-right .mkdf-iwt:first-of-type,
.mkdf-header-centered-logo-down .mkdf-page-header .mkdf-chld-position-left mkdf-item-space .mkdf-iwt:first-of-type {
  margin-left: 0;
}

.mkdf-header-centered-logo-down .mkdf-page-header .mkdf-chld-position-right .mkdf-iwt:last-of-type,
.mkdf-header-centered-logo-down .mkdf-page-header .mkdf-chld-position-left mkdf-item-space .mkdf-iwt:last-of-type {
  margin-right: 0;
}

/* ==========================================================================
   Header Centered style - end
   ========================================================================== */
/* ==========================================================================
   Header Centered style - begin
   ========================================================================== */
.mkdf-header-centered .mkdf-page-header .mkdf-logo-area {
  overflow: visible;
  z-index: 2;
  box-sizing: border-box;
}

.mkdf-header-centered .mkdf-page-header .mkdf-menu-area {
  z-index: 1;
}

.mkdf-header-centered .mkdf-page-header .mkdf-menu-area .mkdf-vertical-align-containers .mkdf-position-center-inner {
  height: 100%;
}

.mkdf-header-centered .mkdf-page-header .mkdf-sticky-header .mkdf-position-left-inner {
  height: auto;
}

.mkdf-header-centered .mkdf-page-header .mkdf-sticky-header .mkdf-position-right-inner {
  height: 100%;
}

/* ==========================================================================
   Header Centered style - end
   ========================================================================== */
/* ==========================================================================
   Header Divided style - begin
   ========================================================================== */
.mkdf-header-divided .mkdf-page-header .mkdf-logo-wrapper a img {
  margin: 0 auto;
}

.mkdf-header-divided .mkdf-page-header .mkdf-menu-area {
  opacity: 0;
}

.mkdf-header-divided .mkdf-page-header .mkdf-menu-area .mkdf-grid {
  height: 100%;
}

.mkdf-header-divided .mkdf-page-header .mkdf-main-menu {
  width: auto;
  margin: 0;
}

.mkdf-header-divided .mkdf-page-header .mkdf-main-menu > ul > li > a span.item_inner {
  padding: 0 28px;
}

.mkdf-header-divided .mkdf-page-header .mkdf-vertical-align-containers .mkdf-position-left {
  text-align: right;
}

.mkdf-header-divided .mkdf-page-header .mkdf-vertical-align-containers .mkdf-position-left .mkdf-divided-left-widget-area {
  display: inline-block;
  float: left;
  height: 100%;
  vertical-align: middle;
}

.mkdf-header-divided .mkdf-page-header .mkdf-vertical-align-containers .mkdf-position-left .mkdf-divided-left-widget-area .mkdf-divided-left-widget-area-inner {
  display: table;
  height: 100%;
}

.mkdf-header-divided .mkdf-page-header .mkdf-vertical-align-containers .mkdf-position-left .mkdf-divided-left-widget-area .mkdf-divided-left-widget-area-inner > * {
  display: table-cell;
  vertical-align: middle;
}

.mkdf-header-divided .mkdf-page-header .mkdf-vertical-align-containers .mkdf-position-left .mkdf-position-left-inner {
  height: 100%;
  text-align: left;
  padding-right: 20px;
}

.mkdf-header-divided .mkdf-page-header .mkdf-vertical-align-containers .mkdf-position-right {
  text-align: left;
}

.mkdf-header-divided .mkdf-page-header .mkdf-vertical-align-containers .mkdf-position-right .mkdf-divided-right-widget-area {
  display: inline-block;
  float: right;
  height: 100%;
  vertical-align: middle;
}

.mkdf-header-divided .mkdf-page-header .mkdf-vertical-align-containers .mkdf-position-right .mkdf-divided-right-widget-area .mkdf-divided-right-widget-area-inner {
  display: table;
  height: 100%;
}

.mkdf-header-divided .mkdf-page-header .mkdf-vertical-align-containers .mkdf-position-right .mkdf-divided-right-widget-area .mkdf-divided-right-widget-area-inner > * {
  display: table-cell;
  vertical-align: middle;
}

.mkdf-header-divided .mkdf-page-header .mkdf-vertical-align-containers .mkdf-position-right .mkdf-position-right-inner {
  height: 100%;
  padding-left: 20px;
}

.mkdf-header-divided .mkdf-page-header .mkdf-vertical-align-containers .mkdf-position-center {
  position: absolute;
  width: 100%;
}

.mkdf-header-divided .mkdf-page-header .mkdf-sticky-header .mkdf-position-center-inner {
  height: auto;
}

/* ==========================================================================
   Header Divided style - end
   ========================================================================== */
/*==========================================================================
# Fullscreen menu style - begin
========================================================================== */
/* Fullscreen general style - begin
========================================================================== */
.mkdf-dark-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-fullscreen-menu-opener {
  color: #000000;
}

.mkdf-dark-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-fullscreen-menu-opener:hover, .mkdf-dark-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-fullscreen-menu-opener.mkdf-fm-opened {
  color: rgba(0, 0, 0, 0.7);
}

.mkdf-light-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-fullscreen-menu-opener {
  color: #fff;
}

.mkdf-light-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-fullscreen-menu-opener:hover, .mkdf-light-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-fullscreen-menu-opener.mkdf-fm-opened {
  color: rgba(255, 255, 255, 0.7);
}

.mkdf-fullscreen-menu-opener {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.mkdf-fullscreen-menu-opener .mkdf-fullscreen-menu-opener-icon {
  position: relative;
  visibility: visible;
}

.mkdf-fullscreen-menu-opener .mkdf-fullscreen-menu-close-icon {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}

.mkdf-fullscreen-menu-opener.mkdf-fm-opened .mkdf-fullscreen-menu-opener-icon {
  visibility: hidden;
}

.mkdf-fullscreen-menu-opener.mkdf-fm-opened .mkdf-fullscreen-menu-close-icon {
  visibility: visible;
}

.mkdf-fullscreen-menu-opener.mkdf-fullscreen-menu-opener-icon-pack {
  font-size: 20px;
}

.mkdf-fullscreen-menu-opener.mkdf-fullscreen-menu-opener-icon-pack * {
  display: inline-block;
  line-height: inherit;
}

.mkdf-fullscreen-menu-opener.mkdf-fullscreen-menu-opener-icon-pack *:before {
  display: inline-block;
  line-height: inherit;
}

.mkdf-fullscreen-menu-opener.mkdf-fullscreen-menu-opener-svg-path span {
  position: relative;
}

.mkdf-fullscreen-menu-opener.mkdf-fullscreen-menu-opener-svg-path span > * {
  vertical-align: middle;
}

.mkdf-fullscreen-menu-opener.mkdf-fullscreen-menu-opener-svg-path span > *,
.mkdf-fullscreen-menu-opener.mkdf-fullscreen-menu-opener-svg-path span path {
  fill: currentColor;
  stroke: currentColor;
}

.mkdf-fullscreen-menu-opener.mkdf-fullscreen-menu-opener-predefined {
  line-height: 1;
}

.mkdf-fullscreen-menu-opener.mkdf-fullscreen-menu-opener-predefined .mkdf-hm-lines {
  position: relative;
  display: block;
  width: 23px;
  height: 17px;
}

.mkdf-fullscreen-menu-opener.mkdf-fullscreen-menu-opener-predefined .mkdf-hm-lines .mkdf-hm-line {
  position: absolute;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: currentColor;
  border-radius: 12px;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

.mkdf-fullscreen-menu-opener.mkdf-fullscreen-menu-opener-predefined .mkdf-hm-lines .mkdf-hm-line.mkdf-line-1 {
  top: 0;
}

.mkdf-fullscreen-menu-opener.mkdf-fullscreen-menu-opener-predefined .mkdf-hm-lines .mkdf-hm-line.mkdf-line-2 {
  top: 7px;
}

.mkdf-fullscreen-menu-opener.mkdf-fullscreen-menu-opener-predefined .mkdf-hm-lines .mkdf-hm-line.mkdf-line-3 {
  bottom: 0;
}

.mkdf-fullscreen-menu-opener.mkdf-fullscreen-menu-opener-predefined .mkdf-fullscreen-menu-close-icon {
  top: -9px;
  left: -5px;
  font-size: 32px;
}

.mkdf-fullscreen-menu-opened .mkdf-page-header,
.mkdf-fullscreen-menu-opened .mkdf-top-bar {
  visibility: hidden;
}

.mkdf-fullscreen-menu-opened .mkdf-fullscreen-menu-opener,
.mkdf-fullscreen-menu-opened .mkdf-logo-wrapper {
  visibility: visible;
}

.mkdf-fullscreen-menu-opened .mkdf-fullscreen-menu-holder-outer {
  visibility: visible !important;
  opacity: 1 !important;
}

.mkdf-fullscreen-menu-holder-outer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden !important;
  visibility: hidden;
  opacity: 0;
  z-index: 105;
  /* this has to be between header z-index and content z-index */
}

.mkdf-fullscreen-menu-holder {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: table;
  background-repeat: repeat;
  background-position: 0 0;
}

.mkdf-fullscreen-menu-holder-inner {
  display: table-cell;
  vertical-align: middle;
  padding: 100px 0;
}

.touch .mkdf-fullscreen-menu-holder-outer {
  display: none;
}

.touch .mkdf-fullscreen-menu-opened .mkdf-fullscreen-menu-holder-outer {
  display: block;
}

nav.mkdf-fullscreen-menu {
  position: relative;
  top: 0;
  margin: 0 auto;
  text-align: left;
}

nav.mkdf-fullscreen-menu ul {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav.mkdf-fullscreen-menu ul li {
  margin: 0;
  padding: 0;
  text-align: center;
}

nav.mkdf-fullscreen-menu ul li a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 11px 0;
  font-size: 25px;
  line-height: 1.3em;
}

nav.mkdf-fullscreen-menu ul li a span {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

nav.mkdf-fullscreen-menu ul li a .mkdf-fullscreen-menu-arrow {
  position: relative;
  top: 0;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 10px;
  font-size: 0.65em;
  line-height: inherit;
}

nav.mkdf-fullscreen-menu ul li ul {
  padding: 7px 0;
}

nav.mkdf-fullscreen-menu ul li ul.sub_menu {
  display: none;
}

nav.mkdf-fullscreen-menu ul li ul li.current-menu-ancestor > a,
nav.mkdf-fullscreen-menu ul li ul li.current-menu-item > a {
  color: #f7775e;
}

nav.mkdf-fullscreen-menu ul li ul li ul li a {
  font-size: 20px;
}

nav.mkdf-fullscreen-menu > ul {
  display: block;
}

nav.mkdf-fullscreen-menu > ul > li > a {
  font-size: 40px;
}

nav.mkdf-fullscreen-menu > ul > li.mkdf-active-item > a {
  color: #f7775e;
}

.mkdf-fullscreen-below-menu-widget-holder {
  text-align: center;
  margin-top: 20px;
}

.mkdf-fullscreen-above-menu-widget-holder {
  text-align: center;
}

/* Fullscreen general style - end
========================================================================== */
/* Fullscreen fade animations general - begin
========================================================================== */
@-webkit-keyframes fade_out {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-moz-keyframes fade_out {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fade_out {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes fade_in {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@-moz-keyframes fade_in {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fade_in {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.mkdf-fade-push-text-right .mkdf-fullscreen-menu-holder-outer,
.mkdf-fade-push-text-top .mkdf-fullscreen-menu-holder-outer,
.mkdf-fade-text-scaledown .mkdf-fullscreen-menu-holder-outer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden !important;
  z-index: 105;
  opacity: 0;
}

.mkdf-fullscreen-fade-out .mkdf-fullscreen-menu-holder-outer {
  -webkit-animation: fade_out .25s linear both;
  -moz-animation: fade_out .25s linear both;
  animation: fade_out .25s linear both;
}

.mkdf-fullscreen-menu-opened.mkdf-fullscreen-fade-in .mkdf-fullscreen-menu-holder-outer {
  -webkit-animation: fade_in .25s linear both;
  -moz-animation: fade_in .25s linear both;
  animation: fade_in .25s linear both;
}

/* Fullscreen fade animations general - end
========================================================================== */
/* Fullscreen animation push text right - begin
========================================================================== */
@-webkit-keyframes push_text_right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-60px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes push_text_right {
  0% {
    opacity: 0;
    -moz-transform: translateX(-60px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}

@keyframes push_text_right {
  0% {
    opacity: 0;
    transform: translateX(-60px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@-webkit-keyframes push_nav_right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-60px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes push_nav_right {
  0% {
    opacity: 0;
    -moz-transform: translateX(-60px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}

@keyframes push_nav_right {
  0% {
    opacity: 0;
    transform: translateX(-60px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.mkdf-fullscreen-menu-opened.mkdf-fade-push-text-right .mkdf-fullscreen-menu-holder-outer nav > ul > li > a,
.mkdf-fullscreen-menu-opened.mkdf-fade-push-text-right .mkdf-fullscreen-menu-holder-outer .mkdf-fullscreen-below-menu-widget-holder > div,
.mkdf-fullscreen-menu-opened.mkdf-fade-push-text-right .mkdf-fullscreen-menu-holder-outer .mkdf-fullscreen-above-menu-widget-holder > div {
  -webkit-animation: push_text_right 0.4s cubic-bezier(0.175, 0.885, 0.32, 1) both;
  -moz-animation: push_text_right 0.4s cubic-bezier(0.175, 0.885, 0.32, 1) both;
  animation: push_text_right 0.4s cubic-bezier(0.175, 0.885, 0.32, 1) both;
}

.mkdf-fade-push-text-right.mkdf-push-nav-right .mkdf-fullscreen-menu-holder-outer nav,
.mkdf-fade-push-text-right.mkdf-push-nav-right .mkdf-fullscreen-menu-holder-outer .mkdf-fullscreen-below-menu-widget-holder,
.mkdf-fade-push-text-right.mkdf-push-nav-right .mkdf-fullscreen-menu-holder-outer .mkdf-fullscreen-above-menu-widget-holder {
  -webkit-transition: all 0.75s ease-out;
  -moz-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
  -webkit-transform: translateX(50px);
  -moz-transform: translateX(50px);
  transform: translateX(50px);
}

/* Fullscreen animation push text right - end
========================================================================== */
/* Fullscreen animation push text top - begin
========================================================================== */
@-webkit-keyframes push_text_top {
  0% {
    opacity: 0;
    -webkit-transform: translateY(60px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes push_text_top {
  0% {
    opacity: 0;
    -moz-transform: translateY(60px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@keyframes push_text_top {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.mkdf-fullscreen-menu-opened.mkdf-fade-push-text-top .mkdf-fullscreen-menu-holder-outer nav > ul > li > a,
.mkdf-fullscreen-menu-opened.mkdf-fade-push-text-top .mkdf-fullscreen-menu-holder-outer .mkdf-fullscreen-below-menu-widget-holder > div,
.mkdf-fullscreen-menu-opened.mkdf-fade-push-text-top .mkdf-fullscreen-menu-holder-outer .mkdf-fullscreen-above-menu-widget-holder > div {
  -webkit-animation: push_text_top 0.4s ease-out both 0.5s;
  -moz-animation: push_text_top 0.4s ease-out both 0.5s;
  animation: push_text_top 0.4s ease-out both 0.5s;
}

.mkdf-fade-push-text-top.mkdf-push-text-top .mkdf-fullscreen-menu-holder-outer nav,
.mkdf-fade-push-text-top.mkdf-push-text-top .mkdf-fullscreen-menu-holder-outer .mkdf-fullscreen-below-menu-widget-holder,
.mkdf-fade-push-text-top.mkdf-push-text-top .mkdf-fullscreen-menu-holder-outer .mkdf-fullscreen-above-menu-widget-holder {
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  transform: translateY(-30px);
  -webkit-transition: all 0.75s ease-out;
  -moz-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
}

/* Fullscreen animation push text top - end
========================================================================== */
/* Fullscreen animation fade text scaledown - begin
========================================================================== */
.mkdf-fullscreen-menu-opened.mkdf-fade-text-scaledown .mkdf-fullscreen-menu-holder-outer nav,
.mkdf-fullscreen-menu-opened.mkdf-fade-text-scaledown .mkdf-fullscreen-menu-holder-outer .mkdf-fullscreen-below-menu-widget-holder,
.mkdf-fullscreen-menu-opened.mkdf-fade-text-scaledown .mkdf-fullscreen-menu-holder-outer .mkdf-fullscreen-above-menu-widget-holder {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.25s linear 0.1s;
  -moz-transition: all 0.25s linear 0.1s;
  transition: all 0.25s linear 0.1s;
}

.mkdf-fade-text-scaledown .mkdf-fullscreen-menu-holder-outer nav,
.mkdf-fade-text-scaledown .mkdf-fullscreen-menu-holder-outer .mkdf-fullscreen-below-menu-widget-holder,
.mkdf-fade-text-scaledown .mkdf-fullscreen-menu-holder-outer .mkdf-fullscreen-above-menu-widget-holder {
  opacity: 0;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.25s linear 0.1s;
  -moz-transition: all 0.25s linear 0.1s;
  transition: all 0.25s linear 0.1s;
}

/* Fullscreen animation fade text scaledown - end
========================================================================== */
/* ==========================================================================
# Fullscreen menu style - end
==========================================================================*/
/* ==========================================================================
   Header Minimal style - begin
   ========================================================================== */
.mkdf-header-minimal .mkdf-page-header .mkdf-menu-area .mkdf-position-right-inner {
  height: auto;
}

.mkdf-header-minimal .mkdf-page-header .mkdf-position-left:before,
.mkdf-header-minimal .mkdf-page-header .mkdf-position-right:before {
  content: "";
}

.mkdf-header-minimal .mkdf-page-header .mkdf-sticky-header .mkdf-position-left-inner {
  height: auto;
}

.mkdf-header-minimal .mkdf-page-header .mkdf-sticky-header .mkdf-vertical-align-containers .mkdf-position-right .mkdf-position-right-inner {
  height: auto;
}

/* ==========================================================================
   Header Minimal style - end
   ========================================================================== */
/* ==========================================================================
   Header Standard style - begin
   ========================================================================== */
.mkdf-header-standard .mkdf-menu-area.mkdf-menu-left .mkdf-main-menu {
  width: auto;
  padding: 0 0 0 20px;
}

.mkdf-header-standard .mkdf-menu-area.mkdf-menu-left .mkdf-vertical-align-containers .mkdf-position-left-inner {
  height: 100%;
}

.mkdf-header-standard .mkdf-menu-area.mkdf-menu-left .mkdf-vertical-align-containers .mkdf-position-left:before,
.mkdf-header-standard .mkdf-menu-area.mkdf-menu-left .mkdf-vertical-align-containers .mkdf-position-right:before {
  display: none;
}

.mkdf-header-standard .mkdf-menu-area.mkdf-menu-left .mkdf-vertical-align-containers .mkdf-position-right-inner {
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: flex;
  align-items: center;
  height: 100%;
}

.mkdf-header-standard .mkdf-menu-area.mkdf-menu-center .mkdf-vertical-align-containers .mkdf-position-center-inner {
  height: 100%;
}

.mkdf-header-standard .mkdf-menu-area.mkdf-menu-center .mkdf-vertical-align-containers .mkdf-position-right:before {
  display: none;
}

.mkdf-header-standard .mkdf-menu-area.mkdf-menu-center .mkdf-vertical-align-containers .mkdf-position-right-inner {
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: flex;
  align-items: center;
  height: 100%;
}

.mkdf-header-standard .mkdf-menu-area.mkdf-menu-right .mkdf-main-menu {
  width: auto;
}

.mkdf-header-standard .mkdf-menu-area.mkdf-menu-right .mkdf-vertical-align-containers .mkdf-position-right-inner {
  height: 100%;
}

/* ==========================================================================
   Header Standard style - end
   ========================================================================== */
/* ==========================================================================
   Header Top Menu style - begin
   ========================================================================== */
.mkdf-header-top-menu .mkdf-page-header .mkdf-logo-area {
  margin-top: 90px;
  overflow: visible;
  z-index: 99;
  box-sizing: border-box;
}

.mkdf-header-top-menu .mkdf-page-header .mkdf-menu-area {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}

.mkdf-header-top-menu .mkdf-page-header .mkdf-menu-area .mkdf-vertical-align-containers .mkdf-position-left-inner {
  height: 100%;
}

.mkdf-header-top-menu .mkdf-page-header .mkdf-sticky-header .mkdf-position-left-inner {
  height: auto;
}

.mkdf-header-top-menu .mkdf-page-header .mkdf-sticky-header .mkdf-position-right-inner {
  height: 100%;
}

.mkdf-header-top-menu.admin-bar .mkdf-page-header .mkdf-menu-area {
  top: 32px;
}

/* ==========================================================================
   Header Top Menu style - end
   ========================================================================== */
/* ==========================================================================
   Header Vertical style - begin
   ========================================================================== */
/* ==========================================================================
   Header Vertical navigation style - begin
   ========================================================================== */
.mkdf-header-vertical .mkdf-vertical-alignment-center .mkdf-vertical-menu-outer {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 70px 0 150px;
}

.mkdf-header-vertical .mkdf-vertical-alignment-center .mkdf-vertical-menu {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 0;
}

.mkdf-header-vertical .mkdf-vertical-alignment-center .mkdf-vertical-menu > ul {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.mkdf-header-vertical .mkdf-vertical-menu-outer {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  box-sizing: border-box;
}

.mkdf-header-vertical .mkdf-vertical-menu {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  z-index: 100;
}

.mkdf-header-vertical .mkdf-vertical-menu ul {
  position: relative;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.mkdf-header-vertical .mkdf-vertical-menu ul li {
  position: relative;
  padding: 0;
  margin: 0;
}

.mkdf-header-vertical .mkdf-vertical-menu ul li a {
  position: relative;
  display: block;
  margin: 0;
  padding: 10px 0;
  color: #565050;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  letter-spacing: .2em;
  font-size: 10px;
  font-weight: 500;
  line-height: 1em;
}

.mkdf-header-vertical .mkdf-vertical-menu ul li a:hover {
  color: #aaaaaa;
}

.mkdf-header-vertical .mkdf-vertical-menu ul li a .item_outer {
  position: relative;
  display: block;
  padding: 0 15px 0 0;
  box-sizing: border-box;
}

.mkdf-header-vertical .mkdf-vertical-menu ul li a .mkdf-menu-arrow {
  display: none;
}

.mkdf-header-vertical .mkdf-vertical-menu ul li a .mkdf-menu-featured-icon {
  position: absolute;
  top: -4px;
  right: -9px;
  color: #f7775e;
  font-size: 10px;
  margin: 0;
}

.mkdf-header-vertical .mkdf-vertical-menu ul li a .mkdf-menu-featured-icon.icon_star {
  font-family: ElegantIcons;
}

.mkdf-header-vertical .mkdf-vertical-menu ul li a .menu_icon:not(.blank):not(.null) {
  padding: 0 5px 0 0;
}

.mkdf-header-vertical .mkdf-vertical-menu ul li.mkdf-active-item > a,
.mkdf-header-vertical .mkdf-vertical-menu ul li.current_page_item > a,
.mkdf-header-vertical .mkdf-vertical-menu ul li.current-menu-item > a,
.mkdf-header-vertical .mkdf-vertical-menu ul li.current-menu-ancestor > a {
  color: #aaaaaa;
}

.mkdf-header-vertical .mkdf-vertical-menu ul li ul {
  padding: 3px 0;
}

.mkdf-header-vertical .mkdf-vertical-menu ul li ul li.sub > a .item_outer {
  position: relative;
  display: block;
}

.mkdf-header-vertical .mkdf-vertical-menu ul li ul li.sub > a .item_outer:after {
  position: absolute;
  top: -1px;
  right: 0;
  margin: 0;
  font-family: 'Font Awesome 5 Free';
  font-size: inherit;
  line-height: inherit;
  font-weight: 900;
  content: "\f105";
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  -moz-transition: -moz-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
}

.mkdf-header-vertical .mkdf-vertical-menu ul li .second {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
}

.mkdf-header-vertical .mkdf-vertical-menu ul li .second .inner {
  position: relative;
  display: block;
  padding: 0;
  z-index: 997;
}

.mkdf-header-vertical .mkdf-vertical-menu > ul > li > a {
  font-size: 12px;
  line-height: 1em;
}

.mkdf-header-vertical .mkdf-vertical-menu > ul > li > a span.item_text {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.mkdf-header-vertical .mkdf-vertical-menu.mkdf-vertical-dropdown-below ul li .second {
  display: none;
}

.mkdf-header-vertical .mkdf-vertical-menu.mkdf-vertical-dropdown-below ul li ul li.sub a:hover .item_outer:after,
.mkdf-header-vertical .mkdf-vertical-menu.mkdf-vertical-dropdown-below ul li ul li.sub.open > a .item_outer:after,
.mkdf-header-vertical .mkdf-vertical-menu.mkdf-vertical-dropdown-below ul li ul li.sub.current_page_item > a .item_outer:after,
.mkdf-header-vertical .mkdf-vertical-menu.mkdf-vertical-dropdown-below ul li ul li.sub.current_page_item > a .item_outer:after,
.mkdf-header-vertical .mkdf-vertical-menu.mkdf-vertical-dropdown-below ul li ul li.sub.current-menu-ancestor > a .item_outer:after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
}

.mkdf-header-vertical .mkdf-vertical-menu.mkdf-vertical-dropdown-side .second {
  position: absolute;
  top: 0;
  width: 100%;
}

.mkdf-header-vertical .mkdf-vertical-menu.mkdf-vertical-dropdown-side .second ul {
  position: absolute;
  top: -23px;
  left: calc(100% + 45px);
  width: 254px;
  background-color: #fff;
  padding: 25px 20px;
  margin-left: 50px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.mkdf-header-vertical .mkdf-vertical-menu.mkdf-vertical-dropdown-side .second ul * {
  visibility: inherit;
  -webkit-transition: visibility 0.2s ease;
  -moz-transition: visibility 0.2s ease;
  transition: visibility 0.2s ease;
}

.mkdf-header-vertical .mkdf-vertical-menu.mkdf-vertical-dropdown-side .second ul.mkdf-float-open {
  margin-left: 0px;
  opacity: 1;
  visibility: visible;
  z-index: 900;
}

.mkdf-header-vertical .mkdf-vertical-menu.mkdf-vertical-dropdown-side .second ul ul {
  top: -25px;
  left: calc(100% + 20px);
  visibility: hidden;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.mkdf-light-header.mkdf-header-vertical .mkdf-vertical-menu ul li a {
  color: #fff !important;
}

.mkdf-light-header.mkdf-header-vertical .mkdf-vertical-menu ul li a .mkdf-menu-featured-icon {
  color: #fff;
}

.mkdf-light-header.mkdf-header-vertical .mkdf-vertical-menu ul li a:hover {
  color: rgba(255, 255, 255, 0.7) !important;
}

.mkdf-light-header.mkdf-header-vertical .mkdf-vertical-menu ul li ul li.current_page_item > a,
.mkdf-light-header.mkdf-header-vertical .mkdf-vertical-menu ul li ul li.current-menu-item > a,
.mkdf-light-header.mkdf-header-vertical .mkdf-vertical-menu ul li ul li.current-menu-ancestor > a {
  color: rgba(255, 255, 255, 0.7) !important;
}

.mkdf-light-header.mkdf-header-vertical .mkdf-vertical-menu > ul > li.mkdf-active-item > a,
.mkdf-light-header.mkdf-header-vertical .mkdf-vertical-menu > ul > li.current-menu-ancestor > a {
  color: rgba(255, 255, 255, 0.7) !important;
}

.mkdf-dark-header.mkdf-header-vertical .mkdf-vertical-menu ul li a {
  color: #000000 !important;
}

.mkdf-dark-header.mkdf-header-vertical .mkdf-vertical-menu ul li a .mkdf-menu-featured-icon {
  color: #000000;
}

.mkdf-dark-header.mkdf-header-vertical .mkdf-vertical-menu ul li a:hover {
  color: rgba(0, 0, 0, 0.7) !important;
}

.mkdf-dark-header.mkdf-header-vertical .mkdf-vertical-menu ul li ul li.current_page_item > a,
.mkdf-dark-header.mkdf-header-vertical .mkdf-vertical-menu ul li ul li.current-menu-item > a,
.mkdf-dark-header.mkdf-header-vertical .mkdf-vertical-menu ul li ul li.current-menu-ancestor > a {
  color: rgba(0, 0, 0, 0.7) !important;
}

.mkdf-dark-header.mkdf-header-vertical .mkdf-vertical-menu > ul > li.mkdf-active-item > a,
.mkdf-dark-header.mkdf-header-vertical .mkdf-vertical-menu > ul > li.current-menu-ancestor > a {
  color: rgba(0, 0, 0, 0.7) !important;
}

/* ==========================================================================
   Header Vertical navigation style - end
   ========================================================================== */
.mkdf-header-vertical .mkdf-vertical-area-widget-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 10px 0 0;
  z-index: 100;
}

.mkdf-header-vertical .mkdf-vertical-area-widget-holder .widget.widget_search {
  position: relative;
}

.mkdf-header-vertical .mkdf-vertical-area-widget-holder .widget.widget_search input[type="search"] {
  width: 100%;
  height: 45px;
  border: 1px solid #c6c6c6;
  text-transform: uppercase;
  padding: 0 16px;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  letter-spacing: .2em;
}

.mkdf-header-vertical .mkdf-vertical-area-widget-holder .widget.widget_search .mkdf-search-submit {
  position: absolute;
  right: 14px;
  top: 0;
  border: none;
  height: 45px;
  background: transparent;
  color: #959595;
}

.mkdf-header-vertical .mkdf-vertical-area-widget-holder .widget.widget_search .mkdf-search-submit:hover {
  color: #000000;
}

.mkdf-header-vertical .mkdf-vertical-alignment-center .mkdf-vertical-area-widget-holder {
  position: absolute;
  width: 100%;
  bottom: 20px;
  left: 0;
}

.mkdf-header-vertical.admin-bar .mkdf-vertical-menu-area {
  top: 32px;
  height: calc(100% - 32px);
}

.mkdf-header-vertical .mkdf-content,
.mkdf-header-vertical footer {
  padding-left: 298px;
  box-sizing: border-box;
}

.mkdf-header-vertical .mkdf-vertical-menu-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 298px;
  height: 100%;
  padding: 44px 32px 10px;
  background-color: transparent;
  outline: none;
  z-index: 101;
  -webkit-backface-visibility: hidden;
  box-sizing: border-box;
}

.mkdf-header-vertical .mkdf-vertical-menu-area:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: #f2f2f2;
}

.mkdf-header-vertical .mkdf-vertical-menu-area.mkdf-vertical-align-left {
  text-align: left;
}

.mkdf-header-vertical .mkdf-vertical-menu-area.mkdf-vertical-alignment-center {
  text-align: center;
}

.mkdf-header-vertical .mkdf-vertical-menu-area.mkdf-vertical-alignment-center .mkdf-logo-wrapper img {
  margin: 0 auto;
}

.mkdf-header-vertical .mkdf-vertical-menu-area.mkdf-with-scroll {
  overflow: hidden;
}

.mkdf-header-vertical .mkdf-vertical-menu-area-inner {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 100%;
}

.mkdf-header-vertical .mkdf-logo-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  z-index: 100;
}

.mkdf-header-vertical .mkdf-logo-wrapper a {
  display: block;
  position: relative;
  height: 100%;
}

.mkdf-header-vertical .mkdf-logo-wrapper img {
  display: block;
  height: auto;
  max-height: 100%;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.mkdf-header-vertical .mkdf-vertical-area-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 298px;
  height: 100%;
  background-color: #fff;
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease, background-color 0.5s ease;
  -moz-transition: opacity 0.5s ease, background-color 0.5s ease;
  transition: opacity 0.5s ease, background-color 0.5s ease;
}

.mkdf-header-vertical.mkdf-header-vertical-shadow-disable .mkdf-vertical-area-background {
  box-shadow: none;
}

.mkdf-header-vertical.mkdf-header-vertical-border-disable .mkdf-vertical-area-background {
  border: none;
}

.mkdf-light-header .mkdf-vertical-menu-area .mkdf-logo-wrapper .mkdf-light-logo {
  opacity: 1;
}

.mkdf-light-header .mkdf-vertical-menu-area .mkdf-logo-wrapper .mkdf-normal-logo,
.mkdf-light-header .mkdf-vertical-menu-area .mkdf-logo-wrapper .mkdf-dark-logo {
  opacity: 0;
}

.mkdf-dark-header .mkdf-vertical-menu-area .mkdf-logo-wrapper .mkdf-dark-logo {
  opacity: 1;
}

.mkdf-dark-header .mkdf-vertical-menu-area .mkdf-logo-wrapper .mkdf-normal-logo,
.mkdf-dark-header .mkdf-vertical-menu-area .mkdf-logo-wrapper .mkdf-light-logo {
  opacity: 0;
}

/* ==========================================================================
   Header Vertical style - end
   ========================================================================== */
/* ==========================================================================
   Mobile header style - begin
   ========================================================================== */
.mkdf-mobile-header {
  position: relative;
  display: none;
  z-index: 110;
  /* #General mobile header styles
    ========================================================================== */
  /* #End of general mobile header styles
   ========================================================================== */
  /* #Mobile logo styles
    ========================================================================== */
  /* #End of mobile logo styles
    ========================================================================== */
  /* #Mobile menu opener styles
    ========================================================================== */
  /* #End of mobile menu opener styles
    ========================================================================== */
  /* #Mobile menu navigation styles
    ========================================================================== */
  /* #End of mobile menu navigation styles
	========================================================================== */
}

.mkdf-mobile-header .mkdf-mobile-header-inner {
  position: relative;
  height: 70px;
  background-color: #fff;
  border-bottom: 1px solid #f2f2f2;
  box-sizing: border-box;
}

.mkdf-mobile-header .mkdf-mobile-header-inner .mkdf-mobile-header-holder {
  position: relative;
  z-index: 2;
  height: 100%;
}

.mkdf-mobile-header .mkdf-grid {
  height: 100%;
  width: 100%;
  padding: 7px 0;
  box-sizing: border-box;
}

.mkdf-mobile-header .mkdf-vertical-align-containers .mkdf-position-right {
  max-width: 80%;
}

.mkdf-mobile-header .mkdf-mobile-logo-wrapper a {
  display: block;
}

.mkdf-mobile-header .mkdf-mobile-logo-wrapper img {
  display: block;
  height: 100%;
  width: auto;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  z-index: 2;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener a {
  display: table;
  height: 100%;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener a > * {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  line-height: 1em;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener a .mkdf-mobile-menu-text {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  padding-right: 10px;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener.mkdf-mobile-menu-opened a {
  color: #f7775e;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener.mkdf-mobile-menu-opener-icon-pack .mkdf-mobile-menu-icon {
  font-size: 20px;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener.mkdf-mobile-menu-opener-icon-pack .mkdf-mobile-menu-icon * {
  display: block;
  line-height: inherit;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener.mkdf-mobile-menu-opener-icon-pack .mkdf-mobile-menu-icon *:before {
  display: block;
  line-height: inherit;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener.mkdf-mobile-menu-opener-svg-path .mkdf-mobile-menu-icon > * {
  vertical-align: middle;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener.mkdf-mobile-menu-opener-svg-path .mkdf-mobile-menu-icon > *,
.mkdf-mobile-header .mkdf-mobile-menu-opener.mkdf-mobile-menu-opener-svg-path .mkdf-mobile-menu-icon path {
  fill: currentColor;
  stroke: currentColor;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener.mkdf-mobile-menu-opener-predefined {
  line-height: 1;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener.mkdf-mobile-menu-opener-predefined .mkdf-hm-lines {
  position: relative;
  display: block;
  width: 23px;
  height: 17px;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener.mkdf-mobile-menu-opener-predefined .mkdf-hm-lines .mkdf-hm-line {
  position: absolute;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: currentColor;
  border-radius: 12px;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener.mkdf-mobile-menu-opener-predefined .mkdf-hm-lines .mkdf-hm-line.mkdf-line-1 {
  top: 0;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener.mkdf-mobile-menu-opener-predefined .mkdf-hm-lines .mkdf-hm-line.mkdf-line-2 {
  top: 7px;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener.mkdf-mobile-menu-opener-predefined .mkdf-hm-lines .mkdf-hm-line.mkdf-line-3 {
  bottom: 0;
}

.mkdf-mobile-header .mkdf-mobile-side-area {
  background-color: #fff;
  height: 100vh;
  min-height: 100vh;
  overflow: hidden;
  padding: 56px 51px 80px 75px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0px;
  width: 420px;
  max-width: 100%;
  z-index: 9999;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(170%, 0, 0);
  -moz-transform: translate3d(170%, 0, 0);
  transform: translate3d(170%, 0, 0);
  -webkit-transition: transform 0.7s cubic-bezier(0.25, 1, 0.2, 1);
  -moz-transition: transform 0.7s cubic-bezier(0.25, 1, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.25, 1, 0.2, 1);
}

.admin-bar .mkdf-mobile-header .mkdf-mobile-side-area {
  top: 40px;
}

.mkdf-mobile-header .mkdf-mobile-side-area.opened {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  box-shadow: 0 1px 23.28px 0.72px rgba(255, 51, 102, 0.07);
}

.mkdf-mobile-header .mkdf-mobile-side-area.opened .mkdf-mobile-nav,
.mkdf-mobile-header .mkdf-mobile-side-area.opened .mkdf-mobile-menu-bottom {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1;
}

.mkdf-mobile-header .mkdf-mobile-side-area .mkdf-mobile-side-area-inner {
  height: calc(100vh - 136px);
  min-height: calc(100vh - 136px);
  overflow: hidden;
}

.mkdf-mobile-header .mkdf-mobile-side-area .mkdf-mobile-widget-area {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
  height: 60px;
  box-sizing: border-box;
}

.mkdf-mobile-header .mkdf-mobile-side-area .mkdf-mobile-widget-area > * {
  box-sizing: border-box;
  float: left;
  height: 60px;
  margin: 0;
  text-align: center;
  line-height: 60px;
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
}

.mkdf-mobile-header .mkdf-mobile-side-area .mkdf-mobile-widget-area .mkdf-mobile-widget-area-inner {
  position: relative;
  width: 100%;
}

.mkdf-mobile-header .mkdf-mobile-side-area .mkdf-mobile-widget-area .mkdf-mobile-widget-area-inner > div {
  display: inline-block;
}

.mkdf-mobile-header .mkdf-mobile-side-area .mkdf-close-mobile-side-area-holder {
  display: block;
  position: absolute;
  top: 19px;
  right: 21px;
  z-index: 1000;
  cursor: pointer;
}

.mkdf-mobile-header .mkdf-mobile-side-area .mkdf-close-mobile-side-area-holder i {
  color: #f7775e;
  font-size: 22px;
}

.mkdf-mobile-header .mkdf-mobile-nav {
  opacity: 0;
  -webkit-transform: translateX(50px);
  -moz-transform: translateX(50px);
  transform: translateX(50px);
  -webkit-transition: transform 0.45s cubic-bezier(0.2, 0.75, 0.3, 1) 0.22s, opacity 0.45s cubic-bezier(0.2, 0.75, 0.3, 1) 0.22s;
  -moz-transition: transform 0.45s cubic-bezier(0.2, 0.75, 0.3, 1) 0.22s, opacity 0.45s cubic-bezier(0.2, 0.75, 0.3, 1) 0.22s;
  transition: transform 0.45s cubic-bezier(0.2, 0.75, 0.3, 1) 0.22s, opacity 0.45s cubic-bezier(0.2, 0.75, 0.3, 1) 0.22s;
}

.mkdf-mobile-header .mkdf-mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.mkdf-mobile-header .mkdf-mobile-nav ul li {
  position: relative;
  padding: 0;
  margin: 0;
  -webkit-transform: translateZ(0);
}

.mkdf-mobile-header .mkdf-mobile-nav ul li a, .mkdf-mobile-header .mkdf-mobile-nav ul li h6 {
  position: relative;
  display: block;
  padding: 5px 0;
  margin: 0;
  font-size: 15px;
  line-height: 35px;
  color: #565050;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  letter-spacing: .23em;
}

.mkdf-mobile-header .mkdf-mobile-nav ul li a:hover, .mkdf-mobile-header .mkdf-mobile-nav ul li h6:hover {
  color: rgba(0, 0, 0, 0.9);
}

.mkdf-mobile-header .mkdf-mobile-nav ul ul {
  display: none;
  margin-left: 15px;
}

.mkdf-mobile-header .mkdf-mobile-nav ul ul li a {
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  font-family: "Lora", serif;
  letter-spacing: 0;
  text-transform: capitalize;
}

.mkdf-mobile-header .mkdf-mobile-nav ul ul li.current-menu-ancestor > a,
.mkdf-mobile-header .mkdf-mobile-nav ul ul li.current-menu-item > a,
.mkdf-mobile-header .mkdf-mobile-nav ul ul li.current-menu-ancestor > h6,
.mkdf-mobile-header .mkdf-mobile-nav ul ul li.current-menu-item > h6 {
  color: #f7775e;
}

.mkdf-mobile-header .mkdf-mobile-nav .mkdf-grid > ul > li.mkdf-active-item > a,
.mkdf-mobile-header .mkdf-mobile-nav .mkdf-grid > ul > li.mkdf-active-item > h6 {
  color: #f7775e;
}

.mkdf-mobile-header .mkdf-mobile-nav .mkdf-grid > ul > li.mkdf-active-item > .mobile_arrow > .mkdf-sub-arrow:before {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
}

.mkdf-mobile-header .mkdf-mobile-nav .mobile_arrow {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: auto;
  padding: 9px 12px 9px 0;
  font-size: 15px;
  line-height: inherit;
  text-align: right;
  box-sizing: border-box;
}

.mkdf-mobile-header .mkdf-mobile-nav .mobile_arrow:hover {
  cursor: pointer;
}

.mkdf-mobile-header .mkdf-mobile-nav .mobile_arrow .mkdf-sub-arrow {
  display: inline-block;
  line-height: 1;
  -webkit-transition: transform 0.2s ease-in-out;
  -moz-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
}

.mkdf-mobile-header .mkdf-mobile-nav .mobile_arrow .ion-ios-arrow-down {
  display: none;
}

.mkdf-mobile-header .mkdf-mobile-nav li.mkdf-opened > .mobile_arrow > .mkdf-sub-arrow {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
}

.mkdf-mobile-header .mkdf-mobile-nav > ul > li:last-child > a,
.mkdf-mobile-header .mkdf-mobile-nav > .mkdf-grid > ul > li:last-child > a {
  border-bottom: none;
}

/* ==========================================================================
   Mobile header style - end
   ========================================================================== */
/* ==========================================================================
   Sticky Mobile header style - begin
   ========================================================================== */
.mkdf-sticky-up-mobile-header .mkdf-animate-mobile-header .mkdf-mobile-header-inner {
  width: 100%;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out, left 0.2s ease, right 0.2s ease;
  -moz-transition: -moz-transform 0.4s ease-in-out, left 0.2s ease, right 0.2s ease;
  transition: transform 0.4s ease-in-out, left 0.2s ease, right 0.2s ease;
}

.mkdf-sticky-up-mobile-header .mobile-header-appear .mkdf-mobile-header-inner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  transform: translateY(0);
}

/* ==========================================================================
   Sticky Mobile header style - end
   ========================================================================== */
/* ==========================================================================
   Sticky header style - begin
   ========================================================================== */
.mkdf-sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  z-index: 100;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.6s ease;
  -moz-transition: -moz-transform 0.6s ease;
  transition: transform 0.6s ease;
}

.mkdf-sticky-header .mkdf-grid {
  height: 100% !important;
}

.mkdf-sticky-header.header-appear {
  transform: translateY(0%);
}

.admin-bar .mkdf-sticky-header.header-appear {
  top: 32px;
}

.mkdf-sticky-header .mkdf-sticky-holder {
  position: relative;
  height: 100%;
  z-index: 2;
  background-color: #fff;
  border-bottom: 1px solid #f2f2f2;
  box-sizing: border-box;
}

.mkdf-sticky-header .mkdf-sticky-holder .mkdf-logo-wrapper a {
  max-height: 70px;
}

.mkdf-sticky-header .mkdf-sticky-holder .mkdf-vertical-align-containers {
  padding: 0;
}

.mkdf-sticky-header .mkdf-sticky-holder.mkdf-menu-left .mkdf-main-menu {
  width: auto;
  padding: 0 0 0 20px;
}

.mkdf-sticky-header .mkdf-sticky-holder.mkdf-menu-left .mkdf-vertical-align-containers .mkdf-position-left-inner {
  height: 100%;
}

.mkdf-sticky-header .mkdf-sticky-holder.mkdf-menu-left .mkdf-vertical-align-containers .mkdf-position-right:before {
  display: none;
}

.mkdf-sticky-header .mkdf-sticky-holder.mkdf-menu-left .mkdf-vertical-align-containers .mkdf-position-right-inner {
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: flex;
  align-items: center;
  height: 100%;
}

.mkdf-sticky-header .mkdf-sticky-holder.mkdf-menu-center .mkdf-vertical-align-containers .mkdf-position-center-inner {
  height: 100%;
}

.mkdf-sticky-header .mkdf-sticky-holder.mkdf-menu-center .mkdf-vertical-align-containers .mkdf-position-right:before {
  display: none;
}

.mkdf-sticky-header .mkdf-sticky-holder.mkdf-menu-center .mkdf-vertical-align-containers .mkdf-position-right-inner {
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: flex;
  align-items: center;
  height: 100%;
}

.mkdf-sticky-header .mkdf-sticky-holder.mkdf-menu-right .mkdf-main-menu {
  width: auto;
}

.mkdf-sticky-header .mkdf-sticky-holder.mkdf-menu-right .mkdf-vertical-align-containers .mkdf-position-right-inner {
  height: 100%;
}

.mkdf-sticky-header .mkdf-sticky-holder .mkdf-position-right .mkdf-main-menu {
  margin-right: 10px;
}

.mkdf-sticky-header .widget {
  display: inline-block;
  vertical-align: baseline;
  margin: 0;
}

/* ==========================================================================
   Sticky header style - end
   ========================================================================== */
/* ==========================================================================
   Top header style - begin
   ========================================================================== */
.mkdf-top-bar {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 42px;
  font-size: 10px;
  line-height: 1;
  color: #fff;
  background-color: #000000;
  text-transform: uppercase;
  box-sizing: border-box;
  z-index: 110;
}

.mkdf-top-bar > .mkdf-vertical-align-containers {
  padding: 0 40px;
}

.mkdf-top-bar .mkdf-vertical-align-containers .mkdf-position-left:before,
.mkdf-top-bar .mkdf-vertical-align-containers .mkdf-position-right:before {
  display: none;
}

.mkdf-top-bar .mkdf-vertical-align-containers .mkdf-position-left-inner,
.mkdf-top-bar .mkdf-vertical-align-containers .mkdf-position-right-inner {
  display: -webkit-flex;
  /* Safari */
  display: flex;
  height: 100%;
  -webkit-align-items: center;
  /* Safari 7.0+ */
  align-items: center;
}

.mkdf-top-bar .mkdf-grid {
  height: 100%;
}

.mkdf-top-bar .mkdf-grid .mkdf-vertical-align-containers {
  padding-left: 0;
  padding-right: 0;
}

.mkdf-top-bar-in-grid-padding .mkdf-top-bar .mkdf-grid .mkdf-vertical-align-containers {
  padding: 0 40px;
}

.mkdf-top-bar .widget {
  margin: 0;
  font-family: #f7775e;
  letter-spacing: .33em;
}

.mkdf-top-bar .widget.widget_nav_menu ul li {
  display: inline-block;
  padding: 0 9px;
}

.mkdf-top-bar .widget.widget_nav_menu ul li a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 10px;
}

.mkdf-dark-header .mkdf-top-bar .widget {
  color: #000000;
}

/* ==========================================================================
   Top header style - end
   ========================================================================== */
/* ==========================================================================
   Header styles - end
   ========================================================================== */

/*# sourceMappingURL=header-map.css.map */
