/* ==========================================================================
   Blog styles - begin
   ========================================================================== */
/* ==========================================================================
   Blog Common style - begin
   ========================================================================== */
.mkdf-blog-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0;
  clear: both;
  box-sizing: border-box;
}

.mkdf-blog-holder.mkdf-blog-standard article .mkdf-post-excerpt-holder {
  padding: 0 12%;
}

.mkdf-blog-holder.mkdf-blog-standard article .mkdf-post-info-category a {
  color: #565050;
  font-size: 13px;
  letter-spacing: .05em;
  text-transform: none;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

.mkdf-blog-holder article {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  box-sizing: border-box;
}

.mkdf-blog-holder article.sticky .mkdf-post-title a {
  color: #f7775e;
}

.mkdf-blog-holder article .mkdf-post-content {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.mkdf-blog-holder article .mkdf-post-image {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
}

.mkdf-blog-holder article .mkdf-post-image img {
  display: block;
}

.mkdf-blog-holder article .mkdf-post-image-background {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.mkdf-blog-holder article .mkdf-post-image-background a {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.mkdf-blog-holder article .mkdf-post-image-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  line-height: 1;
  color: #fff;
}

.mkdf-blog-holder article .mkdf-post-text {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  box-sizing: border-box;
}

.mkdf-blog-holder article .mkdf-post-destination a {
  font-family: "EpicRide", serif;
  font-weight: 400;
  letter-spacing: 0;
  font-size: 44px;
  line-height: 1em;
}

.mkdf-blog-holder article .mkdf-post-title {
  margin: 0;
  font-weight: 400;
  word-wrap: break-word;
}

.mkdf-blog-holder article .mkdf-post-info-category {
  font-size: 9px;
  font-weight: 400;
  color: #959595;
  font-family: "Montserrat", sans-serif;
  letter-spacing: .33em;
}

.mkdf-blog-holder article .mkdf-post-info-category a {
  font-size: 10px;
  line-height: 1.8em;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 1px 0 2px;
  font-size: 10px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

.mkdf-blog-holder article .mkdf-post-info-category a:last-of-type {
  margin-right: 0;
}

.mkdf-blog-holder article .mkdf-post-excerpt-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 19px 0 0;
  padding: 0 8%;
  box-sizing: border-box;
}

.mkdf-blog-holder article .mkdf-post-excerpt-holder p {
  margin: 0;
}

.mkdf-blog-holder article .mkdf-more-link-container {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 15px 0 0;
}

.mkdf-blog-holder article .mkdf-post-info {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.mkdf-blog-holder article .mkdf-post-info > * {
  position: relative;
  display: inline-block;
  vertical-align: top;
  color: currentColor;
}

.mkdf-blog-holder article .mkdf-post-info > * a {
  color: inherit;
}

.mkdf-blog-holder article .mkdf-post-info-top {
  margin-bottom: 5px;
}

.mkdf-blog-holder article .mkdf-post-info-top > div {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0 14px 0 0;
  color: #565050;
  font-size: 13px;
  letter-spacing: .05em;
}

.mkdf-blog-holder article .mkdf-post-info-top > div.mkdf-post-info-category {
  color: #959595;
}

.mkdf-blog-holder article .mkdf-post-info-top > div.mkdf-post-info-category:hover {
  color: #000000;
}

.mkdf-blog-holder article .mkdf-post-info-top > div.mkdf-post-destination:after {
  content: '';
}

.mkdf-blog-holder article .mkdf-post-info-top > div:after {
  content: '/';
  position: absolute;
  top: 0;
  right: -2px;
}

.mkdf-blog-holder article .mkdf-post-info-top > div:last-child {
  padding: 0;
}

.mkdf-blog-holder article .mkdf-post-info-top > div:last-child:after {
  content: '';
}

.mkdf-blog-holder article .mkdf-post-info-top > div a {
  color: inherit;
}

.mkdf-blog-holder article .mkdf-post-info-top > div a:hover {
  color: rgba(0, 0, 0, 0.9);
}

.mkdf-blog-holder article .mkdf-tags-holder,
.mkdf-blog-holder article .mkdf-blog-like,
.mkdf-blog-holder article .mkdf-post-info-comments-holder {
  display: inline-block;
  width: auto;
  font-size: 15px;
  font-style: italic;
  color: #959595;
}

.mkdf-blog-holder article .mkdf-tags-holder a,
.mkdf-blog-holder article .mkdf-blog-like a,
.mkdf-blog-holder article .mkdf-post-info-comments-holder a {
  color: #959595;
}

.mkdf-blog-holder article .mkdf-tags-holder a:hover,
.mkdf-blog-holder article .mkdf-blog-like a:hover,
.mkdf-blog-holder article .mkdf-post-info-comments-holder a:hover {
  color: #000000;
}

.mkdf-blog-holder article .mkdf-tags-holder .mkdf-icon-font-elegant,
.mkdf-blog-holder article .mkdf-tags-holder i,
.mkdf-blog-holder article .mkdf-blog-like .mkdf-icon-font-elegant,
.mkdf-blog-holder article .mkdf-blog-like i,
.mkdf-blog-holder article .mkdf-post-info-comments-holder .mkdf-icon-font-elegant,
.mkdf-blog-holder article .mkdf-post-info-comments-holder i {
  color: #565050;
}

.mkdf-blog-holder article .mkdf-tags-holder {
  margin-right: 18px;
}

.mkdf-blog-holder article .mkdf-blog-like span,
.mkdf-blog-holder article .mkdf-post-info-comments-holder span {
  margin-left: 3px;
}

.mkdf-blog-holder article .mkdf-post-info-bottom-upper-part {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.mkdf-blog-holder article .mkdf-post-info-bottom {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding-top: 19px;
  border-top: 1px solid #f2f2f2;
  margin-top: 43px;
}

.mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-left,
.mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-right,
.mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-center {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  float: left;
}

.mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-left .mkdf-post-info-author,
.mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-right .mkdf-post-info-author,
.mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-center .mkdf-post-info-author {
  display: inline-block;
}

@media only screen and (min-width: 769px) {
  .mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-left,
  .mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-right,
  .mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-center {
    width: 33.3%;
  }
  .mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom {
    text-align: center;
  }
  .mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-right {
    text-align: right;
    float: right;
  }
}

.mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-right > div {
  margin-left: 17px;
}

.mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-right > div:first-child {
  margin-left: 0;
}

.mkdf-blog-holder article.format-link .mkdf-post-text {
  padding: 60px 35px;
  border: 2px dashed #f2f2f2;
}

.mkdf-blog-holder article.format-link .mkdf-post-text-main {
  border: none;
}

.mkdf-blog-holder article.format-link .mkdf-post-mark .mkdf-link-mark {
  font-size: 25px;
  color: #f7775e;
}

.mkdf-blog-holder article.format-link .mkdf-post-link-holder {
  margin-top: 10px;
}

.mkdf-blog-holder article.format-link .mkdf-post-title {
  font-size: 44px;
  font-family: "EpicRide", serif;
  letter-spacing: 0;
  text-transform: none;
  line-height: 33px;
}

.mkdf-blog-holder article.format-quote .mkdf-post-text {
  padding: 60px 35px;
  border: 2px dashed #f2f2f2;
}

.mkdf-blog-holder article.format-quote .mkdf-post-text-main {
  border: none;
}

.mkdf-blog-holder article.format-quote .mkdf-post-mark .mkdf-quote-mark {
  font-size: 36px;
  color: #f7775e;
}

.mkdf-blog-holder article.format-quote .mkdf-post-title {
  font-size: 44px;
  font-family: "EpicRide", serif;
  letter-spacing: 0;
  text-transform: none;
  line-height: 33px;
}

.mkdf-blog-holder article.format-quote .mkdf-quote-author,
.mkdf-blog-holder article.format-quote .mkdf-quote-author a {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 8px;
  color: #959595;
  margin-top: 20px;
  display: inline-block;
  letter-spacing: .33em;
}

.mkdf-blog-holder article.format-gallery .mkdf-post-image {
  width: 100%;
}

.mkdf-blog-holder article.format-gallery .mkdf-owl-slider .owl-nav .owl-prev {
  left: 0;
}

.mkdf-blog-holder article.format-gallery .mkdf-owl-slider .owl-nav .owl-next {
  right: 0;
}

.mkdf-blog-holder article.format-gallery .owl-carousel .owl-item {
  z-index: 2;
}

.mkdf-blog-holder article.format-gallery .owl-carousel .owl-item.active {
  z-index: 3;
}

.mkdf-blog-holder article.format-audio.has-post-thumbnail .mkdf-post-heading {
  position: relative;
}

.mkdf-blog-holder article.format-audio.has-post-thumbnail .mkdf-blog-audio-holder {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}

.mkdf-blog-holder article.format-audio .mkdf-post-image {
  width: 100%;
  max-width: inherit;
}

.mkdf-blog-holder article.format-audio .mkdf-post-image img {
  width: 100%;
}

.mkdf-blog-holder article.format-video .mkdf-self-hosted-video {
  max-width: 100%;
}

/* ==========================================================================
   Blog Common style - end
   ========================================================================== */
.mkdf-blog-audio-holder .mejs-container, .mkdf-blog-audio-holder .mejs-embed, .mkdf-blog-audio-holder .mejs-embed body, .mkdf-blog-audio-holder .mejs-container .mejs-controls,
.mkdf-blog-video-holder .mejs-container,
.mkdf-blog-video-holder .mejs-embed,
.mkdf-blog-video-holder .mejs-embed body,
.mkdf-blog-video-holder .mejs-container .mejs-controls {
  background: none;
}

.mkdf-blog-audio-holder .mejs-container,
.mkdf-blog-audio-holder .mejs-container .mejs-controls,
.mkdf-blog-video-holder .mejs-container,
.mkdf-blog-video-holder .mejs-container .mejs-controls {
  height: 40px !important;
}

.mkdf-blog-audio-holder .mejs-container .mejs-controls,
.mkdf-blog-video-holder .mejs-container .mejs-controls {
  background: #000000;
  box-sizing: border-box;
  font-family: "Lora", serif;
  padding: 0;
}

.mkdf-blog-audio-holder .mejs-container .mejs-controls .mejs-button,
.mkdf-blog-video-holder .mejs-container .mejs-controls .mejs-button {
  height: 40px;
  width: 40px;
}

.mkdf-blog-audio-holder .mejs-container .mejs-controls button,
.mkdf-blog-video-holder .mejs-container .mejs-controls button {
  background-color: transparent;
  background-image: none;
  border: 0;
  height: 40px;
  margin: 0;
  outline: none;
  position: relative;
  top: 0;
  width: 40px;
}

.mkdf-blog-audio-holder .mejs-container .mejs-controls button:before,
.mkdf-blog-video-holder .mejs-container .mejs-controls button:before {
  color: #ffffff;
  display: block;
  font-family: 'ElegantIcons';
  font-size: 15px;
  height: 40px;
  left: 0;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 40px;
}

.mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-play button:before, .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-replay button:before,
.mkdf-blog-video-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-play button:before,
.mkdf-blog-video-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-replay button:before {
  content: "\45";
  font-size: 25px;
}

.mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-pause button:before,
.mkdf-blog-video-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-pause button:before {
  content: "\60";
  font-size: 25px;
}

.mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-stop button:before,
.mkdf-blog-video-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-stop button:before {
  content: "\5e";
  font-size: 25px;
}

.mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button.mejs-mute button:before,
.mkdf-blog-video-holder .mejs-container .mejs-controls > .mejs-volume-button.mejs-mute button:before {
  content: "\78";
}

.mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button.mejs-unmute button:before,
.mkdf-blog-video-holder .mejs-container .mejs-controls > .mejs-volume-button.mejs-unmute button:before {
  content: "\79";
}

.mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button > a.mejs-volume-slider,
.mkdf-blog-video-holder .mejs-container .mejs-controls > .mejs-volume-button > a.mejs-volume-slider {
  background: rgba(0, 0, 0, 0.7);
  height: 130px;
  width: 36px;
}

.mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button > a.mejs-volume-slider .mejs-volume-total,
.mkdf-blog-video-holder .mejs-container .mejs-controls > .mejs-volume-button > a.mejs-volume-slider .mejs-volume-total {
  background: #ffffff;
  top: 15px;
  width: 6px;
}

.mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button > a.mejs-volume-slider .mejs-volume-current,
.mkdf-blog-video-holder .mejs-container .mejs-controls > .mejs-volume-button > a.mejs-volume-slider .mejs-volume-current {
  background-color: #f7775e;
}

.mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button > a.mejs-volume-slider .mejs-volume-handle,
.mkdf-blog-video-holder .mejs-container .mejs-controls > .mejs-volume-button > a.mejs-volume-slider .mejs-volume-handle {
  display: none;
}

.mkdf-blog-audio-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider,
.mkdf-blog-video-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider {
  height: 40px;
  margin-right: 20px;
  width: 100px;
}

.mkdf-blog-audio-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.mkdf-blog-audio-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
.mkdf-blog-video-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.mkdf-blog-video-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  height: 6px;
}

.mkdf-blog-audio-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.mkdf-blog-video-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
  background: #ffffff;
  top: 17px;
  width: 100px;
}

.mkdf-blog-audio-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
.mkdf-blog-video-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  background-color: #f7775e;
}

.mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time,
.mkdf-blog-video-holder .mejs-container .mejs-controls > .mejs-time {
  color: #ffffff;
  font-family: "Lora", serif;
  font-size: 13px;
  height: 100%;
  line-height: 40px;
  padding: 0 20px;
  width: 40px;
}

.mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time > *,
.mkdf-blog-video-holder .mejs-container .mejs-controls > .mejs-time > * {
  font-family: inherit;
}

.mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail,
.mkdf-blog-video-holder .mejs-container .mejs-controls > .mejs-time-rail {
  font-family: inherit;
  height: 6px;
  margin: 0;
  padding: 0;
  top: 17px;
}

.mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total,
.mkdf-blog-video-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total {
  background: rgba(255, 255, 255, 0.7);
  height: 6px;
  margin: 0;
}

.mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total span,
.mkdf-blog-video-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total span {
  height: 6px;
}

.mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-buffering,
.mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-hovered,
.mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-marker,
.mkdf-blog-video-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-buffering,
.mkdf-blog-video-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-hovered,
.mkdf-blog-video-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-marker {
  background: transparent;
}

.mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-loaded,
.mkdf-blog-video-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-loaded {
  background: #ffffff;
}

.mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-current,
.mkdf-blog-video-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-current {
  background: #f7775e;
}

.mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-hovered,
.mkdf-blog-video-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-hovered {
  background: rgba(247, 119, 94, 0.7);
}

.mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-float,
.mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-float-corner,
.mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-float-current,
.mkdf-blog-video-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-float,
.mkdf-blog-video-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-float-corner,
.mkdf-blog-video-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-float-current {
  background: none;
  border: 0;
  color: #ffffff;
  top: -20px;
}

.mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-handle,
.mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-handle-content,
.mkdf-blog-video-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-handle,
.mkdf-blog-video-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-handle-content {
  border: none;
  height: 6px;
  left: 0;
  top: 0;
  width: 6px;
}

.mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-fullscreen-button button:before,
.mkdf-blog-video-holder .mejs-container .mejs-controls > .mejs-fullscreen-button button:before {
  content: "\30";
}

.mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-fullscreen-button.mejs-unfullscreen button:before,
.mkdf-blog-video-holder .mejs-container .mejs-controls > .mejs-fullscreen-button.mejs-unfullscreen button:before {
  content: "\2f";
}

.mkdf-self-hosted-video-holder {
  overflow: hidden;
}

.mkdf-self-hosted-video-holder video {
  object-fit: cover;
}

/* ==========================================================================
   Blog pagination standard style - begin
   ========================================================================== */
.mkdf-blog-pagination-wp {
  display: none;
}

.mkdf-blog-pagination {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: top;
  margin: 40px 0 0;
  clear: both;
}

.mkdf-blog-pagination ul {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: top;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: left;
}

.mkdf-blog-pagination ul li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0 12px;
}

.mkdf-blog-pagination ul li a {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #959595;
}

.mkdf-blog-pagination ul li.mkdf-pag-active a {
  color: #000000;
}

.mkdf-blog-pagination ul li.mkdf-pag-prev, .mkdf-blog-pagination ul li.mkdf-pag-next, .mkdf-blog-pagination ul li.mkdf-pag-first, .mkdf-blog-pagination ul li.mkdf-pag-last {
  margin: 0 2px;
}

.mkdf-blog-pagination ul li.mkdf-pag-prev a, .mkdf-blog-pagination ul li.mkdf-pag-next a, .mkdf-blog-pagination ul li.mkdf-pag-first a, .mkdf-blog-pagination ul li.mkdf-pag-last a {
  font-size: 24px;
}

.mkdf-blog-pagination ul li.mkdf-pag-prev a span, .mkdf-blog-pagination ul li.mkdf-pag-next a span, .mkdf-blog-pagination ul li.mkdf-pag-first a span, .mkdf-blog-pagination ul li.mkdf-pag-last a span {
  display: block;
  line-height: inherit;
}

.mkdf-blog-pagination ul li.mkdf-pag-prev a span:before, .mkdf-blog-pagination ul li.mkdf-pag-next a span:before, .mkdf-blog-pagination ul li.mkdf-pag-first a span:before, .mkdf-blog-pagination ul li.mkdf-pag-last a span:before {
  display: block;
  line-height: inherit;
}

/* ==========================================================================
   Blog pagination standard style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode pagination standard style - begin
   ========================================================================== */
.mkdf-blog-list-holder.mkdf-bl-pag-standard-shortcodes .mkdf-blog-list {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.mkdf-blog-list-holder.mkdf-bl-pag-standard-shortcodes.mkdf-bl-pag-standard-shortcodes-animate .mkdf-blog-list {
  opacity: 0;
}

.mkdf-bl-standard-pagination {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: top;
  margin: 40px 0 0;
  clear: both;
}

.mkdf-bl-standard-pagination ul {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: top;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: left;
}

.mkdf-bl-standard-pagination ul li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0 12px;
}

.mkdf-bl-standard-pagination ul li a {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #959595;
}

.mkdf-bl-standard-pagination ul li.mkdf-pag-active a {
  color: #000000;
}

.mkdf-bl-standard-pagination ul li.mkdf-pag-prev, .mkdf-bl-standard-pagination ul li.mkdf-pag-next, .mkdf-bl-standard-pagination ul li.mkdf-pag-first, .mkdf-bl-standard-pagination ul li.mkdf-pag-last {
  margin: 0 2px;
}

.mkdf-bl-standard-pagination ul li.mkdf-pag-prev a, .mkdf-bl-standard-pagination ul li.mkdf-pag-next a, .mkdf-bl-standard-pagination ul li.mkdf-pag-first a, .mkdf-bl-standard-pagination ul li.mkdf-pag-last a {
  font-size: 24px;
}

.mkdf-bl-standard-pagination ul li.mkdf-pag-prev a span, .mkdf-bl-standard-pagination ul li.mkdf-pag-next a span, .mkdf-bl-standard-pagination ul li.mkdf-pag-first a span, .mkdf-bl-standard-pagination ul li.mkdf-pag-last a span {
  display: block;
  line-height: inherit;
}

.mkdf-bl-standard-pagination ul li.mkdf-pag-prev a span:before, .mkdf-bl-standard-pagination ul li.mkdf-pag-next a span:before, .mkdf-bl-standard-pagination ul li.mkdf-pag-first a span:before, .mkdf-bl-standard-pagination ul li.mkdf-pag-last a span:before {
  display: block;
  line-height: inherit;
}

.mkdf-bl-standard-pagination ul li.mkdf-pag-prev a {
  opacity: 0;
}

.mkdf-bl-standard-pagination ul li.mkdf-pag-next a {
  opacity: 1;
}

/* ==========================================================================
   Blog List shortcode pagination standard style - end
   ========================================================================== */
/* ==========================================================================
   Blog pagination load more style - begin
   ========================================================================== */
.mkdf-blog-pag-load-more {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 40px 0 30px;
  text-align: center;
}

/* ==========================================================================
   Blog pagination load more style - end
   ========================================================================== */
/* ==========================================================================
   Blog pagination loading element style - begin
   ========================================================================== */
.mkdf-blog-pag-loading {
  position: relative;
  display: none;
  width: 100%;
  margin: 40px 0 20px;
  color: #000000;
  text-align: center;
}

.mkdf-blog-pag-loading.mkdf-standard-pag-trigger {
  position: absolute;
  top: 50px;
  left: 0;
}

.mkdf-blog-pag-loading.mkdf-showing {
  display: block;
}

.mkdf-blog-pag-loading > div {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  margin: 0 3px;
  background-color: #000000;
  border-radius: 100%;
  -webkit-animation: bl-pag-bouncedelay 1.4s infinite ease-in-out both;
  -moz-animation: bl-pag-bouncedelay 1.4s infinite ease-in-out both;
  animation: bl-pag-bouncedelay 1.4s infinite ease-in-out both;
}

.mkdf-blog-pag-loading .mkdf-blog-pag-bounce1 {
  -webkit-animation-delay: -0.32s;
  -moz-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.mkdf-blog-pag-loading .mkdf-blog-pag-bounce2 {
  -webkit-animation-delay: -0.16s;
  -moz-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bl-pag-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes bl-pag-bouncedelay {
  0%, 80%, 100% {
    -moz-transform: scale(0);
  }
  40% {
    -moz-transform: scale(1);
  }
}

@keyframes bl-pag-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* ==========================================================================
   Blog pagination loading element style - end
   ========================================================================== */
/* ==========================================================================
   Blog List - Chequered style - begin
   ========================================================================== */
.mkdf-blog-holder.mkdf-blog-chequered article.mkdf-post-no-media .mkdf-post-content {
  background-color: #f3f3f3;
}

.mkdf-blog-holder.mkdf-blog-chequered article:hover .mkdf-post-image-background {
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  transform: scale(1.04);
}

.mkdf-blog-holder.mkdf-blog-chequered article:hover .mkdf-post-image-background:after {
  opacity: 1;
}

.mkdf-blog-holder.mkdf-blog-chequered article:hover .mkdf-post-info-date {
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.mkdf-blog-holder.mkdf-blog-chequered article .mkdf-post-info-date {
  position: absolute;
  top: 10px;
  right: -1px;
  background-color: #fff;
  color: #000000;
  padding: 2px 11px 7px;
  box-sizing: border-box;
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 15px;
  font-style: italic;
}

.mkdf-blog-holder.mkdf-blog-chequered article .mkdf-post-info-date:hover {
  opacity: 1;
}

.mkdf-blog-holder.mkdf-blog-chequered article .mkdf-post-content {
  overflow: hidden;
  height: 100%;
  z-index: 3;
  position: relative;
}

.mkdf-blog-holder.mkdf-blog-chequered article .mkdf-post-content .mkdf-post-image-background {
  backface-visibility: hidden;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  transition: 0.7s;
  z-index: 60;
}

.mkdf-blog-holder.mkdf-blog-chequered article .mkdf-post-content .mkdf-post-image-background:hover:after {
  opacity: 1;
}

.mkdf-blog-holder.mkdf-blog-chequered article .mkdf-post-content .mkdf-post-image-background:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.mkdf-blog-holder.mkdf-blog-chequered article .mkdf-post-content .mkdf-post-image-background a {
  z-index: 50;
}

.mkdf-blog-holder.mkdf-blog-chequered article .mkdf-post-text-main {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: table;
  vertical-align: bottom;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.65) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.65) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.65) 100%);
  padding: 0 38px;
  box-sizing: border-box;
  z-index: 100;
}

.mkdf-blog-holder.mkdf-blog-chequered article .mkdf-post-text-main .mkdf-post-text-main-inner {
  z-index: 123;
}

.mkdf-blog-holder.mkdf-blog-chequered article .mkdf-post-text-main .mkdf-post-text-main-inner .mkdf-post-title a:hover {
  color: rgba(255, 255, 255, 0.9);
}

.mkdf-blog-holder.mkdf-blog-chequered article .mkdf-post-text-main .mkdf-post-info-date {
  z-index: 123;
}

.mkdf-blog-holder.mkdf-blog-chequered article .mkdf-post-text-main-inner {
  position: absolute;
  bottom: 25px;
  padding-right: 20px;
}

.mkdf-blog-holder.mkdf-blog-chequered article .mkdf-post-title {
  color: #fff;
  font-size: 14px;
  line-height: 1.57em;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.mkdf-blog-holder.mkdf-blog-chequered article .mkdf-post-info-category {
  margin-top: 4px;
}

.mkdf-blog-holder.mkdf-blog-chequered article .mkdf-post-info-category a {
  color: #fff;
  font-size: 8px;
}

.mkdf-blog-holder.mkdf-blog-chequered article.format-link .mkdf-post-text, .mkdf-blog-holder.mkdf-blog-chequered article.format-quote .mkdf-post-text {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  background-color: #f3f3f3;
  text-align: center;
}

.mkdf-blog-holder.mkdf-blog-chequered article.format-link .mkdf-post-text-inner, .mkdf-blog-holder.mkdf-blog-chequered article.format-quote .mkdf-post-text-inner {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 1;
  box-sizing: border-box;
}

.mkdf-blog-holder.mkdf-blog-chequered article.format-link .mkdf-post-mark, .mkdf-blog-holder.mkdf-blog-chequered article.format-quote .mkdf-post-mark {
  position: relative;
  top: auto;
  right: auto;
  width: auto;
  border: none;
  text-align: center;
}

/* ==========================================================================
   Blog List - Chequered style - end
   ========================================================================== */
/* ==========================================================================
   Blog List - Masonry style - begin
   ========================================================================== */
.mkdf-blog-holder.mkdf-blog-masonry article {
  margin: 0 0 20px;
  padding: 0 0 30px;
}

.mkdf-blog-holder.mkdf-blog-masonry article .mkdf-post-image a {
  display: block;
  overflow: hidden;
}

.mkdf-blog-holder.mkdf-blog-masonry article .mkdf-post-image a:before {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0;
  z-index: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.mkdf-blog-holder.mkdf-blog-masonry article .mkdf-post-image a img {
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  transition: 0.7s;
  backface-visibility: hidden;
}

.mkdf-blog-holder.mkdf-blog-masonry article .mkdf-post-image a:hover:before {
  opacity: 1;
}

.mkdf-blog-holder.mkdf-blog-masonry article .mkdf-post-image a:hover img {
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  transform: scale(1.03);
}

.mkdf-blog-holder.mkdf-blog-masonry article .mkdf-post-image img {
  display: block;
}

.mkdf-blog-holder.mkdf-blog-masonry article.mkdf-bl-rounded .mkdf-post-heading {
  text-align: center;
}

.mkdf-blog-holder.mkdf-blog-masonry article.mkdf-bl-rounded .mkdf-post-image {
  width: 95%;
}

.mkdf-blog-holder.mkdf-blog-masonry article.mkdf-bl-rounded .mkdf-post-image a {
  border-radius: 100%;
}

.mkdf-blog-holder.mkdf-blog-masonry article.mkdf-bl-rounded .mkdf-post-image a:before {
  border-radius: 100%;
}

.mkdf-blog-holder.mkdf-blog-masonry article.mkdf-bl-rounded .mkdf-post-image img {
  box-sizing: border-box;
}

.mkdf-blog-holder.mkdf-blog-masonry article.mkdf-bl-rounded .mkdf-post-text-main {
  border: none;
}

.mkdf-blog-holder.mkdf-blog-masonry article .mkdf-post-info-category a {
  margin-top: 10px;
}

.mkdf-blog-holder.mkdf-blog-masonry article.format-quote .mkdf-post-title, .mkdf-blog-holder.mkdf-blog-masonry article.format-link .mkdf-post-title {
  padding: 2px 0 0;
}

.mkdf-blog-holder.mkdf-blog-masonry article.format-quote .mkdf-post-text-main, .mkdf-blog-holder.mkdf-blog-masonry article.format-link .mkdf-post-text-main {
  border: none;
  padding: 0;
}

.mkdf-blog-holder.mkdf-blog-masonry article.format-gallery .owl-nav {
  display: none;
}

.mkdf-blog-holder.mkdf-blog-masonry article .mkdf-post-title {
  padding: 5px 8% 9px;
  box-sizing: border-box;
  font-weight: 500;
}

.mkdf-blog-holder.mkdf-blog-masonry article .mkdf-post-text-main {
  text-align: center;
  border: 1px solid #f2f2f2;
  border-top: none;
  padding: 27px 0 31px;
}

.mkdf-blog-holder.mkdf-blog-masonry article .mkdf-post-text-main .mkdf-post-info-author a {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 8px;
  color: #959595;
  margin-top: 20px;
  display: inline-block;
  letter-spacing: .33em;
}

/* ==========================================================================
   Blog List - Masonry style - end
   ========================================================================== */
/* ==========================================================================
   Blog List - Standard style - begin
   ========================================================================== */
.mkdf-blog-holder.mkdf-blog-standard .mkdf-post-content {
  text-align: center;
}

.mkdf-blog-holder.mkdf-blog-standard article {
  margin: 0 0 50px;
  padding: 0;
}

.mkdf-blog-holder.mkdf-blog-standard article .mkdf-post-title {
  margin: 21px 0 11px;
}

.mkdf-blog-holder.mkdf-blog-standard article .mkdf-tags {
  font-size: 13px;
  color: #959595;
  margin-left: 10px;
  letter-spacing: 0;
}

.mkdf-blog-holder.mkdf-blog-standard article .mkdf-post-info-top {
  margin-bottom: 30px;
}

.mkdf-blog-holder.mkdf-blog-standard article .mkdf-post-info-top > div.mkdf-post-info-category a {
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: .33em;
  font-family: "Montserrat", sans-serif;
}

.mkdf-blog-holder.mkdf-blog-standard article .mkdf-post-read-more-button {
  margin-top: 35px;
}

.mkdf-blog-holder.mkdf-blog-standard article .mkdf-post-read-more-button a {
  font-weight: 500;
}

.mkdf-blog-holder.mkdf-blog-standard article .mkdf-post-info-bottom {
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 14px;
}

.mkdf-blog-holder.mkdf-blog-standard article .mkdf-post-info-bottom .mkdf-post-info-bottom-left {
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .mkdf-blog-holder.mkdf-blog-standard article .mkdf-post-info-bottom .mkdf-post-info-bottom-left {
    text-align: center;
  }
}

.mkdf-blog-holder.mkdf-blog-standard article .mkdf-post-info-bottom .mkdf-post-info-bottom-left .mkdf-post-info-author {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: .33em;
  text-transform: uppercase;
}

.mkdf-blog-holder.mkdf-blog-standard article .mkdf-post-info-bottom .mkdf-post-info-bottom-left .mkdf-post-info-author a {
  color: #959595;
}

.mkdf-blog-holder.mkdf-blog-standard article .mkdf-post-info-bottom .mkdf-post-info-bottom-left .mkdf-post-info-author a:hover {
  color: #000000;
}

.mkdf-blog-holder.mkdf-blog-standard article .mkdf-post-info-bottom .mkdf-post-info-bottom-right a {
  font-style: italic;
  font-size: 15px;
  color: #959595;
}

.mkdf-blog-holder.mkdf-blog-standard article.mkdf-post-has-media .mkdf-post-heading {
  margin-bottom: 10px;
}

.mkdf-blog-holder.mkdf-blog-standard article.format-quote .mkdf-post-text-main, .mkdf-blog-holder.mkdf-blog-standard article.format-link .mkdf-post-text-main {
  text-align: center;
}

.mkdf-blog-holder.mkdf-blog-standard article.format-quote .mkdf-quote-author, .mkdf-blog-holder.mkdf-blog-standard article.format-link .mkdf-quote-author {
  font-family: "Montserrat", sans-serif;
  font-size: 8px;
  text-transform: uppercase;
  letter-spacing: .33em;
  color: #959595;
}

/* ==========================================================================
   Blog List - Standard style - end
   ========================================================================== */
/* Single author box styles - begin
	====================================================================== */
.mkdf-author-description {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

.mkdf-author-description .mkdf-author-description-inner {
  padding: 60px 0 20px;
  min-height: 180px;
  clear: both;
}

.mkdf-author-description .mkdf-author-description-content {
  position: relative;
}

.mkdf-author-description .mkdf-author-description-image {
  width: 180px;
  display: table-cell;
  vertical-align: middle;
}

.mkdf-author-description .mkdf-author-description-image img {
  display: block;
  border-radius: 100%;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #f3f3f3;
}

.mkdf-author-description .mkdf-author-description-text-holder {
  position: relative;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  padding-left: 29px;
}

.mkdf-author-description .mkdf-author-description-text-holder .mkdf-author-name {
  margin: 0;
  font-weight: 500;
}

.mkdf-author-description .mkdf-author-description-text-holder .mkdf-author-name a {
  color: #000000;
  font-weight: 500;
}

.mkdf-author-description .mkdf-author-description-text-holder .mkdf-author-name a:hover {
  color: rgba(0, 0, 0, 0.9);
}

.mkdf-author-description .mkdf-author-description-text-holder .mkdf-author-email {
  margin: 0;
}

.mkdf-author-description .mkdf-author-description-text-holder .mkdf-author-text {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.mkdf-author-description .mkdf-author-description-text-holder .mkdf-author-text > p {
  margin: 15px 0 13px;
  padding-right: 10%;
  box-sizing: border-box;
  color: #838383;
}

.mkdf-author-description .mkdf-author-description-text-holder .mkdf-author-social-icons {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.mkdf-author-description .mkdf-author-description-text-holder .mkdf-author-social-icons a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin: 0 7px 0 0;
  font-size: 12px;
  color: #959595;
}

.mkdf-author-description .mkdf-author-description-text-holder .mkdf-author-social-icons a:last-child {
  margin: 0;
}

.mkdf-author-description .mkdf-author-description-text-holder .mkdf-author-social-icons a:hover {
  color: #000000;
}

@media only screen and (max-width: 768px) {
  .mkdf-author-description .mkdf-author-description-content {
    padding: 0;
  }
  .mkdf-author-description .mkdf-author-description-image {
    display: block;
    width: 100%;
  }
  .mkdf-author-description .mkdf-author-description-text-holder {
    display: block;
    padding: 0;
    margin-top: 30px;
  }
}

/* Single author box styles - end
	====================================================================== */
/* Single posts navigation styles - begin
    ====================================================================== */
.mkdf-blog-single-navigation {
  position: relative;
  display: block;
  width: 100%;
  vertical-align: middle;
  padding: 0;
  clear: both;
  box-sizing: border-box;
}

.mkdf-blog-single-navigation .mkdf-blog-single-nav-thumbnail {
  max-width: 53px;
  display: inline-block;
  vertical-align: middle;
}

.mkdf-blog-single-navigation .mkdf-blog-single-nav-thumbnail img {
  display: block;
}

.mkdf-blog-single-navigation .mkdf-blog-single-nav-title {
  display: inline-flex;
  vertical-align: middle;
  padding: 0 0 0 14px;
  margin: 0;
  align-items: center;
  font-weight: 500;
}

.mkdf-blog-single-navigation .mkdf-blog-single-navigation-inner {
  padding: 7px 0 30px;
}

.mkdf-blog-single-navigation .mkdf-blog-single-nav-prev,
.mkdf-blog-single-navigation .mkdf-blog-single-nav-next {
  width: 50%;
  float: left;
  color: #565050;
}

.mkdf-blog-single-navigation .mkdf-blog-single-nav-prev a,
.mkdf-blog-single-navigation .mkdf-blog-single-nav-next a {
  display: flex;
}

.mkdf-blog-single-navigation .mkdf-blog-single-nav-prev .mkdf-blog-single-nav-label,
.mkdf-blog-single-navigation .mkdf-blog-single-nav-next .mkdf-blog-single-nav-label {
  color: inherit;
}

.mkdf-blog-single-navigation .mkdf-blog-single-nav-prev:hover,
.mkdf-blog-single-navigation .mkdf-blog-single-nav-next:hover {
  color: rgba(0, 0, 0, 0.9);
}

.mkdf-blog-single-navigation .mkdf-blog-single-nav-next {
  float: right;
}

.mkdf-blog-single-navigation .mkdf-blog-single-nav-next a {
  flex-direction: row-reverse;
}

.mkdf-blog-single-navigation .mkdf-blog-single-nav-next .mkdf-blog-single-nav-title {
  padding: 0 14px 0 0;
}

.mkdf-single-links-pages {
  clear: both;
  margin: 20px 0 5px;
}

.mkdf-single-links-pages .mkdf-single-links-pages-inner > a,
.mkdf-single-links-pages .mkdf-single-links-pages-inner > span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 12px 5px 0;
}

.mkdf-single-links-pages .mkdf-single-links-pages-inner > span {
  color: #f7775e;
}

.mkdf-single-links-pages .mkdf-single-links-pages-inner > a:hover {
  color: #000000;
}

/* Single posts navigation styles - end
    ====================================================================== */
/* Related posts styles - begin
	====================================================================== */
.mkdf-related-posts-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 0;
  box-sizing: border-box;
}

.mkdf-related-posts-holder .mkdf-related-posts-holder-inner {
  padding: 46px 0 26px;
}

.mkdf-related-posts-holder .mkdf-related-posts-title {
  margin: 0 0 40px;
}

.mkdf-related-posts-holder .mkdf-related-posts-title > * {
  margin: 0;
}

.mkdf-related-posts-holder .mkdf-related-posts-inner {
  margin: 0 -15px;
}

.mkdf-related-posts-holder .mkdf-related-post {
  position: relative;
  display: inline-block;
  float: left;
  width: 25%;
  margin: 0 0 30px;
  padding: 0 15px;
  box-sizing: border-box;
}

.mkdf-content-has-sidebar .mkdf-related-posts-holder .mkdf-related-post {
  widtH: 33.33333333333333%;
}

.touch .mkdf-related-posts-holder .mkdf-related-post {
  cursor: pointer;
}

.mkdf-related-posts-holder .mkdf-related-post:hover .mkdf-related-post-image a:after {
  opacity: 1;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-related-post-image {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  overflow: hidden;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-related-post-image a {
  position: relative;
  display: block;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-related-post-image a:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-related-post-image img {
  display: block;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-post-title {
  margin: 19px 0 0;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-post-title:first-child {
  margin-top: 0;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-post-info {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 4px 0 0;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-post-info > div {
  position: relative;
  display: inline-block;
  vertical-align: top;
  float: left;
  padding: 0 13px 0 0;
  color: inherit;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-post-info > div:after {
  position: absolute;
  top: 0;
  right: 4px;
  content: '/';
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-post-info > div:last-child {
  padding: 0;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-post-info > div:last-child:after {
  display: none;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-post-info > div.mkdf-post-info-author .mkdf-post-info-author-text {
  margin: 0 3px 0 0;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-post-info > div a {
  color: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/* Related posts styles - end
	====================================================================== */
.single-post.mkdf-fullwidth-featured-image .mkdf-blog-fullwidth-featured-image-holder {
  height: 620px;
  background-size: cover;
}

.single-post.mkdf-fullwidth-featured-image .mkdf-content .mkdf-content-inner > .mkdf-container > .mkdf-container-inner {
  margin-top: -190px;
  background-color: #fff;
}

.single-post.mkdf-fullwidth-featured-image .mkdf-blog-holder {
  padding: 47px 10%;
  box-sizing: border-box;
}

.single-post.mkdf-fullwidth-featured-image .mkdf-blog-holder article .mkdf-post-title {
  margin: 15px 0 13px;
}

/* ==========================================================================
   Blog Single style - begin
   ========================================================================== */
.mkdf-blog-holder.mkdf-blog-single article {
  margin: 0 0 30px;
}

.mkdf-blog-holder.mkdf-blog-single article .mkdf-post-heading {
  margin-bottom: 41px;
}

.mkdf-blog-holder.mkdf-blog-single article .mkdf-post-info-top {
  text-align: center;
}

.mkdf-blog-holder.mkdf-blog-single article .mkdf-post-info-top .mkdf-post-destination {
  padding: 0;
}

.mkdf-blog-holder.mkdf-blog-single article .mkdf-post-info-top .mkdf-post-info-category {
  display: block;
}

.mkdf-blog-holder.mkdf-blog-single article .mkdf-post-info-top .mkdf-post-info-category a {
  font-size: 10px;
  letter-spacing: .3em;
}

.mkdf-blog-holder.mkdf-blog-single article .mkdf-post-title {
  margin-top: 16px;
  margin-bottom: 13px;
}

.mkdf-blog-holder.mkdf-blog-single article .mkdf-post-text-main {
  margin-top: 16px;
}

.mkdf-blog-holder.mkdf-blog-single article .mkdf-post-text {
  padding: 0 0 14px;
  border-bottom: 1px solid #f2f2f2;
}

.mkdf-blog-holder.mkdf-blog-single article .mkdf-post-read-more-button a {
  text-indent: 4px;
}

.mkdf-blog-holder.mkdf-blog-single article .mkdf-post-info-author {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: .33em;
}

.mkdf-blog-holder.mkdf-blog-single article .mkdf-post-info-author a {
  color: #959595;
}

.mkdf-blog-holder.mkdf-blog-single article .mkdf-post-info-author a:hover {
  color: #000000;
}

.mkdf-blog-holder.mkdf-blog-single article .mkdf-blog-like {
  margin: 32px 15px 0 0;
}

.mkdf-blog-holder.mkdf-blog-single article .mkdf-post-info-bottom-center {
  text-align: center;
}

.mkdf-blog-holder.mkdf-blog-single article .mkdf-post-info-date {
  font-style: italic;
  font-size: 15px;
}

.mkdf-blog-holder.mkdf-blog-single article .mkdf-post-info-date a {
  color: #959595;
}

.mkdf-blog-holder.mkdf-blog-single article .mkdf-post-info-date a:hover {
  color: #000000;
}

.mkdf-blog-holder.mkdf-blog-single article.format-link, .mkdf-blog-holder.mkdf-blog-single article.format-quote {
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 20px;
}

.mkdf-blog-holder.mkdf-blog-single article.format-link .mkdf-post-info-top, .mkdf-blog-holder.mkdf-blog-single article.format-quote .mkdf-post-info-top {
  margin: 40px 0 16px;
}

.mkdf-blog-holder.mkdf-blog-single article.format-link .mkdf-post-text, .mkdf-blog-holder.mkdf-blog-single article.format-quote .mkdf-post-text {
  padding: 60px 35px;
  border: 2px dashed #f2f2f2;
  text-align: center;
}

.mkdf-blog-holder.mkdf-blog-single article.format-link .mkdf-post-text-main,
.mkdf-blog-holder.mkdf-blog-single article.format-link .mkdf-post-info-author, .mkdf-blog-holder.mkdf-blog-single article.format-quote .mkdf-post-text-main,
.mkdf-blog-holder.mkdf-blog-single article.format-quote .mkdf-post-info-author {
  margin: 0;
}

/* ==========================================================================
   Blog Single style - end
   ========================================================================== */
/* ==========================================================================
   blog Category List shortcode style - begin
   ========================================================================== */
.mkdf-blog-category-list-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.touch .mkdf-blog-category-list-holder article {
  cursor: pointer;
}

.mkdf-blog-category-list-holder article .mkdf-bcl-item-inner {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 30px 20px 20px;
  border: 1px solid transparent;
  box-sizing: border-box;
  overflow: hidden;
  -webkit-transition: border-color 0.2s ease-in-out;
  -moz-transition: border-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
}

.mkdf-blog-category-list-holder article .mkdf-bcli-image {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.mkdf-blog-category-list-holder article .mkdf-bcli-image img {
  display: block;
  margin: 0 auto;
}

.mkdf-blog-category-list-holder article .mkdf-bcli-text-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  box-sizing: border-box;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.mkdf-blog-category-list-holder article .mkdf-bcli-text-wrapper {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.mkdf-blog-category-list-holder article .mkdf-bcli-text {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
}

.mkdf-blog-category-list-holder article .mkdf-bcli-title {
  margin: 15px 0 0;
}

.mkdf-blog-category-list-holder article .mkdf-bcli-count {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: .33em;
  text-transform: uppercase;
  color: #959595;
  font-size: 8px;
  margin: 0;
}

.mkdf-blog-category-list-holder article .mkdf-bcli-excerpt {
  margin: 3px 0 0;
}

.mkdf-blog-category-list-holder article .mkdf-bcli-link {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.mkdf-blog-category-list-holder article .mkdf-bcli-link:hover + .mkdf-bcl-item-inner {
  border-color: #ededed;
}

/* ==========================================================================
   blog Category List shortcode style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode global style - begin
   ========================================================================== */
.mkdf-blog-list-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  clear: both;
  text-align: center;
}

.mkdf-blog-list-holder.mkdf-bl-standard .mkdf-post-excerpt {
  text-align: center;
}

.mkdf-blog-list-holder.mkdf-bl-standard.mkdf-bl-left-alignment .mkdf-post-excerpt {
  text-align: left;
}

.mkdf-blog-list-holder.mkdf-bl-standard .mkdf-post-info-category a {
  font-size: 10px;
}

.mkdf-blog-list-holder .mkdf-blog-list {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  list-style: none;
  margin: 0;
  padding: 0;
}

.mkdf-blog-list-holder .mkdf-bl-item {
  padding: 0;
  margin: 0;
}

.mkdf-blog-list-holder .mkdf-bli-inner {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.mkdf-blog-list-holder .mkdf-bli-content {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  box-sizing: border-box;
}

.mkdf-blog-list-holder .mkdf-post-image {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0 0 30px;
}

.mkdf-blog-list-holder .mkdf-post-image a {
  display: block;
  overflow: hidden;
}

.mkdf-blog-list-holder .mkdf-post-image a:before {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0;
  z-index: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.mkdf-blog-list-holder .mkdf-post-image a img {
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  transition: 0.7s;
  backface-visibility: hidden;
}

.mkdf-blog-list-holder .mkdf-post-image a:hover:before {
  opacity: 1;
}

.mkdf-blog-list-holder .mkdf-post-image a:hover img {
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  transform: scale(1.03);
}

.mkdf-blog-list-holder .mkdf-post-image img {
  display: block;
}

.mkdf-blog-list-holder .mkdf-bli-info {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0 0 8px;
  clear: both;
}

.mkdf-blog-list-holder .mkdf-bli-info > div {
  position: relative;
  display: inline-block;
  font-size: 13px;
  line-height: 1.2;
  padding: 0 20px 5px 0;
}

.mkdf-blog-list-holder .mkdf-bli-info > div:last-child {
  padding: 0 0 5px;
}

.mkdf-blog-list-holder .mkdf-bli-info > div a {
  color: #565050;
}

.mkdf-blog-list-holder .mkdf-bli-info > div a:hover {
  color: rgba(0, 0, 0, 0.9);
}

.mkdf-blog-list-holder .mkdf-bli-content-bottom {
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  box-sizing: border-box;
  padding: 10px 0 12px;
  margin: 44px 0 95px;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .mkdf-blog-list-holder .mkdf-bli-content-bottom {
    display: table;
    width: 100%;
  }
  .mkdf-blog-list-holder .mkdf-bli-content-bottom > div {
    display: table-row !important;
    width: 100%;
    position: relative !important;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    transform: none !important;
  }
}

.mkdf-blog-list-holder .mkdf-bli-content-bottom > div {
  display: inline-block;
  vertical-align: middle;
}

.mkdf-blog-list-holder .mkdf-bli-content-bottom .mkdf-post-info-author {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.mkdf-blog-list-holder .mkdf-bli-content-bottom .mkdf-post-info-author a {
  font-size: 10px;
  line-height: 1.8em;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  letter-spacing: .33em;
}

.mkdf-blog-list-holder .mkdf-bli-content-bottom .mkdf-post-info-author a:hover {
  color: #000000;
}

.mkdf-blog-list-holder .mkdf-bli-content-bottom .mkdf-post-info-date {
  position: absolute;
  right: 0;
  font-style: italic;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 15px;
  z-index: 123;
}

.mkdf-blog-list-holder .mkdf-bli-content-bottom .mkdf-post-info-date a {
  color: #c3c3c3;
}

.mkdf-blog-list-holder .mkdf-bli-content-bottom .mkdf-post-info-date a:hover {
  color: #000000;
}

.mkdf-blog-list-holder .mkdf-post-destination a {
  font-family: "EpicRide", serif;
  font-weight: 400;
  letter-spacing: 0;
  font-size: 44px;
  line-height: 1em;
}

.mkdf-blog-list-holder .mkdf-post-info-category {
  margin-bottom: 28px;
  font-size: 8px;
  font-weight: 400;
  color: #959595;
  font-family: "Montserrat", sans-serif;
}

.mkdf-blog-list-holder .mkdf-post-info-category a {
  font-size: 10px;
  line-height: 1.8em;
  font-weight: 400;
  color: #959595;
  text-transform: uppercase;
  margin: 0 1px 0 2px;
  letter-spacing: .33em;
  font-family: "Montserrat", sans-serif;
}

.mkdf-blog-list-holder .mkdf-post-info-category a:last-of-type {
  margin-right: 0;
}

.mkdf-blog-list-holder .mkdf-post-title {
  margin: 21px 0 10px;
  padding: 0 5%;
  box-sizing: border-box;
}

.mkdf-blog-list-holder .mkdf-post-excerpt {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 6px 0 0;
}

.mkdf-blog-list-holder .mkdf-post-excerpt p {
  margin: 0;
}

.mkdf-blog-list-holder .mkdf-post-read-more-button {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 48px 0 0;
}

.mkdf-blog-list-holder .mkdf-post-read-more-button a {
  font-weight: 500;
}

.mkdf-blog-list-holder .mkdf-social-share-holder.mkdf-list li {
  margin-top: 10px;
}

.mkdf-blog-list-holder .mkdf-social-share-holder.mkdf-list li:last-of-type {
  margin-top: 10px;
}

/* ==========================================================================
   Blog List shortcode global style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode - Boxed type style - begin
   ========================================================================== */
.mkdf-blog-list-holder.mkdf-bl-alternating .mkdf-bl-item:nth-of-type(2n) .mkdf-bli-content {
  float: right;
}

.mkdf-blog-list-holder.mkdf-bl-alternating .mkdf-bl-item:nth-of-type(2n) .mkdf-bli-content-right {
  padding-right: 4.5%;
  padding-left: 4.5%;
}

.mkdf-blog-list-holder.mkdf-bl-alternating .mkdf-post-title {
  padding: 0;
  margin: 10px 0;
}

.mkdf-blog-list-holder.mkdf-bl-alternating .mkdf-post-info-category {
  margin-bottom: 22px;
}

.mkdf-blog-list-holder.mkdf-bl-alternating .mkdf-post-read-more-button {
  margin-top: 34px;
}

.mkdf-blog-list-holder.mkdf-bl-alternating .mkdf-post-read-more-button .mkdf-btn-text {
  font-weight: 500;
}

.mkdf-blog-list-holder.mkdf-bl-alternating .mkdf-bli-content {
  padding: 0 6%;
  background-color: transparent;
  display: inline-block;
  width: 50%;
  float: left;
}

@media only screen and (max-width: 1366px) {
  .mkdf-blog-list-holder.mkdf-bl-alternating .mkdf-bli-content {
    padding: 0 5%;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-blog-list-holder.mkdf-bl-alternating .mkdf-bli-content {
    width: 100%;
  }
}

.mkdf-blog-list-holder.mkdf-bl-alternating .mkdf-bli-content-right {
  display: inline-block;
  width: 50%;
  padding-left: 4.5%;
  padding-right: 4.5%;
  box-sizing: border-box;
}

@media only screen and (max-width: 1024px) {
  .mkdf-blog-list-holder.mkdf-bl-alternating .mkdf-bli-content-right {
    width: 100%;
    padding: 0 !important;
  }
}

.mkdf-blog-list-holder.mkdf-bl-alternating .mkdf-post-image {
  margin: 0;
}

.mkdf-blog-list-holder.mkdf-bl-alternating .mkdf-bli-content-bottom {
  border: none;
  margin-top: 12px;
  margin-bottom: 84px;
}

/* ==========================================================================
   Blog List shortcode - Boxed type style - end
   ========================================================================== */
.mkdf-blog-list-holder.mkdf-bl-custom.mkdf-bl-left-alignment .mkdf-bli-inner {
  text-align: left;
}

.mkdf-blog-list-holder.mkdf-bl-custom.mkdf-bl-left-alignment .mkdf-post-title {
  margin: 16px 0 4px;
}

.mkdf-blog-list-holder.mkdf-bl-custom.mkdf-bl-left-alignment .mkdf-post-excerpt {
  padding: 0;
}

.mkdf-blog-list-holder.mkdf-bl-custom.mkdf-bl-has-border .mkdf-bli-content {
  border: 1px solid #f3f3f3;
  border-top: none;
  box-sizing: border-box;
  padding-bottom: 13px;
}

.mkdf-blog-list-holder.mkdf-bl-custom .mkdf-bl-rounded .mkdf-post-image {
  width: 95%;
}

.mkdf-blog-list-holder.mkdf-bl-custom .mkdf-bl-rounded .mkdf-post-image a {
  border-radius: 100%;
}

.mkdf-blog-list-holder.mkdf-bl-custom .mkdf-bl-rounded .mkdf-post-image a:before {
  border-radius: 100%;
}

.mkdf-blog-list-holder.mkdf-bl-custom .mkdf-bl-rounded .mkdf-post-image img {
  box-sizing: border-box;
}

.mkdf-blog-list-holder.mkdf-bl-custom .mkdf-bl-rounded .mkdf-bli-content {
  border: none !important;
}

.mkdf-blog-list-holder.mkdf-bl-custom .mkdf-bl-rounded .mkdf-post-info-date {
  right: 50%;
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  transform: translateX(50%);
}

.mkdf-blog-list-holder.mkdf-bl-custom .mkdf-post-info-date {
  position: absolute;
  top: 10px;
  right: 0;
  background-color: #fff;
  color: #000000;
  padding: 4px 11px 5px;
  box-sizing: border-box;
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 15px;
  z-index: 123;
}

.mkdf-blog-list-holder.mkdf-bl-custom .mkdf-post-info-date:hover {
  opacity: 1;
}

.mkdf-blog-list-holder.mkdf-bl-custom .mkdf-post-title {
  padding: 0;
  margin: 7px 30px 10px;
}

.mkdf-blog-list-holder.mkdf-bl-custom .mkdf-post-image {
  margin: 0;
}

.mkdf-blog-list-holder.mkdf-bl-custom .mkdf-post-image a:after {
  display: none;
}

.mkdf-blog-list-holder.mkdf-bl-custom .mkdf-post-image:hover + .mkdf-post-info-date {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.mkdf-blog-list-holder.mkdf-bl-custom .mkdf-post-info-category {
  margin: 3px 0 16px;
  letter-spacing: .33em;
}

.mkdf-blog-list-holder.mkdf-bl-custom .mkdf-post-excerpt {
  box-sizing: border-box;
  padding: 0 8%;
}

@media only screen and (max-width: 1366px) {
  .mkdf-blog-list-holder.mkdf-bl-custom .mkdf-post-excerpt {
    padding: 0 5%;
  }
}

.mkdf-blog-list-holder.mkdf-bl-custom .mkdf-bli-content-bottom {
  border: none;
  margin: 7px 0 22px;
}

.mkdf-blog-list-holder.mkdf-bl-custom .mkdf-post-read-more-button {
  margin-top: 30px;
}

/* ==========================================================================
   Blog List shortcode - Masonry type style - begin
   ========================================================================== */
.mkdf-blog-list-holder.mkdf-bl-masonry {
  transition: none !important;
  overflow: visible !important;
}

.mkdf-blog-list-holder.mkdf-bl-masonry .mkdf-bl-item {
  z-index: 100;
}

.mkdf-blog-list-holder.mkdf-bl-masonry .mkdf-bl-item.mkdf-bl-rounded .mkdf-bli-content {
  border: none;
}

.mkdf-blog-list-holder.mkdf-bl-masonry .mkdf-post-image {
  margin: 0;
}

.mkdf-blog-list-holder.mkdf-bl-masonry .mkdf-bli-content {
  padding: 38px 10% 30px;
  border: 1px solid #f2f2f2;
}

.mkdf-blog-list-holder.mkdf-bl-masonry .mkdf-post-excerpt {
  margin-bottom: 10px;
}

.mkdf-blog-list-holder.mkdf-bl-masonry .mkdf-post-title {
  margin: 5px 0 3px;
}

.mkdf-blog-list-holder.mkdf-bl-masonry .mkdf-bli-info > div a {
  color: #959595;
}

.mkdf-blog-list-holder.mkdf-bl-masonry .mkdf-bli-info > div:last-child {
  margin: 0;
}

.mkdf-blog-list-holder.mkdf-bl-masonry .mkdf-bl-rounded .mkdf-post-image {
  width: 95%;
}

.mkdf-blog-list-holder.mkdf-bl-masonry .mkdf-bl-rounded .mkdf-post-image a {
  border-radius: 100%;
}

.mkdf-blog-list-holder.mkdf-bl-masonry .mkdf-bl-rounded .mkdf-post-image a:before {
  border-radius: 100%;
}

.mkdf-blog-list-holder.mkdf-bl-masonry .mkdf-bl-rounded .mkdf-post-image img {
  box-sizing: border-box;
}

/* ==========================================================================
   Blog List shortcode - Masonry type style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode - Minimal type style - begin
   ========================================================================== */
.mkdf-blog-list-holder.mkdf-bl-minimal {
  border: 1px solid #f3f3f3;
  box-sizing: border-box;
  padding: 10px 15px;
  text-align: left;
}

.mkdf-blog-list-holder.mkdf-bl-minimal .mkdf-blog-list {
  box-sizing: border-box;
  padding: 11px 7% 0 5.5%;
}

.mkdf-blog-list-holder.mkdf-bl-minimal .mkdf-bl-item:not(:last-of-type) .mkdf-bli-inner {
  border-bottom: 1px solid #f3f3f3;
}

.mkdf-blog-list-holder.mkdf-bl-minimal .mkdf-post-title {
  padding: 0;
  margin: 25px 0 12px;
}

.mkdf-blog-list-holder.mkdf-bl-minimal .mkdf-post-title a {
  color: #000000;
  letter-spacing: .2em;
}

.mkdf-blog-list-holder.mkdf-bl-minimal .mkdf-post-title a:hover {
  color: rgba(0, 0, 0, 0.9);
}

.mkdf-blog-list-holder.mkdf-bl-minimal .mkdf-post-info-category {
  display: block;
  line-height: 1em;
}

.mkdf-blog-list-holder.mkdf-bl-minimal .mkdf-post-info-category:last-of-type {
  margin-bottom: 15px;
}

.mkdf-blog-list-holder.mkdf-bl-minimal .mkdf-post-info-category a {
  font-size: 8px;
}

/* ==========================================================================
   Blog List shortcode - Minimal type style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode - Simple type style - begin
   ========================================================================== */
.mkdf-blog-list-holder.mkdf-bl-simple .mkdf-post-image {
  display: table-cell;
  vertical-align: top;
  width: 84px;
}

.mkdf-blog-list-holder.mkdf-bl-simple .mkdf-bli-content {
  display: table-cell;
  vertical-align: top;
  width: auto;
  padding-left: 25px;
}

.mkdf-blog-list-holder.mkdf-bl-simple .mkdf-bli-content .mkdf-post-info-date {
  display: block;
  margin: 7px 0 0;
  line-height: 1;
}

.mkdf-blog-list-holder.mkdf-bl-simple .mkdf-bli-content .mkdf-post-info-date a {
  font-size: 13px;
  color: #565050;
}

.mkdf-blog-list-holder.mkdf-bl-simple .mkdf-bli-content .mkdf-post-info-date a:hover {
  color: #000000;
}

/* ==========================================================================
   Blog List shortcode - Simple type style - end
   ========================================================================== */
/* ==========================================================================
   Blog List loading element style - begin
   ========================================================================== */
.mkdf-bl-loading {
  position: relative;
  display: none;
  width: 100%;
  margin: 40px 0 20px;
  text-align: center;
}

.mkdf-bl-loading.mkdf-showing {
  display: block;
}

.mkdf-bl-loading > div {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  margin: 0 3px;
  background-color: #000000;
  border-radius: 100%;
  -webkit-animation: bl-bouncedelay 1.4s infinite ease-in-out both;
  -moz-animation: bl-bouncedelay 1.4s infinite ease-in-out both;
  animation: bl-bouncedelay 1.4s infinite ease-in-out both;
}

.mkdf-bl-loading .mkdf-bl-loading-bounce1 {
  -webkit-animation-delay: -0.32s;
  -moz-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.mkdf-bl-loading .mkdf-bl-loading-bounce2 {
  -webkit-animation-delay: -0.16s;
  -moz-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bl-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes bl-bouncedelay {
  0%, 80%, 100% {
    -moz-transform: scale(0);
  }
  40% {
    -moz-transform: scale(1);
  }
}

@keyframes bl-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* ==========================================================================
   Blog List loading element style - end
   ========================================================================== */
/* ==========================================================================
   Blog Slider shortcode style - begin
   ========================================================================== */
.mkdf-blog-slider-holder {
  /***** Slider Type Style - begin *****/
  /***** Slider Type Style - end *****/
  /***** Carousel Type Style - begin *****/
  /***** Carousel Type Style - end *****/
  /***** Carousel Centered Type Style - begin *****/
  /***** Carousel Centered Type Style - end *****/
}

.mkdf-blog-slider-holder.mkdf-bs-slider .mkdf-blog-slider-item {
  text-align: center;
}

.touch .mkdf-blog-slider-holder.mkdf-bs-slider .mkdf-blog-slider-item {
  cursor: pointer;
}

.mkdf-blog-slider-holder.mkdf-bs-slider .mkdf-item-text-holder {
  box-sizing: border-box;
  padding: 70px 16% 105px;
}

.mkdf-blog-slider-holder.mkdf-bs-slider .mkdf-item-text-holder:after {
  content: '';
  background-color: #f9f9f9;
  height: 100%;
  width: 200%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.mkdf-blog-slider-holder.mkdf-bs-slider .mkdf-item-content-right,
.mkdf-blog-slider-holder.mkdf-bs-slider .mkdf-item-text-wrapper {
  display: inline-block;
  position: relative;
}

.mkdf-blog-slider-holder.mkdf-bs-slider .mkdf-post-info-category {
  margin-top: 0;
  margin-bottom: 25px;
}

.mkdf-blog-slider-holder.mkdf-bs-slider .mkdf-item-content-right {
  width: 59.2%;
  position: absolute;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.mkdf-blog-slider-holder.mkdf-bs-slider .mkdf-item-text-wrapper {
  width: 40.8%;
  float: left;
}

.mkdf-blog-slider-holder.mkdf-bs-slider .mkdf-post-title {
  margin-top: 16px;
}

.mkdf-blog-slider-holder.mkdf-bs-slider .mkdf-post-title a:hover {
  color: rgba(0, 0, 0, 0.9);
}

.mkdf-blog-slider-holder.mkdf-bs-slider .mkdf-item-content-bottom {
  margin-top: 32px;
}

.mkdf-blog-slider-holder.mkdf-bs-carousel .mkdf-item-image a {
  display: block;
  overflow: hidden;
}

.mkdf-blog-slider-holder.mkdf-bs-carousel .mkdf-item-image a:hover:after {
  opacity: 1;
}

.mkdf-blog-slider-holder.mkdf-bs-carousel .mkdf-item-image a:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.mkdf-blog-slider-holder.mkdf-bs-carousel .mkdf-item-image a img {
  backface-visibility: hidden;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  transition: 0.7s;
}

.mkdf-blog-slider-holder.mkdf-bs-carousel .mkdf-item-image a:hover img {
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  transform: scale(1.04);
}

.mkdf-blog-slider-holder.mkdf-bs-carousel .mkdf-bli-content {
  text-align: center;
  border: 1px solid #f2f2f2;
  border-top: none;
  min-height: 191px;
}

.mkdf-blog-slider-holder.mkdf-bs-carousel .mkdf-post-destination {
  padding-top: 25px;
}

.mkdf-blog-slider-holder.mkdf-bs-carousel .mkdf-post-title {
  padding: 5px 12% 0px;
}

.mkdf-blog-slider-holder.mkdf-bs-carousel .mkdf-post-info-category {
  margin: 11px 0 35px;
}

.mkdf-blog-slider-holder.mkdf-bs-carousel .mkdf-post-read-more-button {
  margin: 15px 0 0;
}

.mkdf-blog-slider-holder.mkdf-bs-carousel-centered .mkdf-blog-slider-item {
  text-align: center;
}

.mkdf-blog-slider-holder.mkdf-bs-carousel-centered .mkdf-post-title {
  color: #fff;
}

.mkdf-blog-slider-holder.mkdf-bs-carousel-centered .mkdf-post-title a:hover {
  color: rgba(255, 255, 255, 0.8);
}

.mkdf-blog-slider-holder.mkdf-bs-carousel-centered .mkdf-post-read-more-button a {
  color: #fff;
}

.mkdf-blog-slider-holder.mkdf-bs-carousel-centered .mkdf-post-read-more-button a:hover {
  color: rgba(255, 255, 255, 0.8) !important;
}

.mkdf-blog-slider-holder .mkdf-blog-slider-item {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  list-style-type: none;
}

.mkdf-blog-slider-holder .mkdf-post-destination a {
  font-family: "EpicRide", serif;
  font-weight: 400;
  letter-spacing: 0;
  font-size: 44px;
  line-height: 1em;
}

.mkdf-blog-slider-holder .mkdf-post-info-category {
  margin-bottom: 28px;
}

.mkdf-blog-slider-holder .mkdf-post-info-category a {
  font-size: 10px;
  line-height: 1.8em;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 1px 0 2px;
  font-size: 10px;
  font-weight: 400;
  color: #959595;
  font-family: "Montserrat", sans-serif;
  letter-spacing: .33em;
}

.mkdf-blog-slider-holder .mkdf-post-info-category a:last-of-type {
  margin-right: 0;
}

.mkdf-blog-slider-holder .mkdf-post-excerpt {
  color: #565050;
}

.mkdf-blog-slider-holder .mkdf-item-image {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.mkdf-blog-slider-holder .mkdf-item-text-wrapper {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.mkdf-blog-slider-holder .mkdf-item-text-holder {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.mkdf-blog-slider-holder .mkdf-item-text-holder-inner {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  padding: 0 5%;
}

.mkdf-blog-slider-holder .mkdf-item-info-section {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin-bottom: 2px;
}

.mkdf-blog-slider-holder .mkdf-item-info-section > div {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-right: 10px;
  margin-right: 3px;
  color: #fff;
  font-size: 12px;
  line-height: 24px;
}

.mkdf-blog-slider-holder .mkdf-item-info-section > div a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
}

.mkdf-blog-slider-holder .mkdf-item-info-section > div a:hover {
  color: rgba(255, 255, 255, 0.8);
}

.mkdf-blog-slider-holder .mkdf-item-info-section > div:after {
  content: "/";
  position: absolute;
  top: 0;
  right: 2px;
}

.mkdf-blog-slider-holder .mkdf-item-info-section > div:last-child {
  padding-right: 0;
  margin-right: 0;
}

.mkdf-blog-slider-holder .mkdf-item-info-section > div:last-child:after {
  content: '';
}

.mkdf-blog-slider-holder .mkdf-post-title {
  margin: 0;
}

.mkdf-blog-slider-holder .mkdf-bli-excerpt {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 12px 0 0;
}

.mkdf-blog-slider-holder .mkdf-bli-excerpt p {
  margin: 0;
}

.mkdf-blog-slider-holder .mkdf-post-read-more-button {
  margin: 37px 0 0;
}

.mkdf-blog-slider-holder .mkdf-post-read-more-button .mkdf-btn-text {
  font-weight: 500;
}

/* ==========================================================================
   Blog Slider shortcode style - end
   ========================================================================== */
/* ==========================================================================
   Blog styles - end
   ========================================================================== */

/*# sourceMappingURL=blog-map.css.map */
