/* ==========================================================================
   Social Icons Group widget style - begin
   ========================================================================== */
.mkdf-social-icons-group-widget.mkdf-square-icons .mkdf-social-icon-widget-holder {
  position: relative;
  width: 44px;
  height: 44px;
  margin: 0 7px;
  font-size: 17px;
  color: #fff;
  background-color: #000000;
}

.mkdf-social-icons-group-widget.mkdf-square-icons .mkdf-social-icon-widget-holder:hover {
  color: #000000;
  background-color: rgba(0, 0, 0, 0.9);
}

.mkdf-social-icons-group-widget.mkdf-square-icons .mkdf-social-icon-widget-holder .mkdf-social-icon-widget {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

.mkdf-social-icons-group-widget.mkdf-square-icons.mkdf-light-skin .mkdf-social-icon-widget-holder {
  color: #000000;
  background-color: #fff;
}

.mkdf-social-icons-group-widget.mkdf-square-icons.mkdf-light-skin .mkdf-social-icon-widget-holder:hover {
  color: #000000;
  background-color: rgba(0, 0, 0, 0.9);
}

.mkdf-social-icons-group-widget .mkdf-widget-title {
  font-family: "Lora", serif;
  font-style: italic;
  color: #838383;
  letter-spacing: 0;
  text-transform: none;
  margin: 26px 0 13px;
}

.mkdf-social-icons-group-widget .mkdf-social-icon-widget-holder {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px 0 0;
  text-align: center;
}

.mkdf-social-icons-group-widget .mkdf-social-icon-widget-holder .mkdf-social-icon-widget.social_facebook_circle {
  color: #3b5998;
}

.mkdf-social-icons-group-widget .mkdf-social-icon-widget-holder .mkdf-social-icon-widget.social_pinterest_circle {
  color: #cb2027;
}

.mkdf-social-icons-group-widget .mkdf-social-icon-widget-holder .mkdf-social-icon-widget.social_twitter_circle {
  color: #55acee;
}

/* ==========================================================================
   Social Icons Group widget style - end
   ========================================================================== */

/*# sourceMappingURL=social-icons-group-widget-map.css.map */
