/*------------------------------------------------------------------
 * This is main responsive css file for theme. It is broken into following sections:
 * 1. Global responsive styles
 * 2. Blog responsive styles
 * 3. Footer responsive styles
 * 4. Header responsive styles
 * 5. Search responsive styles
 * 6. Title area responsive styles
 * 7. Shortcodes responsive styles
 * 8. Custom Post Types responsive styles
-------------------------------------------------------------------*/

/* ==========================================================================
   1. Global responsive styles
   ========================================================================== */

@media only screen and (max-width: 1024px) {
  body:not(.mkdf-content-is-behind-header):not(.error404) .mkdf-content {
    margin-top: 0 !important;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-hide-on-tablet {
    display: none !important;
  }
}

@media only screen and (max-width: 680px) {
  .mkdf-hide-on-mobile {
    display: none !important;
  }
}

@media only screen and (max-width: 480px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    word-wrap: break-word;
  }
}

@media only screen and (max-width: 1200px) {
  .mkdf-grid,
  .mkdf-container-inner,
  .mkdf-row-grid-section {
    width: 950px;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-grid,
  .mkdf-container-inner,
  .mkdf-row-grid-section {
    width: 768px;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-grid,
  .mkdf-container-inner,
  .mkdf-row-grid-section {
    width: 600px;
  }
}

@media only screen and (max-width: 680px) {
  .mkdf-grid,
  .mkdf-container-inner,
  .mkdf-row-grid-section {
    width: 420px;
  }
}

@media only screen and (max-width: 480px) {
  .mkdf-grid,
  .mkdf-container-inner,
  .mkdf-row-grid-section {
    width: 300px;
  }
}

@media only screen and (max-width: 320px) {
  .mkdf-grid,
  .mkdf-container-inner,
  .mkdf-row-grid-section {
    width: 90%;
  }
}

@media only screen and (max-width: 1200px) {
  .mkdf-boxed .mkdf-wrapper .mkdf-wrapper-inner,
  .mkdf-boxed .mkdf-wrapper .mkdf-footer-inner {
    width: 1000px;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-boxed .mkdf-wrapper .mkdf-wrapper-inner,
  .mkdf-boxed .mkdf-wrapper .mkdf-footer-inner {
    width: 818px;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-boxed .mkdf-wrapper .mkdf-wrapper-inner,
  .mkdf-boxed .mkdf-wrapper .mkdf-footer-inner {
    width: 650px;
  }
}

@media only screen and (max-width: 680px) {
  .mkdf-boxed .mkdf-wrapper .mkdf-wrapper-inner,
  .mkdf-boxed .mkdf-wrapper .mkdf-footer-inner {
    width: 470px;
  }
}

@media only screen and (max-width: 480px) {
  .mkdf-boxed .mkdf-wrapper .mkdf-wrapper-inner,
  .mkdf-boxed .mkdf-wrapper .mkdf-footer-inner {
    width: 350px;
  }
}

@media only screen and (max-width: 320px) {
  .mkdf-boxed .mkdf-wrapper .mkdf-wrapper-inner,
  .mkdf-boxed .mkdf-wrapper .mkdf-footer-inner {
    width: 92%;
  }
}

/* ==========================================================================
   Grid System responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1280px) {
  /*
	* If you changed some value for space do the same thing in product-list-main-and-vc scss files
	*/

  .mkdf-huge-space .mkdf-outer-space {
    margin: 0 -25px;
  }

  .mkdf-huge-space .mkdf-outer-space .mkdf-item-space {
    padding: 0 25px;
    margin: 0 0 50px;
  }

  .mkdf-huge-space.mkdf-disable-bottom-space {
    margin-bottom: -50px;
  }

  .mkdf-huge-space.mkdf-columns-has-side-space {
    padding: 0 50px;
  }
}

@media only screen and (max-width: 1440px) {
  .mkdf-grid-list.mkdf-five-columns .mkdf-masonry-grid-sizer {
    width: 20%;
  }

  .mkdf-grid-list.mkdf-five-columns .mkdf-item-space {
    width: 20%;
  }

  .mkdf-grid-list.mkdf-five-columns .mkdf-item-space.mkdf-masonry-size-large-width,
  .mkdf-grid-list.mkdf-five-columns .mkdf-item-space.mkdf-masonry-size-large-width-height {
    width: 40%;
  }
}

@media only screen and (max-width: 1440px) and (min-width: 1367px) {
  .mkdf-grid-list.mkdf-five-columns .mkdf-item-space:nth-child(5n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1366px) {
  .mkdf-grid-list.mkdf-six-columns .mkdf-masonry-grid-sizer {
    width: 16.66667%;
  }

  .mkdf-grid-list.mkdf-six-columns .mkdf-item-space {
    width: 16.66667%;
  }

  .mkdf-grid-list.mkdf-six-columns .mkdf-item-space.mkdf-masonry-size-large-width,
  .mkdf-grid-list.mkdf-six-columns .mkdf-item-space.mkdf-masonry-size-large-width-height {
    width: 33.33333%;
  }
}

@media only screen and (max-width: 1366px) and (min-width: 1025px) {
  .mkdf-grid-list.mkdf-six-columns .mkdf-item-space:nth-child(6n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1200px) {
  .mkdf-grid-list.mkdf-five-columns .mkdf-masonry-grid-sizer {
    width: 33.33333%;
  }

  .mkdf-grid-list.mkdf-five-columns .mkdf-item-space {
    width: 33.33333%;
  }

  .mkdf-grid-list.mkdf-five-columns .mkdf-item-space.mkdf-masonry-size-large-width,
  .mkdf-grid-list.mkdf-five-columns .mkdf-item-space.mkdf-masonry-size-large-width-height {
    width: 66.66667%;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1201px) {
  .mkdf-grid-list.mkdf-five-columns .mkdf-item-space:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1200px) {
  .mkdf-grid-list.mkdf-six-columns .mkdf-masonry-grid-sizer {
    width: 33.33333%;
  }

  .mkdf-grid-list.mkdf-six-columns .mkdf-item-space {
    width: 33.33333%;
  }

  .mkdf-grid-list.mkdf-six-columns .mkdf-item-space.mkdf-masonry-size-large-width,
  .mkdf-grid-list.mkdf-six-columns .mkdf-item-space.mkdf-masonry-size-large-width-height {
    width: 66.66667%;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1201px) {
  .mkdf-grid-list.mkdf-six-columns .mkdf-item-space:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-grid-list.mkdf-four-columns .mkdf-masonry-grid-sizer {
    width: 50%;
  }

  .mkdf-grid-list.mkdf-four-columns .mkdf-item-space {
    width: 50%;
  }

  .mkdf-grid-list.mkdf-four-columns .mkdf-item-space.mkdf-masonry-size-large-width,
  .mkdf-grid-list.mkdf-four-columns .mkdf-item-space.mkdf-masonry-size-large-width-height {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .mkdf-grid-list.mkdf-four-columns .mkdf-item-space:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-grid-list.mkdf-three-columns .mkdf-masonry-grid-sizer {
    width: 100%;
  }

  .mkdf-grid-list.mkdf-three-columns .mkdf-item-space {
    width: 100%;
  }

  .mkdf-grid-list.mkdf-three-columns .mkdf-item-space.mkdf-masonry-size-large-width,
  .mkdf-grid-list.mkdf-three-columns .mkdf-item-space.mkdf-masonry-size-large-width-height {
    width: 200%;
  }
}

@media only screen and (max-width: 768px) and (min-width: 681px) {
  .mkdf-grid-list.mkdf-three-columns .mkdf-item-space:nth-child(1n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-grid-list.mkdf-four-columns .mkdf-masonry-grid-sizer {
    width: 50%;
  }

  .mkdf-grid-list.mkdf-four-columns .mkdf-item-space {
    width: 50%;
  }

  .mkdf-grid-list.mkdf-four-columns .mkdf-item-space.mkdf-masonry-size-large-width,
  .mkdf-grid-list.mkdf-four-columns .mkdf-item-space.mkdf-masonry-size-large-width-height {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) and (min-width: 681px) {
  .mkdf-grid-list.mkdf-four-columns .mkdf-item-space:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-grid-list.mkdf-five-columns .mkdf-masonry-grid-sizer {
    width: 50%;
  }

  .mkdf-grid-list.mkdf-five-columns .mkdf-item-space {
    width: 50%;
  }

  .mkdf-grid-list.mkdf-five-columns .mkdf-item-space.mkdf-masonry-size-large-width,
  .mkdf-grid-list.mkdf-five-columns .mkdf-item-space.mkdf-masonry-size-large-width-height {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) and (min-width: 681px) {
  .mkdf-grid-list.mkdf-five-columns .mkdf-item-space:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-grid-list.mkdf-six-columns .mkdf-masonry-grid-sizer {
    width: 50%;
  }

  .mkdf-grid-list.mkdf-six-columns .mkdf-item-space {
    width: 50%;
  }

  .mkdf-grid-list.mkdf-six-columns .mkdf-item-space.mkdf-masonry-size-large-width,
  .mkdf-grid-list.mkdf-six-columns .mkdf-item-space.mkdf-masonry-size-large-width-height {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) and (min-width: 681px) {
  .mkdf-grid-list.mkdf-six-columns .mkdf-item-space:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 680px) {
  .mkdf-grid-list.mkdf-two-columns .mkdf-masonry-grid-sizer {
    width: 100%;
  }

  .mkdf-grid-list.mkdf-two-columns .mkdf-item-space {
    width: 100%;
  }

  .mkdf-grid-list.mkdf-three-columns .mkdf-masonry-grid-sizer {
    width: 100%;
  }

  .mkdf-grid-list.mkdf-three-columns .mkdf-item-space {
    width: 100%;
  }

  .mkdf-grid-list.mkdf-four-columns .mkdf-masonry-grid-sizer {
    width: 100%;
  }

  .mkdf-grid-list.mkdf-four-columns .mkdf-item-space {
    width: 100%;
  }

  .mkdf-grid-list.mkdf-five-columns .mkdf-masonry-grid-sizer {
    width: 100%;
  }

  .mkdf-grid-list.mkdf-five-columns .mkdf-item-space {
    width: 100%;
  }

  .mkdf-grid-list.mkdf-six-columns .mkdf-masonry-grid-sizer {
    width: 100%;
  }

  .mkdf-grid-list.mkdf-six-columns .mkdf-item-space {
    width: 100%;
  }
}

/* ==========================================================================
   Grid System responsive style - end
   ========================================================================== */

/*# sourceMappingURL=../css/modules-responsive.css.map */
/* ==========================================================================
   Blog responsive styles - begin
   ========================================================================== */

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .mkdf-header-vertical .mkdf-blog-holder.mkdf-blog-masonry .mkdf-item-space {
    width: 33.3333% !important;
  }

  .mkdf-header-vertical .mkdf-blog-holder.mkdf-blog-masonry .mkdf-item-space:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1440px) {
  .mkdf-blog-holder.mkdf-blog-masonry article .mkdf-post-title {
    padding: 5px 5% 0;
  }

  .mkdf-blog-holder.mkdf-blog-masonry article .mkdf-post-excerpt-holder {
    padding: 0 5%;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-blog-holder.mkdf-blog-masonry article .mkdf-post-title {
    padding: 5px 17% 0;
  }

  .mkdf-blog-holder.mkdf-blog-masonry article .mkdf-post-excerpt-holder {
    padding: 0 10%;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-blog-holder.mkdf-blog-masonry article .mkdf-post-title {
    padding: 5px 4% 0;
  }
}

@media only screen and (max-width: 680px) {
  .mkdf-blog-holder.mkdf-blog-masonry article .mkdf-post-title {
    padding: 5px 3% 0;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-related-posts-holder .mkdf-related-post {
    width: 50% !important;
  }
}

@media only screen and (max-width: 480px) {
  .mkdf-related-posts-holder .mkdf-related-post {
    width: 100% !important;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-blog-holder.mkdf-blog-single article .mkdf-post-info-bottom .mkdf-post-info-bottom-left,
  .mkdf-blog-holder.mkdf-blog-single article .mkdf-post-info-bottom .mkdf-post-info-bottom-right {
    width: 100%;
    float: none;
  }

  .mkdf-blog-holder.mkdf-blog-single article .mkdf-post-info-bottom .mkdf-post-info-bottom-right {
    text-align: inherit;
    margin: 10px 0 0;
  }
}

/* ==========================================================================
   Blog Slider shortcode responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1366px) {
  .mkdf-blog-slider-holder.mkdf-bs-slider .mkdf-item-text-holder {
    padding: 50px 16% 85px;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-blog-slider-holder.mkdf-bs-carousel-centered .active.center .mkdf-item-text-wrapper {
    opacity: 1;
  }

  .mkdf-blog-slider-holder.mkdf-bs-slider .mkdf-item-content-right,
  .mkdf-blog-slider-holder.mkdf-bs-slider .mkdf-item-text-wrapper {
    width: 100%;
    position: relative;
  }
}

/* ==========================================================================
   Blog Slider shortcode responsive style - end
   ========================================================================== */

/* ==========================================================================
   Blog responsive styles - end
   ========================================================================== */

/*# sourceMappingURL=blog-map-responsive.css.map */
/* ==========================================================================
   Footer responsive styles - begin
   ========================================================================== */

/* ==========================================================================
   Footer responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1440px) {
  .mkdf-page-footer .widget.widget_nav_menu ul li a {
    padding-right: 13px;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 681px) {
  .mkdf-page-footer .mkdf-column-content.mkdf-grid-col-3 {
    width: 50%;
    float: left;
  }

  .mkdf-page-footer .mkdf-column-content.mkdf-grid-col-3:nth-child(2n+1) {
    clear: both;
  }

  .mkdf-page-footer .mkdf-column-content.mkdf-grid-col-3:nth-child(3),
  .mkdf-page-footer .mkdf-column-content.mkdf-grid-col-3:nth-child(4) {
    margin-top: 30px;
  }

  .mkdf-page-footer .mkdf-column-content.mkdf-grid-col-4 {
    width: 33.33333333333333%;
    float: left;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-page-footer .mkdf-footer-bottom-holder {
    text-align: center;
  }

  .mkdf-page-footer .mkdf-footer-bottom-holder .mkdf-grid-col-6 {
    margin-bottom: 20px;
  }

  .mkdf-page-footer .mkdf-footer-bottom-holder .mkdf-grid-col-6:last-child {
    margin-bottom: 0;
  }

  .mkdf-page-footer .mkdf-footer-bottom-holder .widget.widget_nav_menu {
    text-align: center;
    float: none;
  }

  .mkdf-page-footer .mkdf-footer-bottom-holder .widget.widget_nav_menu ul li {
    float: none;
    display: inline-block;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-page-footer .mkdf-column-content.mkdf-grid-col-4 {
    width: 100%;
  }
}

@media only screen and (max-width: 680px) {
  .mkdf-page-footer .mkdf-column-content:not(:first-child) {
    margin-top: 30px;
  }

  .mkdf-page-footer .widget.widget_nav_menu ul li {
    width: 100%;
  }

  .mkdf-page-footer .widget.widget_nav_menu ul li a {
    padding: 0;
  }
}

/* ==========================================================================
   Footer responsive style - end
   ========================================================================== */

/* ==========================================================================
   Footer responsive styles - end
   ========================================================================== */

/*# sourceMappingURL=footer-map-responsive.css.map */
/* ==========================================================================
   Header responsive styles - begin
   ========================================================================== */

/* ==========================================================================
   Header responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1024px) {
  .mkdf-page-header {
    display: none;
  }
}

/* ==========================================================================
   Header responsive style - end
   ========================================================================== */

/* ==========================================================================
   Fixed header responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1200px) {
  .mkdf-boxed .mkdf-page-header .mkdf-fixed-wrapper.fixed {
    width: 1000px;
  }
}

/* ==========================================================================
   Fixed header responsive style - end
   ========================================================================== */

/* ==========================================================================
   Header Vertical responsive style - begin
   ========================================================================== */

@media only screen and (min-width: 1025px) {
  .error404.mkdf-header-vertical .mkdf-content {
    margin: 0 !important;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-header-vertical .mkdf-vertical-menu-area {
    display: none;
  }

  .mkdf-header-vertical .mkdf-content,
  .mkdf-header-vertical footer {
    padding-left: 0;
  }
}

@media only screen and (max-width: 1440px) {
  .mkdf-header-vertical .mkdf-grid,
  .mkdf-header-vertical .mkdf-container-inner,
  .mkdf-header-vertical .mkdf-row-grid-section {
    width: 950px;
  }
}

@media only screen and (max-width: 1200px) {
  .mkdf-header-vertical .mkdf-grid,
  .mkdf-header-vertical .mkdf-container-inner,
  .mkdf-header-vertical .mkdf-row-grid-section {
    width: 768px;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-header-vertical .mkdf-grid,
  .mkdf-header-vertical .mkdf-container-inner,
  .mkdf-header-vertical .mkdf-row-grid-section {
    width: 768px;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-header-vertical .mkdf-grid,
  .mkdf-header-vertical .mkdf-container-inner,
  .mkdf-header-vertical .mkdf-row-grid-section {
    width: 600px;
  }
}

@media only screen and (max-width: 680px) {
  .mkdf-header-vertical .mkdf-grid,
  .mkdf-header-vertical .mkdf-container-inner,
  .mkdf-header-vertical .mkdf-row-grid-section {
    width: 420px;
  }
}

@media only screen and (max-width: 480px) {
  .mkdf-header-vertical .mkdf-grid,
  .mkdf-header-vertical .mkdf-container-inner,
  .mkdf-header-vertical .mkdf-row-grid-section {
    width: 300px;
  }
}

@media only screen and (max-width: 320px) {
  .mkdf-header-vertical .mkdf-grid,
  .mkdf-header-vertical .mkdf-container-inner,
  .mkdf-header-vertical .mkdf-row-grid-section {
    width: 90%;
  }
}

/* ==========================================================================
   Header Vertical responsive style - end
   ========================================================================== */

/* ==========================================================================
   Mobile header responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1024px) {
  .mkdf-mobile-header {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-paspartu-enabled .mkdf-mobile-header .mkdf-grid {
    width: 90%;
  }
}

/* ==========================================================================
   Mobile header responsive style - end
   ========================================================================== */

/* ==========================================================================
   Sticky header responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1200px) {
  .mkdf-boxed .mkdf-page-header .mkdf-sticky-header {
    width: 1000px;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-boxed.mkdf-sticky-up-mobile-header .mobile-header-appear .mkdf-mobile-header-inner {
    width: 818px;
    left: auto;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-boxed.mkdf-sticky-up-mobile-header .mobile-header-appear .mkdf-mobile-header-inner {
    width: 650px;
  }
}

@media only screen and (max-width: 680px) {
  .mkdf-boxed.mkdf-sticky-up-mobile-header .mobile-header-appear .mkdf-mobile-header-inner {
    width: 470px;
  }
}

@media only screen and (max-width: 480px) {
  .mkdf-boxed.mkdf-sticky-up-mobile-header .mobile-header-appear .mkdf-mobile-header-inner {
    width: 350px;
  }
}

@media only screen and (max-width: 320px) {
  .mkdf-boxed.mkdf-sticky-up-mobile-header .mobile-header-appear .mkdf-mobile-header-inner {
    width: 92%;
  }
}

/* ==========================================================================
   Sticky header responsive style - end
   ========================================================================== */

/* ==========================================================================
   Top header responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1024px) {
  .mkdf-top-bar {
    display: none;
  }
}

/* ==========================================================================
   Top header responsive style - end
   ========================================================================== */

/* ==========================================================================
   Header responsive styles - end
   ========================================================================== */

/*# sourceMappingURL=header-map-responsive.css.map */
/* ==========================================================================
   Search responsive styles - begin
   ========================================================================== */

/* ==========================================================================
# Search template responsive style - begin
========================================================================== */

@media only screen and (max-width: 1366px) {
  .mkdf-search-opener-holder.opened {
    width: 150px;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-search-page-holder article .mkdf-post-image {
    width: 80px;
  }

  .mkdf-search-page-holder article .mkdf-post-title-area {
    padding: 0 0 0 105px;
    min-height: 80px;
  }
}

@media only screen and (max-width: 680px) {
  .mkdf-search-page-holder article .mkdf-post-image {
    width: 60px;
  }

  .mkdf-search-page-holder article .mkdf-post-title-area {
    padding: 0 0 0 80px;
    min-height: 60px;
  }
}

/* ==========================================================================
# Search template responsive style - end
========================================================================== */

/* ==========================================================================
# Fullscreen search responsive - start
========================================================================== */

@media only screen and (max-width: 1024px) {
  .mkdf-fullscreen-search-holder .mkdf-form-holder-inner {
    width: 80%;
  }
}

/* ==========================================================================
# Fullscreen search responsive - end
========================================================================== */

/* ==========================================================================
   Search responsive styles - end
   ========================================================================== */

/*# sourceMappingURL=search-map-responsive.css.map */
/* ==========================================================================
   Title responsive styles - begin
   ========================================================================== */

/* ==========================================================================
   Title responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1024px) {
  .mkdf-title-holder.mkdf-has-bg-image {
    height: auto !important;
    background-image: none !important;
  }

  .mkdf-title-holder.mkdf-has-bg-image .mkdf-title-image {
    display: block;
  }

  .mkdf-title-holder.mkdf-has-bg-image .mkdf-title-wrapper {
    position: absolute;
    top: 50%;
    left: 0;
    height: 100% !important;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .mkdf-title-holder.mkdf-title-va-header-bottom {
    height: auto !important;
  }

  .mkdf-title-holder.mkdf-title-va-header-bottom .mkdf-title-wrapper {
    padding-top: 0 !important;
  }
}

/* ==========================================================================
   Title responsive style - end
   ========================================================================== */

/* ==========================================================================
   Centered Title type responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1024px) {
  .mkdf-title-holder.mkdf-centered-type .mkdf-page-subtitle {
    padding: 0 !important;
  }
}

/* ==========================================================================
   Centered Title type responsive style - end
   ========================================================================== */

/* ==========================================================================
   Standard With Breadcrumbs Title type responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1024px) {
  .mkdf-title-holder.mkdf-standard-with-breadcrumbs-type .mkdf-title-info,
  .mkdf-title-holder.mkdf-standard-with-breadcrumbs-type .mkdf-breadcrumbs-info {
    display: block;
    width: 100%;
  }

  .mkdf-title-holder.mkdf-standard-with-breadcrumbs-type .mkdf-breadcrumbs-info {
    margin: 10px 0 0;
    text-align: initial;
    white-space: inherit;
  }
}

/* ==========================================================================
   Standard With Breadcrumbs Title type responsive style - end
   ========================================================================== */

/* ==========================================================================
   Title responsive styles - end
   ========================================================================== */

/*# sourceMappingURL=title-map-responsive.css.map */
/* ==========================================================================
   Global partials
   ========================================================================== */

/* ==========================================================================
   Custom Post Types responsive styles
   ========================================================================== */

/* ==========================================================================
   Destination Single page responsive style - begin
   ========================================================================== */

.mkdf-destination-single-holder .mkdf-ps-image-holder.mkdf-ps-gallery-images {
  /***** Columns Layout - end *****/
}

@media only screen and (max-width: 680px) {
  .mkdf-destination-single-holder .mkdf-ps-image-holder.mkdf-ps-gallery-images .mkdf-ps-image {
    width: 100% !important;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-destination-single-holder .mkdf-ps-info-holder {
    margin: 30px 0 0 !important;
  }
}

/* ==========================================================================
   Destination Single page responsive style - end
   ========================================================================== */

@media only screen and (max-width: 1440px) {
  .mkdf-destination-category-list-holder article .mkdf-pcl-item-inner {
    padding: 30px 5px 20px;
  }
}

/* ==========================================================================
   Portfolio Full Screen Slider shortcode responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1440px) {
  .mkdf-destination-full-screen-slider-holder #mkdf-ptf-info-block.mkdf-active {
    width: 72%;
    min-height: 390px;
  }

  .mkdf-destination-full-screen-slider-holder #mkdf-ptf-info-block.mkdf-active .mkdf-pli-text {
    padding-top: 44px;
  }
}

@media only screen and (max-width: 1280px) {
  .mkdf-destination-full-screen-slider-holder #mkdf-ptf-info-block .mkdf-pli-text {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-destination-full-screen-slider-holder #mkdf-ptf-info-block.mkdf-active {
    width: 90%;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-destination-full-screen-slider-holder #mkdf-ptf-info-block.mkdf-active {
    min-height: 320px;
    width: 100%;
  }

  .mkdf-destination-full-screen-slider-holder #mkdf-ptf-info-block.mkdf-active .mkdf-pli-info-holder .mkdf-pli-info {
    display: none;
  }

  .mkdf-destination-full-screen-slider-holder #mkdf-ptf-info-block.mkdf-active .mkdf-pli-text {
    padding: 40px;
  }
}

@media only screen and (max-width: 680px) {
  .mkdf-destination-full-screen-slider-holder .mkdf-swiper-nav {
    display: none;
  }

  .mkdf-destination-full-screen-slider-holder #mkdf-ptf-info-block {
    max-width: 100%;
  }

  .mkdf-destination-full-screen-slider-holder #mkdf-ptf-info-block.mkdf-active {
    min-height: 350px;
  }

  .mkdf-destination-full-screen-slider-holder #mkdf-ptf-info-block.mkdf-active .mkdf-pli-text {
    padding-top: 5px !important;
  }

  .mkdf-destination-full-screen-slider-holder #mkdf-ptf-info-block.mkdf-active .mkdf-pli-text .mkdf-pli-fs-left {
    width: 100%;
  }

  .mkdf-destination-full-screen-slider-holder #mkdf-ptf-info-block .mkdf-pli-info-holder .mkdf-pli-info {
    width: 100%;
    padding-left: 0 !important;
    border: none !important;
  }

  .mkdf-destination-full-screen-slider-holder #mkdf-ptf-info-block .mkdf-pli-text-inner .mkdf-pli-fs-right {
    display: none;
  }

  .mkdf-destination-full-screen-slider-holder .swiper-pagination {
    display: none;
  }

  .mkdf-destination-full-screen-slider-holder .mkdf-prev,
  .mkdf-destination-full-screen-slider-holder .mkdf-next {
    display: none;
  }
}

/* ==========================================================================
   Portfolio Full Screen Slider shortcode responsive style - end
   ========================================================================== */

@media only screen and (max-width: 680px) {
  .mkdf-testimonials-holder.mkdf-testimonials-image-pagination .mkdf-testimonials-image-pagination-inner {
    padding: 0 10px 0 30%;
    box-sizing: border-box;
  }

  .mkdf-testimonials-holder.mkdf-testimonials-image-pagination .mkdf-testimonials-image-pagination-inner .mkdf-testimonial-text {
    font-size: 15px;
    line-height: 27px;
  }
}

/*# sourceMappingURL=../../../../plugins/backpacktraveler-core/assets/css/custom-post-types-map-responsive.css.map */
/* ==========================================================================
   Global partials
   ========================================================================== */

/* ==========================================================================
   Shortcodes responsive styles
   ========================================================================== */

/* ==========================================================================
   Button shortcode responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1024px) {
  .mkdf-btn.mkdf-btn-large,
  .mkdf-btn.mkdf-btn-huge {
    padding: 9px 41px 10px;
  }
}

/* ==========================================================================
   Button shortcode responsive style - end
   ========================================================================== */

/* ==========================================================================
   Call To Action shortcode responsive style - begin
   ========================================================================== */

@media only screen and (min-width: 1201px) and (max-width: 1300px) {
  .mkdf-call-to-action-holder .mkdf-grid {
    width: 1100px;
  }
}

@media only screen and (max-width: 1200px) {
  .mkdf-call-to-action-holder.mkdf-three-quarters-columns .mkdf-cta-text-holder,
  .mkdf-call-to-action-holder.mkdf-four-fifths-columns .mkdf-cta-text-holder {
    width: 66.66666666666667%;
  }

  .mkdf-call-to-action-holder.mkdf-three-quarters-columns .mkdf-cta-button-holder,
  .mkdf-call-to-action-holder.mkdf-four-fifths-columns .mkdf-cta-button-holder {
    width: 33.33333333333333%;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-call-to-action-holder.mkdf-normal-layout .mkdf-cta-inner,
  .mkdf-call-to-action-holder.mkdf-normal-layout .mkdf-cta-text-holder,
  .mkdf-call-to-action-holder.mkdf-normal-layout .mkdf-cta-button-holder {
    display: block;
  }

  .mkdf-call-to-action-holder.mkdf-normal-layout .mkdf-cta-button-holder {
    margin: 28px 0 0;
    text-align: initial;
  }

  .mkdf-call-to-action-holder.mkdf-two-halves-columns .mkdf-cta-text-holder,
  .mkdf-call-to-action-holder.mkdf-two-halves-columns .mkdf-cta-button-holder,
  .mkdf-call-to-action-holder.mkdf-two-thirds-columns .mkdf-cta-text-holder,
  .mkdf-call-to-action-holder.mkdf-two-thirds-columns .mkdf-cta-button-holder,
  .mkdf-call-to-action-holder.mkdf-three-quarters-columns .mkdf-cta-text-holder,
  .mkdf-call-to-action-holder.mkdf-three-quarters-columns .mkdf-cta-button-holder,
  .mkdf-call-to-action-holder.mkdf-four-fifths-columns .mkdf-cta-text-holder,
  .mkdf-call-to-action-holder.mkdf-four-fifths-columns .mkdf-cta-button-holder {
    width: 100%;
  }
}

/* ==========================================================================
   Call To Action shortcode responsive style - end
   ========================================================================== */

/* ==========================================================================
   Cards Gallery shortcode responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 768px) {
  .mkdf-cards-gallery .mkdf-cg-fake-card {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
  }

  .mkdf-cards-gallery.mkdf-cg-shuffled-left .mkdf-cg-card {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
  }

  .mkdf-cards-gallery.mkdf-cg-shuffled-left .mkdf-cg-card.mkdf-out {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  .mkdf-cards-gallery.mkdf-cg-shuffled-left .mkdf-cg-card:nth-last-child(6) {
    -webkit-transform: scale(0.3) translateX(84%);
    -moz-transform: scale(0.3) translateX(84%);
    transform: scale(0.3) translateX(84%);
  }

  .mkdf-cards-gallery.mkdf-cg-shuffled-left .mkdf-cg-card:nth-last-child(5) {
    -webkit-transform: scale(0.4) translateX(60%);
    -moz-transform: scale(0.4) translateX(60%);
    transform: scale(0.4) translateX(60%);
  }

  .mkdf-cards-gallery.mkdf-cg-shuffled-left .mkdf-cg-card:nth-last-child(4) {
    -webkit-transform: scale(0.5) translateX(39%);
    -moz-transform: scale(0.5) translateX(39%);
    transform: scale(0.5) translateX(39%);
  }

  .mkdf-cards-gallery.mkdf-cg-shuffled-left .mkdf-cg-card:nth-last-child(3) {
    -webkit-transform: scale(0.6) translateX(25%);
    -moz-transform: scale(0.6) translateX(25%);
    transform: scale(0.6) translateX(25%);
  }

  .mkdf-cards-gallery.mkdf-cg-shuffled-left .mkdf-cg-card:nth-last-child(2) {
    -webkit-transform: scale(0.7) translateX(11.2%);
    -moz-transform: scale(0.7) translateX(11.2%);
    transform: scale(0.7) translateX(11.2%);
  }

  .mkdf-cards-gallery.mkdf-cg-shuffled-right .mkdf-cg-card {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
  }

  .mkdf-cards-gallery.mkdf-cg-shuffled-right .mkdf-cg-card.mkdf-out {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    transform: translateX(100%);
  }

  .mkdf-cards-gallery.mkdf-cg-shuffled-right .mkdf-cg-card:nth-last-child(6) {
    -webkit-transform: scale(0.3) translateX(-84%);
    -moz-transform: scale(0.3) translateX(-84%);
    transform: scale(0.3) translateX(-84%);
  }

  .mkdf-cards-gallery.mkdf-cg-shuffled-right .mkdf-cg-card:nth-last-child(5) {
    -webkit-transform: scale(0.4) translateX(-60%);
    -moz-transform: scale(0.4) translateX(-60%);
    transform: scale(0.4) translateX(-60%);
  }

  .mkdf-cards-gallery.mkdf-cg-shuffled-right .mkdf-cg-card:nth-last-child(4) {
    -webkit-transform: scale(0.5) translateX(-39%);
    -moz-transform: scale(0.5) translateX(-39%);
    transform: scale(0.5) translateX(-39%);
  }

  .mkdf-cards-gallery.mkdf-cg-shuffled-right .mkdf-cg-card:nth-last-child(3) {
    -webkit-transform: scale(0.6) translateX(-25%);
    -moz-transform: scale(0.6) translateX(-25%);
    transform: scale(0.6) translateX(-25%);
  }

  .mkdf-cards-gallery.mkdf-cg-shuffled-right .mkdf-cg-card:nth-last-child(2) {
    -webkit-transform: scale(0.7) translateX(-11.2%);
    -moz-transform: scale(0.7) translateX(-11.2%);
    transform: scale(0.7) translateX(-11.2%);
  }
}

/* ==========================================================================
   Cards Gallery shortcode responsive style - end
   ========================================================================== */

/* ==========================================================================
   Countdown shortcode responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1200px) {
  .mkdf-countdown .countdown-row .countdown-section .countdown-amount {
    font-size: 60px;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-countdown .countdown-row.countdown-show4 .countdown-section,
  .mkdf-countdown .countdown-row.countdown-show5 .countdown-section,
  .mkdf-countdown .countdown-row.countdown-show6 .countdown-section {
    width: 33.33333333333333%;
  }

  .mkdf-countdown .countdown-row .countdown-section .countdown-amount {
    font-size: 50px;
  }
}

@media only screen and (max-width: 680px) {
  .mkdf-countdown .countdown-row.countdown-show4 .countdown-section,
  .mkdf-countdown .countdown-row.countdown-show5 .countdown-section,
  .mkdf-countdown .countdown-row.countdown-show6 .countdown-section {
    width: 100%;
  }

  .mkdf-countdown .countdown-row .countdown-section .countdown-amount {
    font-size: 40px;
  }
}

/* ==========================================================================
   Countdown shortcode responsive style - end
   ========================================================================== */

/* ==========================================================================
   Custom Font shortcode responsive styles - begin
   ========================================================================== */

@media only screen and (max-width: 768px) {
  .mkdf-custom-font-holder.mkdf-disable-title-break br {
    display: none;
  }
}

/* ==========================================================================
   Custom Font shortcode responsive styles - end
   ========================================================================== */

/* ==========================================================================
   Elements Holder shortcode responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1366px) {
  .mkdf-elements-holder.mkdf-responsive-mode-1366.mkdf-two-columns .mkdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-1366.mkdf-three-columns .mkdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-1366.mkdf-four-columns .mkdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-1366.mkdf-five-columns .mkdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-1366.mkdf-six-columns .mkdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-1366.mkdf-one-column-alignment-left .mkdf-eh-item .mkdf-eh-item-content {
    text-align: left;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-1366.mkdf-one-column-alignment-right .mkdf-eh-item .mkdf-eh-item-content {
    text-align: right;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-1366.mkdf-one-column-alignment-center .mkdf-eh-item .mkdf-eh-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-elements-holder.mkdf-responsive-mode-1024.mkdf-two-columns .mkdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-1024.mkdf-three-columns .mkdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-1024.mkdf-four-columns .mkdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-1024.mkdf-five-columns .mkdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-1024.mkdf-six-columns .mkdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-1024.mkdf-one-column-alignment-left .mkdf-eh-item .mkdf-eh-item-content {
    text-align: left;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-1024.mkdf-one-column-alignment-right .mkdf-eh-item .mkdf-eh-item-content {
    text-align: right;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-1024.mkdf-one-column-alignment-center .mkdf-eh-item .mkdf-eh-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-elements-holder.mkdf-responsive-mode-768.mkdf-two-columns .mkdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-768.mkdf-three-columns .mkdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-768.mkdf-four-columns .mkdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-768.mkdf-five-columns .mkdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-768.mkdf-six-columns .mkdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-768.mkdf-one-column-alignment-left .mkdf-eh-item .mkdf-eh-item-content {
    text-align: left;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-768.mkdf-one-column-alignment-right .mkdf-eh-item .mkdf-eh-item-content {
    text-align: right;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-768.mkdf-one-column-alignment-center .mkdf-eh-item .mkdf-eh-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 680px) {
  .mkdf-elements-holder.mkdf-responsive-mode-680.mkdf-two-columns .mkdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-680.mkdf-three-columns .mkdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-680.mkdf-four-columns .mkdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-680.mkdf-five-columns .mkdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-680.mkdf-six-columns .mkdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-680.mkdf-one-column-alignment-left .mkdf-eh-item .mkdf-eh-item-content {
    text-align: left;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-680.mkdf-one-column-alignment-right .mkdf-eh-item .mkdf-eh-item-content {
    text-align: right;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-680.mkdf-one-column-alignment-center .mkdf-eh-item .mkdf-eh-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  .mkdf-elements-holder.mkdf-responsive-mode-480.mkdf-two-columns .mkdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-480.mkdf-three-columns .mkdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-480.mkdf-four-columns .mkdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-480.mkdf-five-columns .mkdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-480.mkdf-six-columns .mkdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-480.mkdf-one-column-alignment-left .mkdf-eh-item .mkdf-eh-item-content {
    text-align: left;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-480.mkdf-one-column-alignment-right .mkdf-eh-item .mkdf-eh-item-content {
    text-align: right;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-480.mkdf-one-column-alignment-center .mkdf-eh-item .mkdf-eh-item-content {
    text-align: center;
  }

  .mkdf-elements-holder .mkdf-eh-item-content {
    padding: 0 10px;
  }
}

/* ==========================================================================
   Elements Holder shortcode responsive style - end
   ========================================================================== */

/* ==========================================================================
   Full Screen Image Slider shortcode responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1440px) {
  .mkdf-full-screen-image-slider .mkdf-fsis-content-image img {
    max-width: 440px;
  }
}

@media only screen and (max-width: 1280px) {
  .mkdf-full-screen-image-slider .mkdf-fsis-slider .owl-dots {
    bottom: calc(8% - 14px);
  }

  .mkdf-full-screen-image-slider .mkdf-fsis-thumb-nav {
    top: 16%;
    height: 68%;
  }

  .mkdf-full-screen-image-slider .mkdf-fsis-item.mkdf-fsis-image-hover .mkdf-fsis-frame-top,
  .mkdf-full-screen-image-slider .mkdf-fsis-item.mkdf-fsis-image-hover .mkdf-fsis-frame-bottom {
    height: 14%;
  }

  .mkdf-full-screen-image-slider .mkdf-fsis-item.mkdf-fsis-image-hover .mkdf-fsis-frame-left,
  .mkdf-full-screen-image-slider .mkdf-fsis-item.mkdf-fsis-image-hover .mkdf-fsis-frame-right {
    width: 14%;
  }

  .mkdf-full-screen-image-slider .mkdf-fsis-item.mkdf-fsis-active-image .mkdf-fsis-frame-top,
  .mkdf-full-screen-image-slider .mkdf-fsis-item.mkdf-fsis-active-image .mkdf-fsis-frame-bottom {
    height: 0;
  }

  .mkdf-full-screen-image-slider .mkdf-fsis-item.mkdf-fsis-active-image .mkdf-fsis-frame-left,
  .mkdf-full-screen-image-slider .mkdf-fsis-item.mkdf-fsis-active-image .mkdf-fsis-frame-right {
    width: 0;
  }

  .mkdf-full-screen-image-slider .mkdf-fsis-content-image img {
    max-width: 370px;
  }

  .mkdf-full-screen-image-slider .mkdf-fsis-frame-top,
  .mkdf-full-screen-image-slider .mkdf-fsis-frame-bottom {
    height: 16%;
  }

  .mkdf-full-screen-image-slider .mkdf-fsis-frame-right,
  .mkdf-full-screen-image-slider .mkdf-fsis-frame-left {
    width: 16%;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-full-screen-image-slider .mkdf-fsis-content-image img {
    max-width: 340px;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-full-screen-image-slider .mkdf-fsis-slider .owl-nav {
    display: none;
  }

  .mkdf-full-screen-image-slider .mkdf-fsis-slider .owl-dots {
    bottom: calc(5% - 14px);
  }

  .mkdf-full-screen-image-slider .mkdf-fsis-thumb-nav {
    display: none;
  }

  .mkdf-full-screen-image-slider .mkdf-fsis-item.mkdf-fsis-content-image-init .mkdf-fsis-image-left {
    left: 2%;
  }

  .mkdf-full-screen-image-slider .mkdf-fsis-item.mkdf-fsis-content-image-init .mkdf-fsis-image-right {
    right: 5%;
  }

  .mkdf-full-screen-image-slider .mkdf-fsis-item.mkdf-fsis-content-image-init .mkdf-fsis-subtitle {
    margin: 15px 0 0;
  }

  .mkdf-full-screen-image-slider .mkdf-fsis-item.mkdf-fsis-image-hover .mkdf-fsis-image-left {
    left: calc(2% - 10px);
  }

  .mkdf-full-screen-image-slider .mkdf-fsis-item.mkdf-fsis-image-hover .mkdf-fsis-image-right {
    right: calc(5% - 10px);
  }

  .mkdf-full-screen-image-slider .mkdf-fsis-item.mkdf-fsis-image-hover .mkdf-fsis-frame-top,
  .mkdf-full-screen-image-slider .mkdf-fsis-item.mkdf-fsis-image-hover .mkdf-fsis-frame-bottom {
    height: 10%;
  }

  .mkdf-full-screen-image-slider .mkdf-fsis-item.mkdf-fsis-image-hover .mkdf-fsis-frame-left,
  .mkdf-full-screen-image-slider .mkdf-fsis-item.mkdf-fsis-image-hover .mkdf-fsis-frame-right {
    width: 10%;
  }

  .mkdf-full-screen-image-slider .mkdf-fsis-item.mkdf-fsis-active-image .mkdf-fsis-image-left {
    left: calc(2% - 25px);
  }

  .mkdf-full-screen-image-slider .mkdf-fsis-item.mkdf-fsis-active-image .mkdf-fsis-image-right {
    right: calc(5% - 25px);
  }

  .mkdf-full-screen-image-slider .mkdf-fsis-item.mkdf-fsis-active-image .mkdf-fsis-frame-top,
  .mkdf-full-screen-image-slider .mkdf-fsis-item.mkdf-fsis-active-image .mkdf-fsis-frame-bottom {
    height: 0;
  }

  .mkdf-full-screen-image-slider .mkdf-fsis-item.mkdf-fsis-active-image .mkdf-fsis-frame-left,
  .mkdf-full-screen-image-slider .mkdf-fsis-item.mkdf-fsis-active-image .mkdf-fsis-frame-right {
    width: 0;
  }

  .mkdf-full-screen-image-slider .mkdf-fsis-frame-top,
  .mkdf-full-screen-image-slider .mkdf-fsis-frame-bottom {
    height: 10%;
  }

  .mkdf-full-screen-image-slider .mkdf-fsis-frame-right,
  .mkdf-full-screen-image-slider .mkdf-fsis-frame-left {
    width: 10%;
  }
}

@media only screen and (max-width: 680px) {
  .mkdf-full-screen-image-slider .mkdf-fsis-slider .owl-dots {
    display: none;
  }

  .mkdf-full-screen-image-slider .mkdf-fsis-content-image {
    display: none;
  }
}

/* ==========================================================================
   Full Screen Image Slider shortcode responsive style - end
   ========================================================================== */

/* ==========================================================================
   Google Map shortcode responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1024px) {
  .mkdf-google-map-overlay {
    display: block;
  }
}

/* ==========================================================================
   Google Map shortcode responsive style - end
   ========================================================================== */

/* ==========================================================================
   Horizontal Timeline shortcode responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 768px) {
  .mkdf-horizontal-timeline .mkdf-ht-content {
    margin-top: 50px;
  }

  .mkdf-horizontal-timeline .mkdf-ht-content .mkdf-hti-content-inner.mkdf-timeline-has-image > * {
    width: 100%;
    float: none;
  }

  .mkdf-horizontal-timeline .mkdf-ht-content .mkdf-hti-content-inner.mkdf-timeline-has-image .mkdf-hti-content-value {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 680px) {
  .mkdf-horizontal-timeline {
    left: 10px;
  }
}

/* ==========================================================================
   Horizontal Timeline shortcode responsive style - end
   ========================================================================== */

@media only screen and (max-width: 1024px) {
  .mkdf-image-gallery .mkdf-ig-image img {
    margin: auto;
  }
}

/* ==========================================================================
   Process shortcode responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1366px) {
  .mkdf-process-holder.mkdf-responsive-1366 .mkdf-mark-horizontal-holder {
    display: none;
  }

  .mkdf-process-holder.mkdf-responsive-1366 .mkdf-mark-vertical-holder {
    display: block;
  }

  .mkdf-process-holder.mkdf-responsive-1366 .mkdf-process-inner {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    padding: 0 0 0 76px;
    margin: 0;
    box-sizing: border-box;
  }

  .mkdf-process-holder.mkdf-responsive-1366 .mkdf-process-item {
    width: 100%;
    float: none;
    padding: 0;
    text-align: inherit;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-process-holder.mkdf-responsive-1024 .mkdf-mark-horizontal-holder {
    display: none;
  }

  .mkdf-process-holder.mkdf-responsive-1024 .mkdf-mark-vertical-holder {
    display: block;
  }

  .mkdf-process-holder.mkdf-responsive-1024 .mkdf-process-inner {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    padding: 0 0 0 76px;
    margin: 0;
    box-sizing: border-box;
  }

  .mkdf-process-holder.mkdf-responsive-1024 .mkdf-process-item {
    width: 100%;
    float: none;
    padding: 0;
    text-align: inherit;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-process-holder.mkdf-responsive-768 .mkdf-mark-horizontal-holder {
    display: none;
  }

  .mkdf-process-holder.mkdf-responsive-768 .mkdf-mark-vertical-holder {
    display: block;
  }

  .mkdf-process-holder.mkdf-responsive-768 .mkdf-process-inner {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    padding: 0 0 0 76px;
    margin: 0;
    box-sizing: border-box;
  }

  .mkdf-process-holder.mkdf-responsive-768 .mkdf-process-item {
    width: 100%;
    float: none;
    padding: 0;
    text-align: inherit;
  }
}

@media only screen and (max-width: 680px) {
  .mkdf-process-holder.mkdf-responsive-680 .mkdf-mark-horizontal-holder {
    display: none;
  }

  .mkdf-process-holder.mkdf-responsive-680 .mkdf-mark-vertical-holder {
    display: block;
  }

  .mkdf-process-holder.mkdf-responsive-680 .mkdf-process-inner {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    padding: 0 0 0 76px;
    margin: 0;
    box-sizing: border-box;
  }

  .mkdf-process-holder.mkdf-responsive-680 .mkdf-process-item {
    width: 100%;
    float: none;
    padding: 0;
    text-align: inherit;
  }
}

@media only screen and (max-width: 480px) {
  .mkdf-process-holder.mkdf-responsive-480 .mkdf-mark-horizontal-holder {
    display: none;
  }

  .mkdf-process-holder.mkdf-responsive-480 .mkdf-mark-vertical-holder {
    display: block;
  }

  .mkdf-process-holder.mkdf-responsive-480 .mkdf-process-inner {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    padding: 0 0 0 76px;
    margin: 0;
    box-sizing: border-box;
  }

  .mkdf-process-holder.mkdf-responsive-480 .mkdf-process-item {
    width: 100%;
    float: none;
    padding: 0;
    text-align: inherit;
  }
}

/* ==========================================================================
   Process shortcode responsive style - end
   ========================================================================== */

/* ==========================================================================
   Section Title shortcode responsive styles - begin
   ========================================================================== */

@media only screen and (max-width: 1024px) {
  .mkdf-section-title-holder.mkdf-st-two-columns {
    padding: 0 !important;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-section-title-holder {
    padding: 0 !important;
  }

  .mkdf-section-title-holder.mkdf-st-two-columns .mkdf-st-title,
  .mkdf-section-title-holder.mkdf-st-two-columns .mkdf-st-text {
    width: 100%;
    float: none !important;
    text-align: initial !important;
  }

  .mkdf-section-title-holder.mkdf-st-two-columns .mkdf-st-text {
    margin: 14px 0 0;
  }

  .mkdf-section-title-holder.mkdf-st-disable-title-break .mkdf-st-title br {
    display: none;
  }
}

/* ==========================================================================
   Section Title shortcode responsive styles - end
   ========================================================================== */

/* ==========================================================================
   Split Section responsive styles - begin
   ========================================================================== */

@media only screen and (max-width: 1366px) {
  .mkdf-ss-holder.mkdf-ss-break-1366.mkdf-ss-image-right .mkdf-ss-image {
    position: relative;
    left: 0;
  }

  .mkdf-ss-holder.mkdf-ss-break-1366 .mkdf-ss-content {
    left: 0;
    width: 100%;
    padding: 25px;
  }

  .mkdf-ss-holder.mkdf-ss-break-1366 .mkdf-ss-image {
    position: relative;
    width: 100%;
    background-image: none !important;
  }

  .mkdf-ss-holder.mkdf-ss-break-1366 .mkdf-ss-image img {
    display: block;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-ss-holder.mkdf-ss-break-1024.mkdf-ss-image-right .mkdf-ss-image {
    position: relative;
    left: 0;
  }

  .mkdf-ss-holder.mkdf-ss-break-1024 .mkdf-ss-content {
    left: 0;
    width: 100%;
    padding: 25px;
  }

  .mkdf-ss-holder.mkdf-ss-break-1024 .mkdf-ss-image {
    position: relative;
    width: 100%;
    background-image: none !important;
  }

  .mkdf-ss-holder.mkdf-ss-break-1024 .mkdf-ss-image img {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-ss-holder.mkdf-ss-break-768.mkdf-ss-image-right .mkdf-ss-image {
    position: relative;
    left: 0;
  }

  .mkdf-ss-holder.mkdf-ss-break-768 .mkdf-ss-content {
    left: 0;
    width: 100%;
    padding: 25px;
  }

  .mkdf-ss-holder.mkdf-ss-break-768 .mkdf-ss-image {
    position: relative;
    width: 100%;
    background-image: none !important;
  }

  .mkdf-ss-holder.mkdf-ss-break-768 .mkdf-ss-image img {
    display: block;
  }
}

@media only screen and (max-width: 680px) {
  .mkdf-ss-holder.mkdf-ss-break-680.mkdf-ss-image-right .mkdf-ss-image {
    position: relative;
    left: 0;
  }

  .mkdf-ss-holder.mkdf-ss-break-680 .mkdf-ss-content {
    left: 0;
    width: 100%;
    padding: 25px;
  }

  .mkdf-ss-holder.mkdf-ss-break-680 .mkdf-ss-image {
    position: relative;
    width: 100%;
    background-image: none !important;
  }

  .mkdf-ss-holder.mkdf-ss-break-680 .mkdf-ss-image img {
    display: block;
  }
}

@media only screen and (max-width: 480px) {
  .mkdf-ss-holder.mkdf-ss-break-480.mkdf-ss-image-right .mkdf-ss-image {
    position: relative;
    left: 0;
  }

  .mkdf-ss-holder.mkdf-ss-break-480 .mkdf-ss-content {
    left: 0;
    width: 100%;
    padding: 25px;
  }

  .mkdf-ss-holder.mkdf-ss-break-480 .mkdf-ss-image {
    position: relative;
    width: 100%;
    background-image: none !important;
  }

  .mkdf-ss-holder.mkdf-ss-break-480 .mkdf-ss-image img {
    display: block;
  }
}

/* ==========================================================================
   Split Section responsive styles - end
   ========================================================================== */

/* ==========================================================================
   Interactive link showcase shortcode responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1440px) {
  .mkdf-sig-holder .mkdf-sig-info {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-sig-holder .mkdf-sig-info {
    margin-bottom: 114px;
  }
}

@media only screen and (max-width: 680px) {
  .mkdf-sig-holder .mkdf-sig-image-holder,
  .mkdf-sig-holder .mkdf-sig-info {
    position: relative;
    width: 100%;
  }

  .mkdf-sig-holder .mkdf-sig-info {
    padding-top: 40px;
  }
}

/* ==========================================================================
   Interactive link showcase shortcode responsive style - end
   ========================================================================== */

/* ==========================================================================
   Tabs shortcode responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1024px) {
  .mkdf-tabs.mkdf-tabs-standard .mkdf-tabs-nav li {
    display: block;
    float: none;
  }

  .mkdf-tabs.mkdf-tabs-standard .mkdf-tabs-nav li a {
    width: 100%;
    padding: 7px 21px;
  }

  .mkdf-tabs.mkdf-tabs-boxed .mkdf-tabs-nav li {
    margin: 0 0 8px;
    display: block;
    float: none;
  }

  .mkdf-tabs.mkdf-tabs-boxed .mkdf-tabs-nav li a {
    padding: 7px 18px;
    width: 100%;
  }

  .mkdf-tabs.mkdf-tabs-simple .mkdf-tabs-nav li {
    margin: 0 26px 0 0;
  }

  .mkdf-tabs.mkdf-tabs-vertical .mkdf-tabs-nav {
    width: 180px;
  }

  .mkdf-tabs.mkdf-tabs-vertical .mkdf-tab-container {
    width: calc(100% - 180px);
    padding: 0 0 0 30px;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-tabs.mkdf-tabs-boxed .mkdf-tabs-nav li {
    margin: 0 0 8px;
  }

  .mkdf-tabs.mkdf-tabs-simple .mkdf-tabs-nav li {
    margin: 0 20px 0 0;
    display: block;
    float: none;
  }

  .mkdf-tabs.mkdf-tabs-simple .mkdf-tabs-nav li a {
    width: 100%;
  }

  .mkdf-tabs.mkdf-tabs-vertical .mkdf-tabs-nav,
  .mkdf-tabs.mkdf-tabs-vertical .mkdf-tab-container {
    display: inline-block;
    width: 100%;
    height: auto;
  }

  .mkdf-tabs.mkdf-tabs-vertical .mkdf-tabs-nav {
    border-right: 0;
  }

  .mkdf-tabs.mkdf-tabs-vertical .mkdf-tabs-nav li {
    float: left;
    margin: 0 20px 0 0;
  }

  .mkdf-tabs.mkdf-tabs-vertical .mkdf-tab-container {
    padding: 31px 0 0;
  }
}

@media only screen and (max-width: 680px) {
  .mkdf-tabs.mkdf-tabs-simple .mkdf-tabs-nav {
    padding: 0 0 20px;
  }

  .mkdf-tabs.mkdf-tabs-simple .mkdf-tabs-nav li {
    display: block;
    float: none;
    margin: 0 0 20px;
  }

  .mkdf-tabs.mkdf-tabs-simple .mkdf-tabs-nav li a {
    padding: 0;
    width: 100%;
  }

  .mkdf-tabs.mkdf-tabs-vertical .mkdf-tabs-nav li {
    display: block;
    float: none;
    margin: 0 0 20px;
  }

  .mkdf-tabs.mkdf-tabs-vertical .mkdf-tabs-nav li a {
    padding: 0;
    width: 100%;
  }
}

/* ==========================================================================
   Tabs shortcode responsive style - end
   ========================================================================== */

/* ==========================================================================
   Vertical Split Slider shortcode responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1024px) {
  body.mkdf-vss-initialized {
    overflow-y: visible !important;
    height: auto !important;
  }

  .mkdf-vertical-split-slider,
  #multiscroll-nav {
    display: none;
  }

  .mkdf-vss-responsive {
    display: block;
  }
}

/* ==========================================================================
   Vertical Split Slider shortcode responsive style - end
   ========================================================================== */

/*# sourceMappingURL=../../../../plugins/backpacktraveler-core/assets/css/shortcodes-map-responsive.css.map */
/* ==========================================================================
   Global partials
   ========================================================================== */

/* ==========================================================================
   Shortcodes responsive styles
   ========================================================================== */

@media only screen and (max-width: 1440px) {
  .mkdf-instagram-list-holder.mkdf-il-with-title .mkdf-instagram-carousel-text .mkdf-instagram-carousel-text-inner > h4 {
    padding: 0 18%;
  }
}

@media only screen and (max-width: 1280px) {
  .mkdf-instagram-list-holder.mkdf-il-five-columns .mkdf-il-item {
    width: 33.33333%;
  }
}

@media only screen and (max-width: 1280px) and (min-width: 1025px) {
  .mkdf-instagram-list-holder.mkdf-il-five-columns .mkdf-il-item:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1280px) {
  .mkdf-instagram-list-holder.mkdf-il-six-columns .mkdf-il-item {
    width: 33.33333%;
  }
}

@media only screen and (max-width: 1280px) and (min-width: 1025px) {
  .mkdf-instagram-list-holder.mkdf-il-six-columns .mkdf-il-item:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-instagram-list-holder.mkdf-il-three-columns .mkdf-il-item {
    width: 50%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 681px) {
  .mkdf-instagram-list-holder.mkdf-il-three-columns .mkdf-il-item:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-instagram-list-holder.mkdf-il-four-columns .mkdf-il-item {
    width: 50%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 681px) {
  .mkdf-instagram-list-holder.mkdf-il-four-columns .mkdf-il-item:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-instagram-list-holder.mkdf-il-five-columns .mkdf-il-item {
    width: 50%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 681px) {
  .mkdf-instagram-list-holder.mkdf-il-five-columns .mkdf-il-item:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-instagram-list-holder.mkdf-il-six-columns .mkdf-il-item {
    width: 50%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 681px) {
  .mkdf-instagram-list-holder.mkdf-il-six-columns .mkdf-il-item:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-instagram-list-holder.mkdf-il-with-title .mkdf-instagram-carousel-text {
    display: none;
  }

  .mkdf-instagram-list-holder .mkdf-instagram-carousel-text + .mkdf-instagram-carousel {
    width: calc(100% - 100px);
    margin-left: 50px !important;
  }
}

@media only screen and (max-width: 680px) {
  .mkdf-instagram-list-holder .mkdf-il-item {
    width: 100% !important;
  }
}

/*# sourceMappingURL=../../../../plugins/backpacktraveler-instagram-feed/assets/css/shortcodes-map-responsive.css.map */
/* ==========================================================================
   Global partials
   ========================================================================== */

/* ==========================================================================
   Widgets responsive styles
   ========================================================================== */

/* ==========================================================================
   Instagram widget responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1024px) {
  .mkdf-instagram-feed:not(.mkdf-instagram-carousel) li img {
    width: 100%;
  }

  .mkdf-instagram-feed:not(.mkdf-instagram-carousel).mkdf-col-6 li {
    width: 25%;
  }

  .mkdf-instagram-feed:not(.mkdf-instagram-carousel).mkdf-col-9 li {
    width: 25%;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-instagram-feed:not(.mkdf-instagram-carousel).mkdf-col-6 li {
    width: 33.33333%;
  }

  .mkdf-instagram-feed:not(.mkdf-instagram-carousel).mkdf-col-9 li {
    width: 33.33333%;
  }
}

@media only screen and (max-width: 680px) {
  .mkdf-instagram-feed:not(.mkdf-instagram-carousel) li {
    width: 50% !important;
  }
}

/* ==========================================================================
   Instagram widget responsive style - end
   ========================================================================== */

/*# sourceMappingURL=../../../../plugins/backpacktraveler-instagram-feed/assets/css/widget-map-responsive.css.map */
/* ==========================================================================
   Global partials
   ========================================================================== */

/* ==========================================================================
   Shortcodes responsive styles
   ========================================================================== */

/*# sourceMappingURL=../../../../plugins/backpacktraveler-twitter-feed/assets/css/shortcodes-map-responsive.css.map */