/* ==========================================================================
   Search styles - begin
   ========================================================================== */
/* ==========================================================================
# Search opener - begin
========================================================================== */
.mkdf-search-opener {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  line-height: 1;
  margin: 0 12px;
}

.mkdf-search-opener:before {
  content: '';
  height: 15px;
  width: 2px;
  background: #c9c9c9;
  position: absolute;
  left: -14px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.mkdf-search-opener .mkdf-search-opener-wrapper {
  display: block;
}

.mkdf-search-opener .mkdf-search-opener-wrapper > * {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.1em;
}

.mkdf-search-opener .mkdf-search-opener-wrapper > *:before {
  display: block;
  line-height: inherit;
}

.mkdf-search-opener.mkdf-search-opener-svg-path .mkdf-search-opener-wrapper > * {
  vertical-align: middle;
}

.mkdf-search-opener.mkdf-search-opener-svg-path .mkdf-search-opener-wrapper > *,
.mkdf-search-opener.mkdf-search-opener-svg-path .mkdf-search-opener-wrapper path {
  fill: currentColor;
  stroke: currentColor;
}

.mkdf-light-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-search-opener,
.mkdf-light-header .mkdf-top-bar .mkdf-search-opener {
  color: #fff !important;
}

.mkdf-light-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-search-opener:hover,
.mkdf-light-header .mkdf-top-bar .mkdf-search-opener:hover {
  color: rgba(255, 255, 255, 0.7) !important;
}

.mkdf-dark-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-search-opener,
.mkdf-dark-header .mkdf-top-bar .mkdf-search-opener {
  color: #000000 !important;
}

.mkdf-dark-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-search-opener:hover,
.mkdf-dark-header .mkdf-top-bar .mkdf-search-opener:hover {
  color: rgba(0, 0, 0, 0.7) !important;
}

/* ==========================================================================
# Search opener - end
========================================================================== */
/* ==========================================================================
# Search template style - begin
========================================================================== */
.mkdf-search-page-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0 0 80px;
}

.mkdf-search-page-holder .mkdf-search-page-form {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0 0 30px;
}

.mkdf-search-page-holder .mkdf-search-page-form .mkdf-search-title {
  margin: 0 0 20px;
}

.mkdf-search-page-holder .mkdf-search-page-form .mkdf-search-label {
  display: block;
  font-size: 13px;
}

.mkdf-search-page-holder .mkdf-search-page-form .mkdf-form-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0 0 10px;
  clear: both;
  border-bottom: 1px solid #f2f2f2;
}

.mkdf-search-page-holder .mkdf-search-page-form .mkdf-form-holder .mkdf-column-left {
  display: table-cell;
  vertical-align: top;
}

.mkdf-search-page-holder .mkdf-search-page-form .mkdf-form-holder .mkdf-column-right {
  display: table-cell;
  width: 1%;
  text-align: left;
  vertical-align: top;
}

.mkdf-search-page-holder .mkdf-search-page-form .mkdf-form-holder .mkdf-search-field {
  position: relative;
  width: 100%;
  height: 40px;
  line-height: 40px;
  margin: 0;
  padding: 0 20px 0 3px;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: 0;
  vertical-align: middle;
  -webkit-appearance: none;
  box-sizing: border-box;
}

.mkdf-search-page-holder .mkdf-search-page-form .mkdf-form-holder .mkdf-search-field::-webkit-input-placeholder {
  color: inherit;
}

.mkdf-search-page-holder .mkdf-search-page-form .mkdf-form-holder .mkdf-search-field:-moz-placeholder {
  color: inherit;
  opacity: 1;
}

.mkdf-search-page-holder .mkdf-search-page-form .mkdf-form-holder .mkdf-search-field::-moz-placeholder {
  color: inherit;
  opacity: 1;
}

.mkdf-search-page-holder .mkdf-search-page-form .mkdf-form-holder .mkdf-search-field:-ms-input-placeholder {
  color: inherit;
}

.mkdf-search-page-holder .mkdf-search-page-form .mkdf-form-holder .mkdf-search-submit {
  position: relative;
  display: inline-block;
  width: auto;
  height: 40px;
  line-height: 40px;
  padding: 0;
  font-size: 18px;
  color: #565050;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  vertical-align: middle;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.mkdf-search-page-holder .mkdf-search-page-form .mkdf-form-holder .mkdf-search-submit:hover {
  color: #000000;
}

.mkdf-search-page-holder article {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 30px 0;
  margin: 0;
  border-bottom: 1px solid #f2f2f2;
}

.mkdf-search-page-holder article.sticky .mkdf-post-title a {
  color: #f7775e;
}

.mkdf-search-page-holder article.page .mkdf-post-title-area .mkdf-post-info > div.mkdf-post-info-category {
  display: none;
}

.mkdf-search-page-holder article .mkdf-post-content {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.mkdf-search-page-holder article .mkdf-post-image {
  display: block;
  float: left;
  width: 130px;
}

.mkdf-search-page-holder article .mkdf-post-image a, .mkdf-search-page-holder article .mkdf-post-image img {
  display: block;
}

.mkdf-search-page-holder article .mkdf-post-title-area {
  min-height: 130px;
  padding: 0 0 0 150px;
}

.mkdf-search-page-holder article .mkdf-post-title-area.mkdf-no-thumbnail {
  padding: 0;
  min-height: inherit;
}

.mkdf-search-page-holder article .mkdf-post-title-area .mkdf-post-title-area-inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.mkdf-search-page-holder article .mkdf-post-title-area .mkdf-post-title-area-inner .mkdf-post-title {
  margin: 0;
}

.mkdf-search-page-holder article .mkdf-post-title-area .mkdf-post-title-area-inner .mkdf-post-excerpt {
  margin: 7px 0 0;
}

.mkdf-search-page-holder .mkdf-blog-pagination {
  margin: 50px 0 0;
}

/* ==========================================================================
# Search template style - end
========================================================================== */
/* ==========================================================================
# Fullscreen search - start
========================================================================== */
/* Fullscreen search general style - start
========================================================================== */
.mkdf-fullscreen-search-holder {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 105;
  opacity: 0;
}

.mkdf-fullscreen-search-holder .mkdf-fullscreen-search-table {
  display: table;
  width: 100%;
  height: 100%;
}

.mkdf-fullscreen-search-holder .mkdf-fullscreen-search-cell {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  text-align: center;
}

.mkdf-fullscreen-search-holder .mkdf-form-holder-inner {
  position: relative;
  width: 60%;
  margin: auto;
}

.mkdf-fullscreen-search-holder .mkdf-form-holder-inner .mkdf-line {
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  border-bottom: 1px solid #f2f2f2;
  -webkit-transition: all 0.3s 0.2s;
  -moz-transition: all 0.3s 0.2s;
  transition: all 0.3s 0.2s;
}

.mkdf-fullscreen-search-opened .mkdf-fullscreen-search-holder .mkdf-form-holder-inner .mkdf-line {
  width: 100%;
  -webkit-transition: width 0.5s ease 0.6s;
  -moz-transition: width 0.5s ease 0.6s;
  transition: width 0.5s ease 0.6s;
}

.mkdf-fullscreen-search-holder .mkdf-field-holder {
  display: block;
  position: relative;
}

.mkdf-fullscreen-search-holder .mkdf-search-field {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 25px;
  color: #000000;
  line-height: 2em;
  background: transparent;
  border: 0;
  border-radius: 0;
  outline: none;
}

.mkdf-fullscreen-search-holder .mkdf-search-submit {
  position: absolute;
  right: 0;
  bottom: -20px;
  width: auto;
  color: #565050;
  background-color: transparent;
  border: none;
  outline: none;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: all 0.3s 0.2s;
  -moz-transition: all 0.3s 0.2s;
  transition: all 0.3s 0.2s;
}

.mkdf-fullscreen-search-holder .mkdf-search-submit:hover {
  color: #000000;
}

.mkdf-fullscreen-search-opened .mkdf-fullscreen-search-holder .mkdf-search-submit {
  opacity: 1;
  bottom: 40px;
  -webkit-transition: color 0.2s ease, opacity 0.2s ease-out 1.1s, bottom 0.4s ease-out 0.9s;
  -moz-transition: color 0.2s ease, opacity 0.2s ease-out 1.1s, bottom 0.4s ease-out 0.9s;
  transition: color 0.2s ease, opacity 0.2s ease-out 1.1s, bottom 0.4s ease-out 0.9s;
}

.mkdf-fullscreen-search-holder .mkdf-search-submit.mkdf-search-submit-icon-pack {
  font-size: 18px;
  line-height: 1em;
}

.mkdf-fullscreen-search-holder .mkdf-search-submit.mkdf-search-submit-svg-path > *,
.mkdf-fullscreen-search-holder .mkdf-search-submit.mkdf-search-submit-svg-path path {
  fill: currentColor;
  stroke: currentColor;
}

.mkdf-fullscreen-search-holder .mkdf-search-close {
  position: absolute;
  top: 33px;
  right: 70px;
  color: #565050;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}

.admin-bar .mkdf-fullscreen-search-holder .mkdf-search-close {
  top: 72px;
}

.mkdf-fullscreen-search-holder .mkdf-search-close:hover {
  color: #000000;
}

.mkdf-fullscreen-search-holder .mkdf-search-close.mkdf-search-close-icon-pack {
  font-size: 25px;
  line-height: 1em;
}

.mkdf-fullscreen-search-holder .mkdf-search-close.mkdf-search-close-icon-pack * {
  display: block;
  line-height: inherit;
}

.mkdf-fullscreen-search-holder .mkdf-search-close.mkdf-search-close-icon-pack *:before {
  display: block;
  line-height: inherit;
}

.mkdf-fullscreen-search-holder .mkdf-search-close.mkdf-search-close-svg-path > * {
  vertical-align: middle;
}

.mkdf-fullscreen-search-holder .mkdf-search-close.mkdf-search-close-svg-path > *,
.mkdf-fullscreen-search-holder .mkdf-search-close.mkdf-search-close-svg-path path {
  fill: currentColor;
  stroke: currentColor;
}

/* Fullscreen search general style - end
========================================================================== */
/* Fullscreen search fade style - start
========================================================================== */
.mkdf-search-fade .mkdf-fullscreen-search-holder {
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  opacity: 0;
  z-index: 112;
  box-sizing: border-box;
}

.mkdf-search-fade .mkdf-fullscreen-search-holder .mkdf-fullscreen-search-table {
  background-color: rgba(255, 255, 255, 0.98);
}

.mkdf-search-fade-out.mkdf-search-fade .mkdf-fullscreen-search-holder {
  -webkit-animation: search_fade_out 0.2s ease-out both;
  -moz-animation: search_fade_out 0.2s ease-out both;
  animation: search_fade_out 0.2s ease-out both;
}

.mkdf-search-fade-in.mkdf-search-fade .mkdf-fullscreen-search-holder.mkdf-animate {
  -webkit-animation: search_fade_in 0.3s ease both;
  -moz-animation: search_fade_in 0.3s ease both;
  animation: search_fade_in 0.3s ease both;
}

.mkdf-search-fade .mkdf-fullscreen-search-holder.mkdf-animate .mkdf-search-close {
  opacity: 1;
  visibility: visible;
}

@-webkit-keyframes search_fade_out {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes search_fade_out {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes search_fade_in {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes search_fade_in {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

/* Fullscreen search fade style - end
========================================================================== */
/* ==========================================================================
# Fullscreen search - end
========================================================================== */
.mkdf-search-opener-holder {
  position: relative;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  width: 43px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}

.mkdf-search-opener-holder:before {
  content: '';
  height: 15px;
  width: 1px;
  background-color: #f2f2f2;
  left: 0;
  top: 50%;
  position: absolute;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.mkdf-search-opener-holder .mkdf-search-opener {
  z-index: 15;
  text-align: center;
}

.mkdf-search-opener-holder .mkdf-search-opener span {
  width: 100%;
}

.mkdf-search-opener-holder .mkdf-search-opener:before {
  display: none;
}

.mkdf-search-opener-holder .mkdf-on-side-search-form {
  position: relative;
  right: 0;
  width: 0;
  opacity: 0;
  display: inline-block;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.mkdf-search-opener-holder .mkdf-on-side-search-form .mkdf-field-holder input[type=text] {
  margin-bottom: 0;
  border-bottom: 0;
  padding: 0 0 0 7px;
  line-height: 43px;
  font-family: "Lora", serif;
  font-weight: 400;
  color: #888888;
  border: none;
  font-size: 14px;
  background-color: transparent;
}

.mkdf-search-opener-holder .mkdf-on-side-search-form button {
  position: absolute;
  width: 40px;
  float: left;
  color: #000000;
  font-size: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.3s 0.2s;
  -moz-transition: all 0.3s 0.2s;
  transition: all 0.3s 0.2s;
  z-index: 10;
  display: none;
}

.mkdf-search-opener-holder .mkdf-on-side-search-form button .mkdf-onside-btn-icon {
  display: block;
  width: 20px;
  height: 20px;
  background-color: transparent;
}

.mkdf-search-opener-holder.opened {
  width: 205px;
}

.mkdf-search-opener-holder.opened .mkdf-on-side-search-form {
  opacity: 1;
  width: 80%;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.mkdf-search-opener-holder.opened .mkdf-search-opener-wrapper {
  z-index: 0;
}

.mkdf-search-opener-holder.opened button {
  z-index: 20;
  right: -40px;
  top: 0;
  height: 100%;
  display: block;
}

.mkdf-header-centered-logo-down .mkdf-search-opener-holder:before {
  background-color: #959595;
}

.mkdf-light-header .mkdf-search-opener-holder:before {
  background-color: #fff;
}

.mkdf-light-header .mkdf-search-opener-holder .mkdf-on-side-search-form:before {
  background-color: #fff;
}

.mkdf-light-header .mkdf-search-opener-holder .mkdf-on-side-search-form .mkdf-field-holder input[type=text] {
  color: #fff;
}

/* ==========================================================================
   Search styles - end
   ========================================================================== */

/*# sourceMappingURL=search-map.css.map */
